[2020-04-09 10:34] nunomaduro opened #1 "RFC: Uses function"
**TL; DR**: This RFC it's about the `$this` binding of the given closures to the underlying PHPUnit test case class - It proposes the `uses` function that you can use to instruct Pest to use a specific class/trait at a file-level or directory-level.

![foo](https://user-images.githubusercontent.com/5457236/78892833-5c301b00-7a6a-11ea-9eb6-1da7ad6e64e7.png)

## Summary

By default, every given clos

[2020-04-09 10:48] deleugpn commented on #1
I haven't used or tested Pest at all, so if what I say makes no sense please ignore.

With Laravel routing system, I like to change my RouteServiceProvider to declare context-based route files. I have 5 route files and in the RouteServiceProvider I configure groups with a specific set of middleware.

This seems similar. Imagine

[code]

The obvious problem being the increase of one level of indent

[2020-04-09 12:04] musa11971 commented on #1
To be honest, I had to look at it for at least 5 minutes before I could grasp what was going on, but now I think I understand how it works.

It's *okay*. I don't per se like it, to be frank. The thing that confused me especially was:
[code]
I doesn't make sense to me that you would put the class and trait next to each other like that.

I came up with a different API that makes a bit more sense to

[2020-04-09 12:19] nunomaduro commented on #1
@musa11971 Thanks for your feedback, it seems that you are happy with the current way of doing things ( a global helper that instructs pest about things ) and you just want to change the api of that helper function.

[2020-04-14 16:42] #1 closed

[2020-05-12 17:12] nunomaduro opened #4 "Missing support to Infection PHP"
Infection is a PHP mutation testing framework based on AST (Abstract Syntax Tree) mutations: https://infection.github.io/guide.

**Problem**: When running Infection against a test suite written in Pest, Infection will use the `phpunit` binary instead causing the following exception:

[code]

**How to fix this issue**: Develop a Pest adapter and pull request it to the [Infection repository](https:/

[2020-05-12 19:34] nunomaduro opened #5 "Missing PHPStorm plugin"
The IDE completion in PHPStorm can be better on closure based tests.

**Problem**: The `$this` variable inside closures don't get autocompletion on PHPStorm by default.

[code]

**Workaround**: Add a type hint just before the `$this` variable.

[code]

**Solution**: Develop a phpstorm-plugin that can hint phpstorm about this.

[2020-05-16 13:34] nhedger opened #9 "Capitalized acronyms in description get lowercased and split"
Hi,

I've come across the following bug.

When using a capitalized acronym inside the test's description (e.g. API), when running the test it will be printed lowercase and a space will be added between each characters.

**Code sample**
[code]

This gets printed as:

[code]

**Expected result**
The description should probably be printed as is. If this is not possible, capitalized acronyms at least

[2020-05-18 14:29] AlexMartinFR opened #10 "New command options for Pest"
It would be nice if Pest were to support Unix-style short syntax for its command-line options:

`--coverage` would be shortened `-c`
`--min=75` would be shortened `-m 75`
`--group` would be shortened `-g`

**Problem 1:** Pest adds its options on top of PHPUnit's own options:

`-c` is mapped to PHPUnit's _Read configuration from XML file_ feature and thus not available.

**Problem 2:** For the same

[2020-05-20 21:10] maks-rafalko commented on #4
Hello, Infection's creator here.

Thanks for looking into this and creating this issue.

@owenvoke can you please share an adapter you created for Pest? I wonder how you deal with `TestFrameworkAdapter` interface and determining whether the test failed or not.

Regarding adapter: I would suggest creating an official repository at `infection/pest-adapter` to be in line with already 3 implemented:

[2020-05-21 18:07] JoshMoreno commented on #5
@nunomaduro Any reason to not do what @olivernybroe suggested?
As he said, this would benefit developers that don't use phpstorm and `$this` can still be bound making this completely optional for the developer. And we wouldn't require a separate phpstorm plugin that someone has to end up maintaining.

[2020-05-21 18:14] miscbits opened #11 "Remove Warnings for no assertions"
In line with other testing frameworks, a test that has no function should not throw warnings when there are no assertions. Example of this (using a fake service)

[code]

Currently both of these throws warnings. I suggest the first should just show yellow highlighted text with no warning and the second should throw a warning.

[2020-05-21 19:31] liorchamla opened #12 "ShouldNotHappen Exception when testing with --coverage"
Hi all ! Just found this when I launches `vendor/bin/pest tests --coverage` for the first time :(

- Issue: Coverage not found in path: /Users/liorchamla/code/angsym8/_php/07-csv-tests/vendor/pestphp/pest/.temp/coverage.php.
- PHP version: 7.4.3
- Operating system: Darwin

To notice : I have **pecl.php.net/xdebug-2.9.2**

[2020-05-21 19:39] nunomaduro commented on #12
Can you try `vendor/bin/pest --coverage`?

[2020-05-21 19:40] liorchamla commented on #12
Not a bug Nuno, i'm just bad at testing and forgot about the whitelist.

Sorry for this. Closing the issue :)

[2020-05-21 19:40] #12 closed

[2020-05-21 19:45] nunomaduro commented on #12
Maybe you can open an new one so we can improve the exception on the console in this cases?

[2020-05-21 23:05] miscbits commented on #11
Another example to make this clearer. The following test suite should return the following results
[code]

[code]

[2020-05-21 23:32] liorchamla opened #13 "Add a notice if user asks for coverage without whitelist"
Hey all, as Nuno asked me to, I post this new issue referencing https://github.com/pestphp/pest/issues/12 : when you ask for `--coverage` you must have a whitelist in order to tell PHPUnit which files you want to monitor for coverage.

For now, you will just have a ShouldNotHappenException which states that coverage could not be done.

It could be usefull for beginners (like me) to suggest that ma

[2020-05-22 00:04] liorchamla commented on #13
Weird thing btw, when I tried to work on a solution to implement this, I found these lines inside  `PHPUnit\TextUI\TestRunner` (around line 578) :
[code]

So it seems this situation is already addressed by PHPUnit itself. Will look around to see what can be done.

[2020-05-22 00:27] nunomaduro commented on #13
I think we are not show those messages... It may have something todo with the printer. Thanks for reporting this...

[2020-05-22 02:11] robsontenorio opened #14 "[Question] Run through composer script"
Once we don't have Discussions tab:

I use `pcov` to run coverage reports. So i just enable it when need, to avoid performance issues when TDDing.

[code]

RUN `composer coverage`

Colors works as expected on test output

![image](https://user-images.githubusercontent.com/118955/82624145-3d1fbf80-9bb8-11ea-9fd3-e4fafb06cbc5.png)

But coverage section have no colors.

![image](https://user-images.g

[2020-05-22 02:23] michaeldyrynda commented on #14
Try with the `--ansi` flag

[2020-05-22 02:31] robsontenorio commented on #14
![image](https://user-images.githubusercontent.com/118955/82625241-08613780-9bbb-11ea-8eec-79913a1df7f0.png)

![image](https://user-images.githubusercontent.com/118955/82625258-0f884580-9bbb-11ea-9b6a-10e012d5e5c3.png)

[2020-05-22 02:34] robsontenorio commented on #14
Also phpunit does not accpet `--ansi` flag

![image](https://user-images.githubusercontent.com/118955/82625460-8c1b2400-9bbb-11ea-8bd5-04ee88cc5e18.png)

[2020-05-22 23:33] mikeerickson opened #15 "Plans for `describe` blocks?"
Curious, what are your thoughts about implementing the standard `describe` blocks?

Ala?

https://jestjs.io/docs/en/api#describename-fn

Example

[code]

[2020-05-22 23:36] mikeerickson opened #16 "Plans for `only` modifier?"
Along the lines of `describe` blocks, curious of the thought process for using `only` modifier

Example

[code]

[2020-05-22 23:57] nunomaduro commented on #16
It’s already there no?

[2020-05-23 01:16] nunomaduro commented on #16
<img width="849" alt="Screenshot 2020-05-23 at 03 15 59" src="https://user-images.githubusercontent.com/5457236/82718606-ba742e80-9ca3-11ea-841d-02a4f22a0d65.png">

[2020-05-23 01:16] #16 closed

[2020-05-23 01:49] JoshMoreno opened #17 "Document pest cli"
A simple page for this should suffice. I'm thinking

- Document that pest forwards all arguments to PHPUnit. For example, I often use `--filter` to cut down on test time when I'm working on a specific feature.
- Document pest specific arguments (`--coverage` and `--min`). This would be in addition to the coverage page.

[2020-05-23 02:07] mikeerickson commented on #16
Ah, my bad. I missed this one 🤓

[2020-05-23 10:29] nunomaduro commented on #17
Can you sync with @AlexMartinFR ? I think he can help you making a pull request on docs about this.

[2020-05-23 13:33] AlexMartinFR commented on #17
Hi @JoshMoreno , I have a few other docs improvement & additions waiting, but if you can make a draft for this I'll be happy to review and improve upon it if you want.

A list of the other PHPunit options you find the most useful and a small description for each, just like you did here would be perfect.

[2020-05-23 16:04] LarsWiegers opened #19 "Idea: get easy access to an faker instance in pest"
We could have an $this->faker instance or something like that or an trait that we can implement using uses(), love to know your ideas on this

[2020-05-23 16:14] canvural commented on #19
You can create a [custom helper](https://pestphp.com/docs/helpers/) function called `faker` that returns a Faker instance. And use it like `faker()->text` in your tests. I think that's pretty easy.

[2020-05-23 16:41] nunomaduro commented on #19
Ideally this would be also a plugin. 🥰

[2020-05-23 20:49] JoshMoreno commented on #17
@AlexMartinFR Sure, no problem! How would you like the draft? Markdown, just some notes like I did below, etc...? It's going to be really simple, since all I really use is `--filter` and `--group`, but pest already has it's own api for grouping tests. So I'm thinking:

- A note about pest forwarding args to PHPUnit with an example using `--filter` to get the point across.
- A section to list pest

[2020-05-23 21:07] AlexMartinFR commented on #17
Markdown is great, it's what the other documentation pages are written in 🙂
Yeah I would go with two sections too:

- Pest's own CLI first, each command detailed with a code/output example
- Then PHPUnit's other useful CLI options (it's worth polling the other Pest users on the Discord for their favorite ones)

[2020-05-24 03:20] mikeerickson opened #21 "How to go about using Laravel Models"
Just trying to do something like

[code]

Throws the following

[code]

[2020-05-24 17:02] zingimmick opened #23 "Test with Mockery\Expectation will be marked as risky."
Pest will mark the following test as risky. PHPUnit will mark it as passed.

[code]

[2020-05-24 17:31] nunomaduro commented on #21
As specified on the guide: https://pestphp.com/docs/guides/laravel/.

If you want to use your Laravel applications within your unit tests, you will need to adapt your `Pest.php` file with something like this:

[code]

[2020-05-24 17:31] #21 closed

[2020-05-24 17:45] nunomaduro commented on #23
On it...

[2020-05-24 17:54] AlexMartinFR opened #25 "Idea: set the minimum code coverage target value in a config file"
**Problem:**
Every time you want to check your code coverage, you have to repeat the `--min=70` command line option.

**Suggestion:**
This target value should be set once per project in a config file:
- It would save a few keystrokes / lighten the cognitive load of remembering the syntax
- Every collaborator would be on the same page
- It wouldn't prevent revising the target later on

It could be

[2020-05-24 18:01] nunomaduro commented on #23
https://github.com/pestphp/pest/commit/415f5719101b30c11d87f74810a71686ef2786c6

[2020-05-24 19:42] nunomaduro commented on #14
Fixed on `v0.1.5`.

[2020-05-24 19:42] #14 closed

[2020-05-24 19:42] nunomaduro commented on #23
Fixed on `v0.1.5`.

[2020-05-24 19:42] #23 closed

[2020-05-24 20:37] Pierstoval opened #26 "Phar version?"
I wish there could be a scoped-phar version of Pest, to allow downloading in a blink of an eye without having to check anything on the current project, and without pest having compatibility issues with PHPUnit, nor the need for PHPUnit by the way.

PHPUnit has a scoped phar since version 8.1, and it has a special list of scripts to generate this scoped phar: https://github.com/sebastianbergmann/ph

[2020-05-25 06:52] jeroenf-avg opened #27 "Idea: loading pest.php, helpers and datasets from another directory"
Hi! Right now, it looks like the Pest.php & Helpers.php have to be in the "/tests" directory for them to load. What if my projects tests are not in "/tests", but in another directory, configured through the phpunit.xml file?

Ideally, I would like to have the Pest.php, Helpers.php, Datasets, etc in the root of my own tests directory. Because they feel (especially the helpers & datasets) as part of

[2020-05-25 07:28] nunomaduro commented on #27
Yeah - Pest assumes that your Test suite haves a certain structure. Today, I am not sure you can have something like that.

[2020-05-25 08:15] fetzi opened #28 "Idea: Higher Order Tests - handle null returns"
When chaining multiple higher order methods it can happen, that one assertion does not return the target instance and simply returns null or nothing.

For example

[code]

does not work because `assertArrayHasKey` returns null. So the second assertion breaks.

The idea would be to keep the initial target and reuse it when a chain method does not return a value.

[code]

What do you think?

[2020-05-25 08:30] nunomaduro commented on #28
@fetzi that would cause troubles in implementations like this:

[code]

[2020-05-25 08:31] nunomaduro commented on #28
Haaaaaaa. Just when `target` === null ?

[2020-05-25 08:32] nunomaduro commented on #28
Sounds good, can you make a pull request with tests on that?

[2020-05-25 14:11] Joucke opened #30 "Multiple `uses` statements influence working of test suite"
I added a new line in my Pest.php, below `uses(TestCase::class)->in('Feature');`:
`uses(RefreshDatabase::class)->in('Feature');`

Like suggested in https://pestphp.com/docs/underlying-test-case/

After some debugging, with no functionality from TestCase::class, I figured out I had to combine these, or else the latter will override the former, leaving TestCase functionality out of my tests.

This g

[2020-05-25 14:35] AlexMartinFR commented on #30
You are not stupid :)
Indeed I think we could improve the doc clarity on that point.

You can submit a revised version of the [documentation page](https://pestphp.com/docs/underlying-test-case/), just click the "Edit this page" link on the top right 🙂

(Otherwise I'll work something out when I have the time again)

Thanks!

[2020-05-25 17:29] owenvoke commented on #19
I guess this is solved by the Faker plugin now. :+1:

- [Documentation](https://pestphp.com/docs/plugins/faker/)
- [Source code](https://github.com/pestphp/pest-plugin-faker)

[2020-05-25 17:36] LarsWiegers commented on #19
Looks good!

[2020-05-25 17:36] #19 closed

[2020-05-25 18:45] maurobonfietti opened #31 "Require to set the "minimum-stability" in composer.json"
Hi :wave:, I have been using pest and reading his documentation. It's useful to have an option to skip a specific test with `->skip()` and also to run a single test with `->only()`.

Nice work!

I have a question, is it required to set the **minimum-stability** in our `composer.json`?

Because if not exist the option for "minimum-stability" I can't require `pest` and I get this error:

[code]

Now

[2020-05-25 18:58] owenvoke commented on #31
It's usually set in frameworks like Laravel and packages with the additional `prefer-stable` option set. (e.g. https://github.com/laravel/laravel/blob/master/composer.json#L49-L50)

When Collision v5 releases as a stable release this isn't technically needed, however I usually include it anyway. Not sure what other people do. 🤔

[2020-05-25 19:31] nunomaduro commented on #31
We need to add a note on the installation process that people need to have this in their composer:

[code]

Can someone pull request this please?

[2020-05-25 20:51] theofidry commented on #4
@maks-rafalko I think it's also an opportunity to adapt the config locator.

I don't think it makes sense anymore to have it in the core with hard-coded path when its responsibility is to locate the test framework config path, which depends on the test framework itself.

One way would be to move the interface directly in https://github.com/infection/abstract-testframework-adapter or it could even

[2020-05-26 06:05] Joucke opened #32 "Support for PHPUnit @covers notation"
PHPUnit supports coverage [annotations](https://phpunit.readthedocs.io/en/9.1/annotations.html), both test class wide and per test.

[code]

This will limit coverage calculation to only this class (or method, if specified, etc).

Is it possible to do this in Pest?

[2020-05-26 08:53] owenvoke commented on #32
This would be quite interesting to have with methods for `covers(... $class)` and `coversNothing()`.

I've taken a quick look and I'm not sure if this could be implemented in a similar way to the [`group()` call](https://github.com/pestphp/pest/blob/master/src/PendingObjects/TestCall.php#L81).

We may be able to look at [this method in PHPUnit](https://github.com/sebastianbergmann/phpunit/blob/3da

[2020-05-26 11:30] fetzi commented on #31
will be fixed with pestphp/website#22

[2020-05-26 12:46] AlexMartinFR commented on #10
Would something like this be possible?
(I'm asking about the information design part, I know the options I drawn are still competing with PHPUnit's natives options names)

<img width="985" alt="PestHelp" src="https://user-images.githubusercontent.com/19224681/82901936-f5ee5180-9f5e-11ea-8215-9609ecce3efe.png">

Showing Pest's options as a section of PHPUnit's own help screen brings everything you

[2020-05-26 18:16] AlexMartinFR commented on #10
Also, now that I'm using groups a lot with Pest, I realised that a short `pest -g auth` would be awesome!
(And that's one PHPUnit is not using)

[2020-05-26 22:13] AlexMartinFR opened #33 "Troubleshooting: What pain points did you encounter while trying Pest?"
In an effort to improve Pest and its documentation, we would like to collect your experience trying Pest for the first time.
Remember, there is no wrong answer 🙂

- **What problems did you encounter?**

- **How did you solve them?**

- **How familiar are you with PHPUnit & testing in general?**

To get the ball rolling, I'll share my first roadblock:

- While converting the [TALL preset](https://g

[2020-05-26 23:08] AlexMartinFR commented on #31
This is now live: [https://pestphp.com/docs/installation/](https://pestphp.com/docs/installation/)

[2020-05-27 00:49] maurobonfietti commented on #31
Thank you very much

[2020-05-27 00:49] #31 closed

[2020-05-27 01:20] nunomaduro opened #34 "Missing changelog on the website"
Just an idea. Would be cool to replicate ( automatically ) our changelog. Just like we in phpinsights: https://phpinsights.com/changelog.html#v1-14-0.

[2020-05-27 01:24] nunomaduro opened #35 "Missing the team on the website"
At long term, I wanna pest to run on its own. Would be cool an page on the website ( like https://vuejs.org/v2/guide/team.html or better ) where people understand the different concerns of the project and the people involved on those concerns.

[2020-05-27 08:40] nunomaduro commented on #35
The idea here is also see open positions. Example: Discord moderator, issue triage, etc.

[2020-05-27 10:19] dmason30 commented on #33
I would like to preface the below in saying I have really enjoyed using this since launch and while it does make a great number of things easier and results in cleaner tests (in most cases) so many thanks to all the contributors its a great package.

I am creating a rather complex package to generate pest tests as an addon [Laravel Shift's Blueprint](https://github.com/laravel-shift/blueprint) her

[2020-05-27 10:26] nunomaduro commented on #33
Get this question all the time. I think this deserve a guide.

[2020-05-27 13:48] dsampaolo commented on #33
Hello,

First timer with Pest, I know how to use phpUnit and write tests with it. I use it mainly with Laravel.

I like to unit-tests my API routes (for example, to check that "api:auth" middleware is enforced on all restricted routes). I didn't (ye) find a simple way to add an "Accept: application/json" header to my test :

```it('needs to be logged in')->get('/api/user')->assertStatus(401);```

[2020-05-27 13:55] fetzi commented on #33
Hey @dsampaolo,
you can do this by adding a second parameter to the `get` method:

[code]

[2020-05-27 13:58] dsampaolo commented on #33
Hi @fetzi,

Thanks a lot. I just realized that I can use getJson() as well :

`it('needs to be logged in')->getJson('/api/user')->assertStatus(401);`

Thank you again ! :)

[2020-05-27 23:38] nunomaduro opened #36 "Builds failing on windows"
Currently builds are failing on windows: https://github.com/pestphp/pest/runs/704328906?check_suite_focus=true.

<img width="699" alt="Screenshot 2020-05-28 at 01 37 22" src="https://user-images.githubusercontent.com/5457236/83082434-c84ef880-a083-11ea-8dba-e4c5d1d19f83.png">

Some help would be appreciated here.

[2020-05-28 04:02] Maxim-Mazurok commented on #36
That's how we do this in NodeJS:
`eslint` for Unix:
[code]

and `eslint.cmd` for Windows:
[code]

Hopefully, that may help

[2020-05-28 08:15] fetzi commented on #36
I think the problem with the failing unit tests lies somewhere in https://github.com/pestphp/pest/blob/master/src/PendingObjects/UsesCall.php#L59. Can you reproduce the failing tests on Windows?

[2020-05-28 12:19] filipac opened #38 "$this not bound to the instance - undefined method visit"
Hello!. I've installed Pest in a relative new project, started this month with Laravel 7. Not many packages installed yet and wanted to try Pest in it. Tried to make a simple Login test and it fails:
[code]

[code]

dd-ing $this returns `"P\Tests\Feature\LoginTest"`

[2020-05-28 12:19] filipac commented on #38
My phpunit.xml for reference (standard Laravel one, nothing changed)
[code]

[2020-05-28 12:25] filipac commented on #38
Doing it without the closure seems to point to the right TestClass:
[code]
[code]

But still no visit method available.

[2020-05-28 12:29] filipac commented on #38
Hmm i might be stupid and it's ->get instead of visit.

[2020-05-28 12:29] #38 closed

[2020-05-28 12:58] AlexMartinFR opened #39 "Accessibility: epilepsy & animated logo?"
Something interesting came up during our Laracon break talk, regarding the Pest logo.

**Concerns:**
We wonder if people suffering from **epilepsy** would be affected by the **animated logo** on Pest's home page.

**Resources:**
- An actual academic testing tool: [Photosensitive Epilepsy Analysis Tool (PEAT)](https://trace.umd.edu/peat)
- A [Guide to use this tool](https://www.useragentman.com/blo

[2020-05-28 13:06] nunomaduro commented on #39
cc @caneco

[2020-05-28 13:06] nunomaduro commented on #39
Thanks for creating this issue.

[2020-05-28 14:26] petemcfarlane commented on #5
I don't know if it's relevant to this issue exactly, but the biggest thing preventing me adopting pest is the PHPStorm integration with the test runner.

I've no idea how it works, sorry, but I know they support PHPUnit, PhpSpec and Behat and I think Codeception.

<img width="546" alt="Screenshot 2020-05-28 at 15 18 21" src="https://user-images.githubusercontent.com/3472717/83153202-975bdb80-a0f6-

[2020-05-28 14:31] caneco commented on #39
@AlexLombry thanks for pointing this out 😅

Really need to check this, we don't want to injure someone 😶

[2020-05-28 15:27] AlexMartinFR commented on #39
I'm not sure I'm him, but thanks 😅

If someone find something interesting about this topic it would be cool to share it here, it would be good knowledge to spread around if we encounter that problem in the future!

[2020-05-28 17:25] AlexLombry commented on #39
Since I saw the comment yes i wasn’t aware of that kind of problem. It’s very interesting to know

[2020-05-28 19:22] Kristories commented on #35
@nunomaduro I tried to make it, but I'm not sure if it fits?
![Screen Shot 2020-05-29 at 02 19 29](https://user-images.githubusercontent.com/774338/83184050-0d8e2b80-a153-11ea-8e48-bbf527db517d.png)

[2020-05-28 19:23] Pierstoval commented on #36
I tried it locally, I've got something else:

[code]

Seems like there's some work to do, I'll investigate on this

[2020-05-28 19:27] nunomaduro commented on #35
I think you may need to sync with @AlexMartinFR and @octoper on this.

I think the most important I would just before that having the open positions.

[2020-05-28 20:04] octoper commented on #35
@Kristories Can you make a make a fork and push what you made so far so I can help you

[2020-05-28 20:22] felixdorn opened #40 "Idea: uses could default in the current directory"
Hey!

I'm playing around with Pest (awesome!) and wondering why the `uses` method don't default to the current directory.

I briefly saw how the magic is made and I think this could be possible.

However, I just noticed that `uses(TestCase::class)->in('.)` was working.

But the version without `in` seems more intuitive.

I can definitely submit a PR, if that can helps.

[2020-05-28 20:40] Kristories commented on #35
@octoper hi, yes. Please check my [branch](https://github.com/Kristories/website/tree/feature/team)

[2020-05-28 21:00] nunomaduro commented on #40
`uses` method defaults to the current directory.

[2020-05-28 21:34] felixdorn commented on #40
Okay, I got it!

That all makes sense now, the `Backtrace::file()` returns the last called file a.k.a. the current file.

I'm just too used to PHPunit.
Thanks for the quick reply!

[2020-05-28 21:34] #40 closed

[2020-05-28 21:39] Pierstoval commented on #36
Check out #41 🙂

[2020-05-28 21:52] octoper commented on #35
Nice, I will check it as soon as possible @Kristories !

[2020-05-29 03:24] octoper commented on #35
I have made some changes on @Kristories design.
Let me know what you think.

![image](https://user-images.githubusercontent.com/6823226/83217645-e6e0ec80-a174-11ea-8cbb-cb3ad642ca7c.png)

[2020-05-29 03:28] octoper commented on #34
@nunomaduro I'm gonna take a look at this later in the day.

[2020-05-29 05:00] reed-jones opened #42 "standard php unit tests not run when using 'groups'"
I'm working on converting my tests over to Pest. (Its awesome, Thanks!), When I run `vendor/bin/pest` I get 50 passed tests, roughly half are in `FolderA`, and the other half are in `FolderB`

in my Pest.php I have something like
[code]

but now when I run a group only my actual pest tests run, which means I'm missing quite a few

[code]
Not sure if this is a bug, or intended, but it definitely su

[2020-05-29 08:39] nunomaduro commented on #35
@octoper I would replace the `CORE FOCUS` (and the links bellows )just by: Founder, UX Architect, Translator, and those.

[2020-05-29 08:49] nunomaduro commented on #35
Ps, I am very fan of those page: https://elementary.io/team. But I trust you for the best decision on this one.

[2020-05-29 08:58] owenvoke commented on #35
This is looking neat! Nice job.

[2020-05-29 10:54] AlexMartinFR commented on #33
This one is closed, but I'll link this one for future reference: [#38 ](https://github.com/pestphp/pest/issues/38#event-3382547293)

Interesting confusion I think. Laravel used to have a `visit()` method for testing which is now replaced by `get()`.

Even if not directly Pest-related, it could deserve a spot in a Troubleshooting/common issues section. People would then find it via keyword research

[2020-05-29 10:56] AlexMartinFR commented on #38
You're not stupid, lot of people make this confusion, `visit()` used to be in old Laravel versions 😉

Thanks for sending an issue and detailing your solution, it will probably get added to the doc under the soon to be Troubleshooting section 👌

[2020-05-29 11:21] AlexMartinFR commented on #35
I like the idea of an horizontal list, showing multiple people per line on desktop, it brings a cooperation vibe 👍
(A vertical list evokes hierarchy imho)

Elementary.io keeps that vibe even on the smallest mobile:

<img width="355" alt="Capture d’écran 2020-05-29 à 13 16 38" src="https://user-images.githubusercontent.com/19224681/83254256-c9c90f80-a1ae-11ea-9702-60f4506f3046.png">

So, for me,

[2020-05-29 11:41] nunomaduro commented on #35
Open positions must be on the top of the list. The idea is people know exactly how they can help.

[2020-05-29 12:12] octoper commented on #35
@nunomaduro  Yeah I thought that too I will make some changes throughout the day

[2020-05-29 12:18] octoper commented on #35
I think maybe I should make it more simple to and remove the work, city, and languages.
I will just put, the name, role and social links
@AlexMartinFR you think that good idea?

[2020-05-29 12:19] AlexMartinFR commented on #30
The documentation should now be clearer about the correct usage of `uses()` : [Underlying Test Case](https://pestphp.com/docs/underlying-test-case/).

[2020-05-29 12:46] nunomaduro commented on #35
the name, role and social links ✅

[2020-05-29 12:56] AlexMartinFR commented on #35
Good call, no need to clutter the page with too much info.
If people want to know more they'll click on social stuff, that's what it's for 👍

[2020-05-29 13:26] erikaheidi commented on #33
Hello :wave:

Starting with my background in tests: I'm a test newbie, I have written tests before just "following along" within an existing project and also had experience writing tests in Ruby, and that was a lot easier than testing with PHPUnit. The first time I actually bootstrapped a testing env for a project was with Pest, and my project is fairly simple - it's CLI-based, so there's no front

[2020-05-29 14:57] maks-rafalko opened #44 "Impossible to get a Pest version from CLI"
Not sure I missed that or not, but when I run

[code]

I get

[code]

but I expect to get

[code]

or something similar. In my case, this information is needed to display what framework and what particular its version is used when running Infection PHP for with Pest.

Related to https://github.com/pestphp/pest/issues/4

[2020-05-29 15:13] AlexMartinFR commented on #44
Thanks for pointing that out!

[2020-05-29 15:14] AlexMartinFR commented on #10
Idea from [#44 ](https://github.com/pestphp/pest/issues/44)

We might want a `pest --version` | `pest -v` too.

[2020-05-29 15:31] nunomaduro commented on #33
I think we can add more assertions to Pest docs.

Can I see some code @erikaheidi ?

Thanks!

[2020-05-29 18:05] nunomaduro opened #45 "Proposal: pest-plugin-init"
After merging @fetzi's work on plugins. Would be cool to develop a `pest-plugin-init` that would work the following way:

1. In applications without tests: `./vendor/bin/pest --init`
2. Boostraps the tests folder
3. Create a configuration file

[2020-05-29 18:09] owenvoke commented on #45
This would be nice. 👍 I'd be happy to take a look when the plugin PR is merged.

[2020-05-29 18:11] nunomaduro opened #46 "Proposal: pest-plugin-memory-leak"
This plugin would detect memory leaks. I have a prototype of this, but seems that PHP itself leaks memory. I need to take a better look at this.

[2020-05-29 18:12] #36 closed

[2020-05-29 20:40] nunomaduro opened #47 "refacto: create pest-dev-tools"
Across all the repositories we are using this as `require-dev`:
[code]

Would be cool to create an repository https://github.com/pestphp/pest-dev-tools that contains all of that.

Fell free to perform a pull request.

[2020-05-30 09:34] AlexMartinFR commented on #10
I was thinking about Laravel's artisan syntax: `php artisan make:Model`

It could be nice to have Pest's commands available without dashes:

`pest coverage`
`pest coverage min:75`
`pest group auth`
`pest help`
`pest version`
`pest init`

[2020-05-30 09:38] AlexMartinFR commented on #45
Nice!
Could we get rid of the dashes to provide a cleaner CLI experience `./vendor/bin/pest init` ?

Some more thought about CLI syntax here: [#10](https://github.com/pestphp/pest/issues/10#issuecomment-636305590)

[2020-05-30 09:51] nunomaduro commented on #45
Dashes are for options. So you are right

[2020-05-30 13:06] octoper commented on #35
Hey!
I want to ask you guys how we should name the roles like
@nunomaduro will be Creator.
But I have been thinking how to label to others like @AlexMartinFR, @owenvoke, @olivernybroe etc.
And how label the open positions.

[2020-05-30 13:13] nunomaduro commented on #35
You can pull request what do you have. And the rest of the team will commit what they think they are here.

[2020-05-30 13:16] octoper commented on #35
OK! @nunomaduro

[2020-05-30 13:21] AlexMartinFR commented on #35
I think labelling positions is almost as hard as naming things in code 😋

[2020-05-30 13:26] maks-rafalko opened #48 "`junit` report is broken"
How to reproduce:

Source class:

[code]

test file:

[code]

Command line:

[code]

generated files:

[code]

And the **incorrect** `junit.xml` report looks like:

[code]

What's wrong here? look at the following line:

[code]

and in particular look at the `file` attribute:

[code]

It's not a valid test file.

---

❗❗

**Expected**: `/pest-example/tests/SourceFileTest.php`
**Actual**: `/pest-ex

[2020-05-30 13:26] octoper commented on #35
@AlexMartinFR definitely! 😪

[2020-05-30 14:45] maks-rafalko opened #49 "--colors=never is not respected"
When I run

[code]

Pest continues printing ascii chars that produces the following text:

[code]

For example, when I use `--colors=never` with PHPUnit, it correctly disables and prints just raw text:

[code]

Related to #4 (In Infection PHP, we need a "raw" output without all those colours for terminal to parse the text);

Even without Infection, it's still the issue as some CI do not support su

[2020-05-30 14:49] gulien opened #50 "Uppercase values in a dataset wrongly displayed in the output"
Hello 👋

I've encountered a weird "issue" while using a dataset with uppercase values:

[code]

Test output:

![Capture d’écran 2020-05-30 à 16 45 47](https://user-images.githubusercontent.com/8983173/83331220-040cdc80-a295-11ea-8479-eb55e2b7649d.png)

If `'Foo'` is given, I'm expecting it to be displayed as `'Foo'` not `' foo'` 🤔

Thanks for your time! 😄

[2020-05-30 14:53] nunomaduro commented on #50
You can follow that issue here: https://github.com/pestphp/pest/issues/9.

[2020-05-30 14:53] #50 closed

[2020-05-30 14:55] gulien commented on #50
@nunomaduro my bad did not find it (should have used 'capitalized' instead of 'uppercase' in my search...).

[2020-05-30 15:12] nunomaduro commented on #49
@maks-rafalko Maybe is better just change the printer to the default phpunit printer. what do you think?

[2020-05-30 16:14] nunomaduro commented on #48
That sounds normal to me.

Behind the scenes pest creates real classes to make the integration seamless with PHPUnit.

Not sure if we plan to fix this.

[2020-05-30 16:23] #35 closed

[2020-05-30 20:02] romainnorberg commented on #33
Hi @AlexMartinFR, I'm migrating my tests to PEST. It seems to me that @nunomaduro talked about  an existing integration with spatie/phpunit-snapshot-assertions but I can't find where. I did a test but the snapshot is located in `vendor/pestphp/pest/src/Factories/__ snapshots__/*` instead of being in the directory of the test file  _(the latter is the default behavior of spatie package)_

![Screens

[2020-05-30 20:19] owenvoke commented on #33
@romainnorberg, snapshots should be stored in the same place. 👍 Nuno may have been referring to the snapshots wrapper for Pest.
https://github.com/spatie/pest-plugin-snapshots

[2020-05-30 20:24] nunomaduro commented on #33
@owenvoke @romainnorberg its under works. Just waiting for @freekmurze to validate a pull request in progress.

[2020-05-30 20:40] romainnorberg commented on #33
Thanks @owenvoke @nunomaduro ✌️

[2020-05-30 21:08] AlexMartinFR commented on #33
Lots of good leads on how to improve the experience of new users 💯

It'll take some time to process everything and come up with solutions, but I wanted to let everyone know how much we appreciate you taking the time to answer ❤️

Keep these coming!

[2020-05-30 22:55] maks-rafalko commented on #49
1. is it possible right now? can't find anything related
2. if it's possibl (or will be) - will I be able to use `--colors=never` with default PHPUnit printer?
3. I still think `colors=never` should be supported by Pest. Why? For example, if Pest is used for Jenkins, there is no support for ascii codes (from what I see in my daily job :) ). So I see `�[37;41;1m FAIL` insteaf of pretty raw `FAIL`

[2020-05-30 23:16] maks-rafalko commented on #48
That's perfectly fine, but let me disagree with you that the current `junit` report "sounds normal".

So the purpose of `junit` report is to

1. give the information what *class* is used
2. give the information what *file* is used
3. give the information what *test cases* are used (methods in plain PHPUnit, or `test()` / `it()` blocks in Pest)
4. give the information about _metrics_, the most impo

[2020-05-30 23:38] nunomaduro commented on #48
Got it.

Without junit report, no infection adapter right?

[2020-05-30 23:43] maks-rafalko commented on #48
Well, we _can_ do it, but it will be barely useful. The worst thing is the time.

Another example:

* without `junit`: if we have 500 mutations and 1000 tests, it will be 500*1000=500,000 executed tests in the worst scenario
* with `junit`: if we have 500 mutations and 1000 tests, and each line is covered by 2-3 tests, we will have 500*3=1500 executed tests in the worst scenario, so it's 333 times

[2020-05-30 23:44] nunomaduro commented on #48
I will take a better look at this tomorrow.

[2020-05-31 09:41] Jibbarth commented on #49
To launch Pest with default phpunit printer, I usually do :

[code]

Just try with `--colors=never`, work as expected :wink:

Anyway, to support in in pest, this could be done:

[code]

[2020-05-31 11:39] #49 closed

[2020-05-31 12:27] octoper commented on #34
I tried to make an action to automatically see updates CHANGELOG.md and update Changelog in the website's docs but I can't figure it out 😞

[2020-05-31 12:40] maks-rafalko commented on #49
Thank you!

[2020-05-31 13:22] nunomaduro commented on #42
Yeah - that `uses` function only covers pest tests. Sorry about that.

Can you add a note on the docs about this?

[2020-05-31 13:22] #42 closed

[2020-05-31 13:25] #28 closed

[2020-05-31 13:26] nunomaduro commented on #15
It's a good idea, but no plans for now.

[2020-05-31 14:02] nunomaduro commented on #46
Seems quite impossible. PHP itself leaks memory, and composer also allocates memory while discovering classes.

[2020-05-31 14:02] #46 closed

[2020-05-31 14:03] maks-rafalko commented on #46
probably related https://github.com/Roave/no-leaks

[2020-05-31 15:14] wpoortman opened #52 "Support for Magento 2"
Would be nice to have support for Magento 2 version 2.3.3 and up.

`composer require pestphp/pest:0.1.5` on minimum-stability "stable"

**Problems**
- Installation request for pestphp/pest ^0.1.5 -> satisfiable by pestphp/pest[v0.1.5].
- pestphp/pest v0.1.5 requires nunomaduro/collision ^5.0 -> satisfiable by nunomaduro/collision[v5.0.0-BETA1] but these conflict with your requirements or minimum-s

[2020-05-31 15:17] nunomaduro commented on #48
Just pushed a very native solution for this: https://github.com/pestphp/pest/tree/feat/poc-junit.

Can you try it out and tell me if something is missing?

[2020-05-31 15:19] nunomaduro commented on #52
@wpoortman You need to follow exactly this installation process: https://pestphp.com/docs/installation/.

Can you try again and let me know?

[2020-05-31 15:52] wpoortman commented on #52
@nunomaduro I've tried at first, but it dragged me into a whole nother dependency struggle.

**Problems**
- magento/magento2-functional-testing-framework 2.4.5 requires codeception/codeception ~2.3.4 || ~2.4.0  -> satisfiable by codeception/codeception[2.4.5, 2.3.4, 2.3.5, 2.3.6, 2.3.7, 2.3...
- codeception/codeception 2.4.0 requires codeception/phpunit-wrapper ^6.0|^7.0 -> satisfiable by codecept

[2020-05-31 15:58] nunomaduro commented on #52
Well, you need to support at least phpunit 9.

[2020-05-31 16:52] #52 closed

[2020-05-31 16:57] owenvoke commented on #52
By the way, it looks like the next version of the Magento FTF will probably support PHPUnit 9.
https://github.com/magento/magento2-functional-testing-framework/blob/develop/composer.json#L20

[2020-05-31 18:37] dimitrioskarvounaris opened #53 "Plugin::uses() does not work properly on windows"
I'm trying to write a plugin and I'm using Pest\Plugin::uses() to add a trait.

When I require the plugin, the test suite stops working alltogether with the following message:

    $ vendor/bin/pest
       Pest\Exceptions\InvalidUsesPath
       The path `I:\Code\aurora\vendor\pestphp\pest\src\I:\Code\aurora\tests` is not valid.

I tracked the issue down to `src/PendingObjects/UsesCall.php` lines 6

[2020-05-31 18:45] dimitrioskarvounaris commented on #53
Fix submitted https://github.com/pestphp/pest/pull/54

[2020-05-31 19:55] nunomaduro opened #55 "RFC: Namespacing functions"
In the current state of Pest, we could say that PHPUnit static functions like assertions are being injected in the global namespace, and functions specific to the test case are being served thought the `$this` variable. Here is an example:

[code]

The current approach has a few problems: there is [no autocompletion on the `$this`](https://github.com/pestphp/pest/issues/5), and for some developers

[2020-05-31 20:49] dsampaolo commented on #47
I submitted a PR to pestphp/pest-dev-tools : https://github.com/pestphp/pest-dev-tools/pull/2

Just let me know if I did something wrong.

[2020-05-31 21:08] hivokas commented on #55
Won't something like that solve the autocompletion issue?

[code]

[2020-05-31 22:58] owenvoke commented on #55
I think this a good idea. 👍 It would solve the issue for people who dislike the global functions, and also resolve any issues for functions that may be provided by 2 different plugins.

[2020-06-01 00:09] AlexMartinFR commented on #42
Note added to the docs:
[https://pestphp.com/docs/groups/](https://pestphp.com/docs/groups/)

[2020-06-01 00:21] nunomaduro commented on #42
@AlexMartinFR Added a comment on the commit. can you check?

[2020-06-01 01:01] syndesiweb opened #56 "Proposal: Optional without exception handling"
Sometimes you expect an exception to be thrown but just want to perform an assertion. For example in the Laravel tests we may use $this->withoutExceptionHandling(); It would be nice to be able to performe assertions eventhough some exception is being thrown.

Maybe the use could be:
[code]

[2020-06-01 08:16] owenvoke commented on #56
I've tended to just use a try/catch for this scenario as with PHPUnit. However, is this for a Laravel project (where we could add it to the Laravel plugin when it's ready), or just in general? 🙂

[2020-06-01 08:26] syndesiweb commented on #56
Maybe not laravel specific as not everyone uses laravel. But indeed i
stumbled upon it using laravel 7.

On Mon, Jun 1, 2020, 10:17 Owen Voke <notifications@github.com> wrote:

[2020-06-01 12:03] AlexMartinFR commented on #55
The consistency and ease of use gains trumps the visual burden the additional line, I would go for it 👍

Plus, real-world tests will also have `use ` statements, and in the end one more ligne isn't adding too much distraction:

[code]

VS

[code]

To me the first example is easier to read, because everything of importance is aligned on a vertical ligne. This allows quick scanning of the code (impo

[2020-06-01 14:02] AlexMartinFR commented on #42
Corrected my wrong statement. It should now be clearer 👍

@reed-jones , you could confirm that this would have helped you understand the problem you encountered better, please?

[2020-06-01 14:14] reed-jones commented on #42
Totally, that makes perfect sense to me. Thanks!

[2020-06-01 14:27] AlexMartinFR commented on #42
Great!
Thanks for sharing your experience, and happy testing 😎

[2020-06-01 14:41] AlexMartinFR commented on #50
I added the keyword to one of my comment.
Other might search for it that way too. Thanks for explaining that 👍

[2020-06-01 21:23] maks-rafalko commented on #48
It's better, but still not enough.

Currently, it generates such `junit` report:

[code]

where `<testcase` node contains the correct `file=/pest-example/tests/SourceFileTest.php`, but with incorrect FQCN `Tests\SourceFileTest`

but node `<testsuite` contains correct `name="P\Tests\SourceFileTest"` but incorrect file `file="/pest/src/Factories/TestCaseFactory.php(187) : eval()'d code"`

Can we som

[2020-06-02 11:25] AlexMartinFR opened #57 "Compatibility: Psalm"
**Problem:**
It seems Pest doesn't work well with [Psalm](https://psalm.dev/).

I didn't know this tool from the Vimeo engineering team, but its domain name was created in February 2019, and it's already got 3K stars of Github.
I'm throwing this issue because it could be interesting to see what would be needed to make Pest & Psalm work well together.

Report from our Discord channel*:

* _Cf Disco

[2020-06-02 11:38] owenvoke commented on #57
Psalm has been around for quite a while, but I'm surprised there would be issues with it. Psalm should know that the `test()` function exists (and does in my test project), and also should not throw errors. However, depending on the level this may change.

PHPStan and Psalm are both great, and have their pros and cons. 👍

I might have a look into this later.

[2020-06-02 12:15] nunomaduro opened #58 "Missing docs about snapshot plugin"

[2020-06-02 14:08] fetzi opened #59 "RFC: Pest Plugin registration"
So atm we have 3 different ways how pest is extensible:

* a file with helper functions loaded with PSR-4 autoloading
* Traits or classes with `Plugin::uses` and also PSR-4 autoloading
* Composer plugin with interfaces (`HandlesArguments` & `AddsOutput`) with auto registration on install

I think we should make it easier for plugin developers to get started. I would suggest to have only the helper

[2020-06-02 15:10] AlexMartinFR commented on #59
_Disclaimer: I haven't written any plugin nor studied them, so this opinion is general and rhetorical, take it as is._

If there is no drawback and the three options offer the same extensibility, it makes sense to me to enforce one.

Too many choices can lead to decision fatigue and prevent good future contributions.

[2020-06-02 15:18] still-dreaming-1 commented on #57
I will look into this further since I am familiar with Psalm. I know it is possible to make a separate plugin repository that is a Psalm plugin, to help Psalm understand Pest code. It is also possible my editor was just being weird at the time, so I will do more research.

If it does turn out that Psalm really is not understanding Pest code, an alternative to making a plugin is for you guys to use

[2020-06-02 16:20] still-dreaming-1 commented on #57
Psalm does know about the functions. This was just my experience while trying to set it up. I probably just forgot that the Psalm language server / the Psalm VS Code plugin gets confused when you change too many things on it, like installing a new package. I probably just needed to close and reopen VS Code. The thing is, I thought for sure I conceived of this, and ran Psalm manually from the termi

[2020-06-02 16:22] zolotov88 opened #60 "How to access TestCase before parent setUp calls?"
I need to set some parameters parameters in test class before Laravel application creates. How can I do that?

[2020-06-02 16:33] owenvoke commented on #57
I think it's worth keeping the issue open for now, it would be good to see if there's any issues that we could easily fix. 👍 Thanks @still-dreaming-1

[2020-06-02 17:03] still-dreaming-1 commented on #57
When I use a `->with(` similar to the first examples in [Datasets](https://pestphp.com/docs/datasets/), Psalm doesn't know what type the `it(` or `test(` returns, so it doesn't recognize `->with` as a defined method.

I think even if basic issues like these got resolved with improved annotations, it still might be worth creating a plugin for this for Psalm. They maintain one for phpunit, which all

[2020-06-02 17:06] fetzi commented on #56
I think it is not possible to handle this case in the closure context, because the exception will interrupt the execution of the closure code and will continue in the shutdown_handler.

Maybe for higher order methods this would be doable, but not in general.

I would suggest to wrap the code in a try/catch block and then assert afterwards.

[2020-06-02 17:06] still-dreaming-1 commented on #57
It turns out I'm going to have to distance myself from responding to these for about the next 3 weeks. I probably won't post anything new or respond until after that. It is likely I will eventually get back to trying out pest with Psalm after that, and should become more engaged at that time.

[2020-06-02 17:07] fetzi commented on #53
@dimitrioskarvounaris is this one fixed now?

[2020-06-02 17:10] #47 closed

[2020-06-02 17:11] fetzi commented on #45
@owenvoke are you still on it?

[2020-06-02 17:17] fetzi commented on #11
This is the standard behavior of xUnit testing frameworks. I'm also not sure what this test case should do? 🤔

[2020-06-02 17:24] miscbits commented on #11
This was something we were talking about on the discord to replicate the behavior in mocha.js
https://mochajs.org/#pending-tests

Which test are you asking about? There are three in the example provided

[2020-06-02 17:32] fetzi commented on #34
@octoper it would be an idea to just create a PR on the website repo when code is merged to master? 🤔

[2020-06-02 17:38] nhedger commented on #9
Since we're basically generating our own **TestCase** using the **TestCaseFactory**, I though of the following solution:

When building the test case in TestCaseFactory, we can inject a property that will hold a boolean indicating whether we want the description to to reformated.

[code]

Then, in **collision**, we can simply check for that property on the TestCase and act accordingly:

[code]

A

[2020-06-02 17:44] owenvoke commented on #34
If you need any help, I'm happy to take a look at this as mentioned on Discord. 👍

[2020-06-02 17:46] owenvoke commented on #45
I was, but was struggling on a way to implement it with the current plugin API.

If it uses HandlesArguments, then it may be run after other plugins which is not desired as it basically just needs to be a separate command.

[2020-06-02 17:51] fetzi commented on #45
Yes, maybe this one shouldn't be a plugin and should be included in the core. @nunomaduro what do you think?

[2020-06-02 17:51] octoper commented on #34
@fetzi yeah this is what I will do but I'm traveling so it may take me some time 😕

[2020-06-02 18:09] dimitrioskarvounaris commented on #59
It was easy to understand the `Plugin::uses()` while I started working on it... easier, than the composer plugin interfaces, which I haven't yet fully understood how it's done.

So, I'm for keeping all of these. I don't see it, that it will make it more hard for people, rather the opposite. The uses() is extremely simple to handle and something people may be already used to it from writing tests.

[2020-06-02 18:12] nunomaduro commented on #45
Should be a plugin that exists by default on the core. 😊

[2020-06-02 18:14] dimitrioskarvounaris commented on #53
This and other windows issues are fixed by https://github.com/pestphp/pest/pull/61 now

[2020-06-02 18:49] owenvoke commented on #45
Ok, I think we may need to modify the plugin API to allow this then. 👍

[2020-06-02 18:50] owenvoke commented on #57
Might take a look at the plugin stuff shortly as I'm quite interested in how it works. 👍

[2020-06-02 18:55] AlexMartinFR commented on #9
So, we have three candidate solutions so far.
We need to know if patching Collision is an option before going further on this issue.

**A - Collision patch only:**
- **Solution:** Check for spaces inside the test name string, and don't reformat if there are some:
- **Drawback:** This needs to alter Collision's codebase.
[Details](https://github.com/pestphp/pest/issues/9#issuecomment-629677306)

**

[2020-06-02 19:22] m50 commented on #9
I personally still believe option A is the best option.

One of the big benefits of using a string as the name of the test, instead of parsing a function name, is that we can use whatever formatting we want. Option C completely erases that, defeating the biggest benefit of using a string for generating a test name.

[2020-06-02 19:44] nhedger commented on #9
@AlexMartinFR There is also the option to create a Pest Adapter for Collision.

@m50 While I initially thought this would be a good idea too, there's at least one drawback to this approach. Even if highly unlikely, one may use the function like this:

[code]

In that case, there are no spaces in the description so the formatting would not be preserved even though we'd want it to be.

[2020-06-02 20:26] m50 commented on #9
Ok, I agree with your point there, so option B is the best option then @nhedger.

Or create a pest adapter for collision, which may go hand in hand with option B.

[2020-06-02 21:32] AlexMartinFR commented on #9
You are right, about A & C.

Option B with the Adapter seems to be the cleanest way 👍

[2020-06-02 21:52] caneco commented on #39
Finally managed to get the thing running on a Windows, and made a test with the following clip:

And according to the analysis tool this was the result:

### We got **0️⃣ warnings**.

I think it's safe to say that the logo will not cause any harm `:phew:`

[2020-06-02 22:31] still-dreaming-1 commented on #57
Upon further reflection, I think you might be able to use Psalm templates to add types for this kind of thing. So you might not need a plugin. I could be wrong, but I think plugins are more used when for projects that don't want to use Psalm, so someone else maintains a plugin in order to generate the right stubs for the types. But if you add Psalm to pest, it should point out where your types or

[2020-06-02 22:42] AlexMartinFR commented on #39
Awesome!

Better safe than sorry, and we get to keep the whimsical stuff 🔥

[2020-06-02 22:42] #39 closed

[2020-06-03 04:46] CasperEngl opened #62 "trigger_error fails assertion"
Using the following code:
[code]
The test fails with the following error message:
[code]

The test runs perfectly in PHPUnit, and only errors out when running Pest. Does Pest support PHP trigger_error?

[2020-06-03 06:29] fetzi commented on #45
@owenvoke I think that `handleArguments` is the right place for that. It won't matter if another plugin gets executed beforehand.

[2020-06-03 08:24] owenvoke commented on #45
@fetzi, or afterwards? 🤔 Just seems a bit weird for `init` to also run tests. But if so, I'm happy to just do that.

[2020-06-03 08:29] nunomaduro commented on #45
@owenvoke Well, you can `exit(0)` when you are handling the arguments of the init right?

[2020-06-03 09:04] beliolfa opened #63 "Using helpers in High Order Tests"
I'm trying to understand how Helpers work. I'm doing a set of helpers for Api call assertions and the first test is passing but the second one is saying that the method doesn't exists in TestCase. How could we use those helpers using High Order tests?

[code]

And this is the declaration inside `Helpers.php`
[code]

Thanks!

[2020-06-03 09:15] owenvoke commented on #63
The helpers allow shorthand functions inside your test closures (or short functions). However, higher order tests need to be added using a trait via `uses(TraitName::class)`.

So for this, you could create a trait such as:
[code]

[2020-06-03 09:22] fetzi commented on #45
The watch plugin will also not continue to execute the tests directly. So I think `exit(0)` is good for the init plugin.

[2020-06-03 09:29] owenvoke commented on #45
Just to check, I assume that if that's at the end of the `handleArguments()` method, then the `addOutput()` wouldn't be called? Because it would just exit.

[2020-06-03 09:30] wpoortman commented on #52
I was just about to reply on this topic. Magento 2.4.0 creates a lot of happy faces. I've cloned the develop branch and tried to install Pest on this latest release.

The first few steps looked promising, but have some problems at step 4.

**Problems**
- pestphp/pest v0.1.5 requires nunomaduro/collision ^5.0 -> satisfiable by nunomaduro/collision[v5.0.0-BETA1].
- Installation request for pestphp/p

[2020-06-03 09:32] nunomaduro commented on #63
In this case may be:

[code]

[2020-06-03 09:33] owenvoke commented on #52
Yeah, looks like Magento 2.4 will still use Symfony 4, however Pest (via Collision) requires Symfony 5.

[2020-06-03 09:51] beliolfa commented on #63
Thanks guys. Working on it!

[2020-06-03 09:51] #63 closed

[2020-06-03 16:33] #30 closed

[2020-06-03 21:14] nunomaduro commented on #5
Concerning autocompletions, the problem will be addressed in Pest 0.2.

[2020-06-03 21:30] nunomaduro commented on #55
In progress for PHP 0.2.

[2020-06-03 21:30] #55 closed

[2020-06-03 21:37] jonnywilliamson commented on #5
I got a little bit further using PEST a few days ago to run tests in phpstorm. It's a bit ugly.

But unfortunately I had to give up as PHPStorm just doesn't seem ready yet for Pest.

https://github.com/pestphp/website/issues/39

[2020-06-03 23:32] JoshMoreno commented on #5
@petemcfarlane @jonnywilliamson
I know this isn't ideal, but since pest passes all args to PHPUnit I've been using `--filter` for now. I'd much rather have it mapped to a keystroke but this will do for now.

[code]

Then run your tests...
[code]

And if you want to make it shorter, create the following aliases. I have these in my `~/.zshrc`.
[code]

If anyone wants to help out, I opened an issue s

[2020-06-04 06:54] zolotov88 commented on #60
No. Laravel application creates in TestCase setUp. Funtion beforeAll starts after parnt setUp.
[code]

[2020-06-04 21:03] maks-rafalko commented on #48
@nunomaduro with the following 2 changes in your branch, I was able to generate a correct `junit`

[code]

I've created 2 pest files (tests) with 2 cases (`test()` functions) inside just to quickly check it.

Resulting `junit` report is:

[code]

For sure, this is not a ready solution, but probably will speed up your investigation on this topic. What do you think we need to do else to move it forw

[2020-06-04 21:05] nunomaduro commented on #48
To be honest I am without time for this at the moment. But it's cool that we already know how to fix this problem in pest.

[2020-06-05 08:49] fetzi commented on #60
So you need to create a custom class extending `TestCase` and inside of the class you can override the `setUp` function and set your data before the `parent::setUp()` call.

[2020-06-05 09:32] zolotov88 commented on #60
You see that custom class below. How can I pass data from pest test file? Maybe I can make function like beforeAll() and call it myself? How can I do?

[2020-06-05 15:32] nunomaduro commented on #9
Fixed https://github.com/nunomaduro/collision/commit/5e853c54ceba7e6abf608957b944d20bb5d5ea6c

[2020-06-05 15:32] #9 closed

[2020-06-07 07:53] cliffordjames opened #71 "Call to a member function connection() on null"
Hi Guys, I have the following error using Pest on a fresh installation of Laravel & Nova:

Call to a member function connection() on null at vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php:1342

I'm trying to test a custom validation rule which uses the database.

Directory structure:

[code]

My Test:

[code]

My custom validation rule:

[code]

composer.json:

[code]

My phpu

[2020-06-07 10:17] nobuf commented on #33
I like Datasets compared to `@dataProvider` and fresh colorful looking :)

Not really a pain point but I found a couple of surprises:

- Default colors in light theme could be improved in terms of contrast. (I'm using iTerm2's preset color palette. The right side is jest.)

<img width="670" alt="bash 2020-06-07 18-35-22" src="https://user-images.githubusercontent.com/211832/83965677-4f0b9d00-a8f0-

[2020-06-07 10:48] #53 closed

[2020-06-07 12:17] AlexMartinFR commented on #33
Thanks for bringing up this accessibility issue! 👍

Regarding the output printing, could you open an issue about that, with more details about your use-case?

[2020-06-07 23:40] nunomaduro commented on #71
Can I see your `Pest.php` file?

[2020-06-08 00:00] nunomaduro opened #72 "Putting all issues on this repository"
I would prefer to centralise all the issues on this repository. That would mean remove all the `issues` tabs in all repositories.

What do you think @fetzi @AlexMartinFR ?

[2020-06-08 00:17] nobuf opened #73 "Output to stdout (var_dump etc.) not showing"
ref. https://github.com/pestphp/pest/issues/33#issuecomment-640191841

I'd like to see the output to stdout by echo, var_dump etc in console. Current Pest silently hides them either coming from test code or tested code. Expected behavior could be similar to PHPUnit's [`--disallow-test-output`](https://phpunit.readthedocs.io/en/9.0/risky-tests.html). In case the tested code prints something by acci

[2020-06-08 00:24] nunomaduro commented on #73
You probably just forgot adding `beStrictAboutOutputDuringTests="true"` in your `phpunit.xml` file.

Let me know if it helps.

[2020-06-08 00:35] nobuf commented on #73
I see! `beStrictAboutOutputDuringTests="true"` works. Also, I forgot that we can actually pass `--disallow-test-output` to bin/pest.

So, the default behavior is different from PHPUnit's `beStrictAboutOutputDuringTests="false"` as it has no output at all.

[2020-06-08 00:40] nunomaduro commented on #73
Could you try to debug why? Thanks!

[2020-06-08 02:43] matiechaza opened #74 "Proposal: Test classes (callable class)"
I was thinking it would be great if we could pass a callable class as the second argument.
In this way the entire test would be encapsulated within classes.

![image](https://user-images.githubusercontent.com/50587234/83987558-061b0f00-a917-11ea-95fd-511a34f3bf5c.png)

I think it would be great feature! Since the tests would be very clean and we could apply design patterns for the different test c

[2020-06-08 04:39] cliffordjames commented on #71
Hi @nunomaduro,

Here it is:

[code]

Also tried removing ```->in('Feature');``` but that didn't work either.

The funny thing is when I place de pest tests under the normal phpunit tests I get a different error:

```Unable to locate factory for [Domains\Systeem\User].```
or
```Target class [config] does not exist.```

When I remove the phpunit tests I got the connection error back. It looks like

[2020-06-08 06:51] cliffordjames commented on #71
Running only the phpunit style tests works with ```./vendor/bin/pest``` but when I add ```--coverage``` the following error is given: ```Undefined variable: factory at domains/Systeem/database/factories/UserFactory.php:20```

[2020-06-08 12:24] #45 closed

[2020-06-08 21:01] Wulfheart opened #75 "Installation Issues"
I'm getting the following error when following the installation instructions:
[code]

Furthermore I'm quite nervous that ``composer require nunomaduro/collision:"^5.0" --dev --update-with-dependencies`` isn't available neither.
[code]

[2020-06-08 21:41] nunomaduro commented on #75
Did you follow the installation guide?

[2020-06-08 21:55] Wulfheart commented on #75
Yes.
But I had to edit the version of the collision package.

[2020-06-08 21:57] canvural commented on #75
You have `"phpunit/phpunit": "9.0"` in your composer json. It means you only allow 9.0 but pest requires 9.1. So I believe if you change it to `"phpunit/phpunit": "^9.0"` it should work correctly. Unless there is a reason why you are exactly on 9.0

[2020-06-08 22:13] Wulfheart commented on #75
No. I just followed the instructions 🤷🏼‍♂️

[2020-06-08 22:31] nunomaduro commented on #75
<img width="566" alt="Screenshot 2020-06-09 at 00 30 55" src="https://user-images.githubusercontent.com/5457236/84086572-7cd40d00-a9e8-11ea-90b6-f8c470d24622.png">

Yeah - instructions tell you to change it to `"phpunit/phpunit": "^9.0"` and not `"phpunit/phpunit": "9.0"`. 👍

[2020-06-08 22:31] #75 closed

[2020-06-08 23:32] nunomaduro commented on #74
Sounds good to me. Can you make a pull request on this?

[2020-06-08 23:45] nunomaduro commented on #71
Using `uses(Tests\TestCase::class)->in('Feature', 'Unit');` will fixed your problem.

[2020-06-08 23:45] #71 closed

[2020-06-09 00:42] nobuf commented on #73
Here's what I found.

In Pest, AddsDefaults::to() is called and \NunoMaduro\Collision\Adapters\Phpunit\Printer will be used while PHPUnit uses \PHPUnit\TextUI\DefaultResultPrinter.

The difference is that at the end of endTest() in DefaultResultPrinter, it emits output regardless of `beStrictAboutOutputDuringTests`:

[code]

https://github.com/sebastianbergmann/phpunit/blob/fe9223c9f06e46e17035ee1

[2020-06-09 06:04] cliffordjames commented on #71
@nunomaduro Thanks for the fix.

The ```--coverage``` still gives the ```Undefined variable: factory at domains/Systeem/database/factories/UserFactory.php:20``` even with the ```uses(Tests\TestCase::class)->in('Feature', 'Unit');```

[2020-06-09 09:07] nunomaduro commented on #71
@cliffordjames All the folders that use Laravel someway need to be listed on the `in` method: `uses(Tests\TestCase::class)->in('Feature', 'Unit');`

[2020-06-09 09:15] cliffordjames commented on #71
@nunomaduro Thanks, that works:

[code]

[2020-06-09 09:38] cliffordjames commented on #71
The only problem that still exists is the one with ```--coverage```

```./vendor/bin/pest --coverage```

[code]

[2020-06-09 09:40] owenvoke commented on #71
Does your factory file have a PHPDoc tag at the top like this?
[code]

It might just be because it can't work out where the `$factory` instance is coming from when doing the coverage.

[2020-06-09 09:42] owenvoke commented on #74
I guess this would involve changing the `it()` and `test()` signatures to use `callable` instead of `Closure`? 🤔 And then in turn the `TestCall`, `TestCaseFactory`, and a few other places. Not sure how much work would be needed, but this would be a really neat feature to have. 👍

[2020-06-09 09:43] cliffordjames commented on #71
@owenvoke yes the factory file starts with:

[code]

[2020-06-09 09:45] owenvoke commented on #71
Ah, ok. That's interesting that it's failing to find the variable. 🤨

[2020-06-09 09:51] nunomaduro commented on #74
@owenvoke Exactly. Same goes for `beforeEach`, etc.

I think it may be interesting to have something like:

[code]

[2020-06-09 09:53] nunomaduro commented on #71
@cliffordjames

[code]

The user `factories/UserFactory.php` file **can not** be processed by coverage.

[2020-06-09 10:01] cliffordjames commented on #71
Thanks, this fixed the problem:

[code]

[2020-06-09 13:55] nunomaduro commented on #73
Can you pull request something on the collision repository?

[2020-06-09 16:17] Wulfheart commented on #75
Thanks. Now it is working.

However the version of the collision package is unable to get with copy and paste via composer.

[2020-06-09 18:43] nunomaduro opened #76 "Pest 0.2 release"
Tasks:
- [x] Release Plugin API ( waiting for https://github.com/pestphp/pest/issues/77)
- [x] Release Laravel Plugin
- [x] Adds Docs Laravel Plugin
- [x] Release Livewire Plugin
- [x] Updates Docs Livewire Plugin
- [x] Release Faker Plugin
- [x] Updates Docs Faker Plugin
- [x] Release Init Plugin
- [x] Adds Docs Init Plugin
- [x] Release Snapshots Plugin (waiting for https://github.com/spatie/pes

[2020-06-09 18:48] #59 closed

[2020-06-09 21:54] AlexMartinFR commented on #76
I'll have to dive into some topics first to be really helpful, since I haven't written/used any plugin yet.

If someone can give a summary of the main ideas, even very rough, I can work with that.

[2020-06-09 22:00] nunomaduro commented on #76
Let's schedule a call tomorrow, what do you think? 👍

[2020-06-09 22:08] matiechaza commented on #74
I don't have much time to dedicate to it. But I'm going to try 😃

[2020-06-09 22:14] matiechaza commented on #74
I didn't think about changing the signatures of it() and test().
I think it would be better to create a new function for this feature. This way I wouldn't add one more use case to the it() and test() functions.

Perhaps this new function will organize the data to use the test() function (as the it() currently does).

What do you think?

[2020-06-09 22:17] AlexMartinFR commented on #76
Yup!

[2020-06-09 22:20] nunomaduro commented on #74
Why a new functions? I think is fine to it and test to support callables.

[2020-06-10 02:59] matiechaza commented on #74
Because in this new function I could modify the receive class by a class of callable type and send it to the test () function. This way I would not break the signature.

It was my first quick thought I had.

[2020-06-10 08:09] nunomaduro commented on #74
Yeah - I think its fine.

[2020-06-10 09:40] christophrumpel commented on #5
Hey people, just tried out the package and I really enjoy writing tests like that. (I didn't thought I would hehe)

For me missing right now is also more support for PhpStorm before I would integrate it in my daily workflow. Like @petemcfarlane said, being able to use PhpStorm's Test Runner would be awesome. I'm really used to go into a test and use a shortcut to run the current test, where my cur

[2020-06-10 10:11] olivernybroe commented on #5
Has anybody looked into this yet?

I think it makes sense to register pest as a new framework type, to have full control instead of trying to build on top of phpunit. At least my limited experience with plugin creation, says that building on top of the build in types often gives problems because there will be a lot of deprecations in future versions of phpstorm.

[2020-06-10 21:49] caneco opened #77 "Plugin not loaded by Pest on development"
While creating a new plugin for Pest it seams that the plugin could not be loaded while on the development phase.

Me and @nunomaduro found that the reason was because the "Plugin::class" was not being added on the `vendor/pest-plugins.json` file … Even that all the required setup for the plugin was properly defined.

[2020-06-11 08:56] owenvoke commented on #76
Some notes about developing the `init` plugin:

- It looks like the main things that cause issues are:
   - The [`ValidatesEnvironment::in()` method](https://github.com/pestphp/pest/blob/e536c28e342d1434ec76e9b8de4f7ab4dfad3abc/src/Actions/ValidatesEnvironment.php#L38), which is called in the binary [`bin/pest`](https://github.com/pestphp/pest/blob/2efed3ef80c4b8390f34490d16538c2dd9ec6b68/bin/pest

[2020-06-11 18:23] nunomaduro commented on #34
Thanks @octoper !

[2020-06-11 18:23] #34 closed

[2020-06-11 21:21] nunomaduro opened #79 "Normalize changelogs"
Across all the organisation some changelogs are missing dates, links, etc. They should all look like this:  https://github.com/pestphp/pest/blob/master/CHANGELOG.md.

[2020-06-12 04:02] HDVinnie commented on #79
I highly suggest looking into https://github.com/symplify/changelog-linker. I have started using it on all my older and new projects and its very clean and easy to you.

Example output: https://github.com/HDInnovations/UNIT3D-Community-Edition/blob/master/CHANGELOG.md

[2020-06-12 11:25] AlexMartinFR commented on #76
Since the `--init`option will be provided out of the box, I think we shouldn't treat that as a plugin in the documentation. That is an implementation detail to me.

What do you think about splitting the Installation guide in two sections?
I can do that today, here is a rough summary of what I have in mind:

# Installation

## Blank project

- **Set up your project:** `composer init` with `"minimum

[2020-06-12 14:46] marcoT89 opened #81 "Add duration of tests on output"
Hi! I work with integration tests and one of the things that I'm really woried about is the time a service is responding in my tests. It would be very very very helpfull for me to hav those durations of every test.

I was used to sempro/phpunit-pretty-print that displays the duration of each test. It would be really helpfull for me and maybe for others to check how their tests is performing. And e

[2020-06-12 15:12] nunomaduro commented on #81
Sounds a good idea. Can you contribute with that to this package? https://github.com/nunomaduro/collision

[2020-06-12 15:12] #81 closed

[2020-06-13 10:24] AlexMartinFR opened #83 "Documentation / Guide: Handling private methods"
Extracted from [#33](https://github.com/pestphp/pest/issues/33#issuecomment-634567880):

**1. Handling private methods**

« I traditionally used private/protected methods in my test classes, where code is shared between tests, or even just to make a test more concise and readable.
The roadblock here was deciding where to they belong?

- in a trait and register it in the `tests/Pest.php`
- create a

[2020-06-13 10:26] AlexMartinFR opened #84 "Documentation / Guide: Code completion"
From [https://github.com/pestphp/pest/issues/33](https://github.com/pestphp/pest/issues/33):

**TODO:**
- Test extensively code completion issues, on which editor, etc.
- See if there would be enough material for a guide.

[2020-06-13 10:28] AlexMartinFR opened #85 "Documentation / Guide: Troubleshooting Pest"
We'll be collecting here the most common issues met by users, which doesn't (yet) belongs to a specific guide.

- testing API: [https://github.com/pestphp/pest/issues/33#issuecomment-634673474](https://github.com/pestphp/pest/issues/33#issuecomment-634673474)
- confusion between old & new Laravel methods, eg `visit()` is now `get()`: [https://github.com/pestphp/pest/issues/38#event-3382547293](htt

[2020-06-13 10:29] AlexMartinFR opened #86 "Documentation / Guide: PHPStorm"
PHPStorm is a commonly used IDE and Pest integration is not ideal:

### **Feel free to add other user experiences on the same topic in the comments!**

This is for compiling users stories, try to reproduce their issue and see what we can do about that. The Pest ecosystem is moving quickly, perhaps a guide will not be needed at some point in the future. For now, I think this is going to be a big fr

[2020-06-13 10:31] AlexMartinFR opened #87 "Documentation / Guide: Resources to learn testing"
I'm convinced Pest's simplicity will bring new users to the testing world.

Pointing newcomers to learning resources would be interesting.
Until @nunomaduro comes up with learning material of his own, at least!

Just some of the many who jump on the occasion to get onboard the testing train:

[2020-06-13 10:32] AlexMartinFR opened #88 "Documentation / Guide: Common assertions"
**Purpose:**
List the most commonly used PHPUnit assertions with small description for newcomers.

For more edge-cases, the user would then find the link to the full [assertions list](https://phpunit.readthedocs.io/en/latest/assertions.html) at the end of the document.

**Benefits:**
- Don't make the user have to go through 2 different sites for the basic needs. They can find everything in one pla

[2020-06-13 10:33] AlexMartinFR opened #89 "Documentation / Guide: Pest From Scratch"
Some have troubles apparently when installing Pest on a blank project, this might warrant a guide too.

Extracts from something posted on our Discord help channel*
It's an interesting comment, but needs curation before we extract the relevant part to the docs. I've only pasted the part regarding the current state of Pest:

**Boilerplate architecture and config:**

That's all for now, the rest of t

[2020-06-13 10:35] AlexMartinFR opened #90 "Documentation / UX: Improvements ideas"
Let's list here the changes we would like to make to the docs in a futur overhaul.

[2020-06-13 10:35] AlexMartinFR commented on #90
I like how the Laravel documentation has a table of content and anchors to subsections titles.
This could be good for Pest documentation:

<img width="923" alt="Capture d’écran 2020-06-13 à 12 03 54" src="https://user-images.githubusercontent.com/19224681/84566022-0b8cb500-ad6e-11ea-862b-a3a6da5bdf8f.png">

[2020-06-13 10:37] AlexMartinFR commented on #89
I think this issue should be addressed with the upcoming release of Pest 0.2.0 and the awesome init plugin 👌

The new **Install Pest on a blank project** section on the **Installation** page should fill this void.

[2020-06-13 10:49] AlexMartinFR commented on #84
This should not be an issue anymore with Pest 0.2.0.

[2020-06-13 11:07] AlexMartinFR commented on #86
Finally extracted/edited the main issues from this user feedback.

This issue would be fixed by [#5 Missing PHPStorm Plugin](https://github.com/pestphp/pest/issues/5)

[2020-06-13 14:27] underdpt commented on #75
Just a notice here, I also followed the instructions (copy & paste) and ended with composer.json line:
[code]
Maybe it's a composer issue? (tried with composer 1.10.1 and 1.10.7)

Also failed to install nunomaduro/collision ^5.0, i had to issue:
[code]

[2020-06-13 14:33] owenvoke commented on #75
@underdpt, do you happen to be on Windows?

[2020-06-13 14:35] underdpt commented on #75
Yes

[2020-06-13 14:54] owenvoke commented on #75
Yeah, I've had that issue before. `^` is the escape character on Windows command line (at least in Command Prompt), so it ends up just being `"9.0"` as it escapes the `9`.

I'm not really sure what the best way of solving this is. On Windows, it has to be `"^^9.0"` to escape the escape character.

[2020-06-13 15:21] AlexMartinFR commented on #75
Since the caret is a shorthand in composer, maybe we should provide the full syntax it refers to?

```composer require phpunit/phpunit:">=9.0.0 <10.0.0" --dev --update-with-dependencies```

[See composer documentation for "Caret Version Range"](https://getcomposer.org/doc/articles/versions.md#caret-version-range-)

[2020-06-13 15:27] AlexMartinFR commented on #90
# Idea 2:

Provide a **Copy to Clipboard** button next to relevant command lines:

<img width="903" alt="Capture d’écran 2020-06-13 à 17 26 07" src="https://user-images.githubusercontent.com/19224681/84572559-20337200-ad9b-11ea-9a58-5a1dbb7e7cb2.png">

[2020-06-13 16:15] nunomaduro commented on #90
@octoper Can you work on this one? I would love, but I am afraid on don't have the skills.

[2020-06-13 16:23] aniplaylist opened #91 "Idea : Being able to run seeders/factories before all test files"
It would be nice to have a function that let you run seeders & factories before all test files are processed.
That way I won't have to run the same seeders and factories within each of my test files.

[2020-06-13 20:47] octoper commented on #90
I'm on it @nunomaduro

[2020-06-14 11:54] AlexMartinFR commented on #76
I've lost track of what's missing on the documentation before release.
Are we up to date yet?

[2020-06-14 12:52] nunomaduro commented on #76
@AlexMartinFR yes. I will be doing it tonight. 👍

Enjoy your Sunday.

[2020-06-14 13:15] AlexMartinFR commented on #76
Thanks, you too!
I'm free tonight also if you need review or anything.

[2020-06-14 13:37] AlexMartinFR opened #92 "Mark Pending Tests as Incomplete"
## Problem:
When we write a pending test by omitting the closure, PHPUnit marks the test as **Risky**.

## Suggestion:
Use the PHPUnit `markTestIncomplete()` method on pending test to mark them as **Incomplete** instead.

[2020-06-14 13:48] nunomaduro commented on #92
Sounds a good idea.

[2020-06-14 20:00] dingo-d opened #93 "Symfony - Liip FixturesTrait causes issues with TestCaseFactory"
I'm trying to update my tests in a sample Symfony project I'm playing with, and I need to use fixtures to load dummy DB data.

I'm using the [LiipTestFixturesBundle](https://github.com/liip/LiipTestFixturesBundle), and in the [docs](https://github.com/liip/LiipTestFixturesBundle/blob/master/doc/database.md) it says I need to use the `FixturesTrait`, so I've added to my `Pest.php`

[code]

And in t

[2020-06-14 20:03] nunomaduro commented on #93
What version of pest are you using?

[2020-06-15 06:28] dingo-d commented on #93
I have v0.1.5 installed.

[2020-06-15 06:58] faustbrian opened #94 "option --coverage is ambiguous"
When running pest on CI there is an odd error that I run into with the `--coverage` flag.

[code]

This only happens with a GitHub workflow and I am unable to reproduce this locally. Could the binaries of pest and phpunit somehow end up being linked faulty?

[2020-06-15 07:35] nunomaduro commented on #94
@owenvoke any idea?

[2020-06-15 13:01] AlexMartinFR opened #95 "Feature: option to collapse passing tests on the report"
# Problem:

A big test suite report will take a lot of vertical space on the terminal, and then, a lot of scrolling to check everything is OK.
Even on a 27" screen, it's almost impossible to display more than 60 tests:

<img width="300" alt="Capture d’écran 2020-06-15 à 14 41 59" src="https://user-images.githubusercontent.com/19224681/84658617-724cd280-af16-11ea-87cd-5130c928b0f2.png">

# Sugges

[2020-06-15 14:12] nunomaduro commented on #95
Approved. This need to be worked on the collision repository tho. It's important to make it somehow an option.

[2020-06-15 17:26] AlexMartinFR commented on #90
Posting @octoper 's idea before it gets buried since he's busy for now:

Provide a version selector for the docs, if/when we'll have breaking changes in the API.

(I think for the moment it's not urgent, as Pest dev is still moving fast and we are expecting people to update to latest version. This can wait until it smoothes out perhaps?)

[2020-06-16 18:05] #77 closed

[2020-06-16 18:09] nunomaduro commented on #94
Can you share your GitHub actions file?

[2020-06-16 21:42] #58 closed

[2020-06-16 22:20] AlexMartinFR commented on #95
Got the first basic version working!
I'll work on a clean implementation with a proper option now.

Here is the code, on `src/Adapters/PHPUnit/Styles.php`:

[code]

<img width="842" alt="Capture d’écran 2020-06-16 à 23 44 00" src="https://user-images.githubusercontent.com/19224681/84831482-a960d800-b02b-11ea-92b3-7aa27eeffe2e.png">

[2020-06-16 23:35] nunomaduro commented on #95
Can you do a pull request?

[2020-06-16 23:48] AlexMartinFR commented on #95
I can, but there is no option detection yet, so this would make it the default view.
Not sure people would like that as a default?

I'm trying a `pest-plugin-trim` to bring a new option for that.

[2020-06-17 00:00] nunomaduro commented on #95
Yeah - think is better for now to add a the `--compact` option.

[2020-06-17 01:26] fkraefft opened #96 "Pest Livewire Plugin not working"
### Problem

Livewire plugin not working as expected.

PestPhp: v0.2.0
PestLivewire: v0.2.0

<img width="883" alt="Screen_Shot_2020-06-15_at_8 55 43_AM" src="https://user-images.githubusercontent.com/25204406/84843886-7ca6c380-b01f-11ea-8440-153cc03fdb7a.png">
<img width="913" alt="Screen_Shot_2020-06-15_at_8 55 58_AM" src="https://user-images.githubusercontent.com/25204406/84843888-7dd7f080-b01f-

[2020-06-17 02:04] faustbrian commented on #94
[code]

[2020-06-17 02:44] faustbrian commented on #94
If it is of any help. I just tried to upgrade another application from 0.1.0 to 0.2.0 and that is when the issue with the ambiguous flag starts.

[2020-06-17 08:32] nunomaduro commented on #94
Remove the `--no-scripts ` from the composer install.

[2020-06-17 08:32] #94 closed

[2020-06-17 09:53] owenvoke commented on #96
This should be fixed in the next patch release of the Livewire plugin, hopefully that will be released soon. 👍 Let us know if you still experience this issue after it releases. 🙂

[2020-06-17 12:39] owenvoke commented on #96
Reopening as it looks like this isn't fixed, might be an issue with the [core `Plugin` class](https://github.com/pestphp/pest/blob/a3fd60ce4d892b80504359a3c1b8ff815d5541ee/src/Plugin.php#L22) as adding the trait manually with `uses()` appears to work as per https://github.com/pestphp/pest-plugin-livewire/pull/4#issuecomment-645341512.

[2020-06-17 13:08] fkraefft commented on #96
Found it & PR submitted. The TestRepository was overriding the previous class, traits & groups for the given path.

https://github.com/pestphp/pest/pull/97

[2020-06-17 16:58] nunomaduro commented on #96
Version 0.2.1 is out with this fix. Thanks!

[2020-06-17 16:58] #96 closed

[2020-06-17 21:38] bpolaszek opened #98 "Some tests do not traverse the whole dataset"
Hey there,

First, thank you for the awesome work on Pest!
This is the 1st time I use it on a project and it's a real delight.

However, I noticed that _sometimes_, for an unknown reason, the whole dataset is not entirely traversed when using the `with()` method.

Example [here](https://github.com/bpolaszek/mercure-php-hub/blob/623f8d5290406e599daf48688a4a65dcad7c97a7/tests/Unit/Security/TopicMatc

[2020-06-17 22:13] nunomaduro commented on #98
This is indeed a bug: https://github.com/pestphp/pest/blob/283d8f3e03956cbee210d69edd5ad13690078723/src/Datasets.php#L95.

[2020-06-18 17:44] AlexMartinFR commented on #95
Just extracted this question from the Full-Stack Utrecht presentation chat:

Deep down it's the same concern as this issue.
I'll be testing something like that to see what happens, because I believe

Any tips where I could fork an existing project with a huge test suite to test that easily?

[2020-06-19 09:57] Naoray opened #99 "[Question] Vscode plugin similar to Better Phpunit"
Is anyone already working on a plugin for vscode similar to Caleb's [Better Phpunit](https://github.com/calebporzio/better-phpunit) or does such a plugin already exist?

[2020-06-19 09:58] owenvoke commented on #99
I know that @m1guelpf created a fork for Pest around when Pest originally released.
https://github.com/m1guelpf/better-pest

Not sure if it still works, but it should. 👍

[2020-06-19 10:00] Naoray commented on #99
Thanks @owenvoke, that is exactly what I was looking for!

[2020-06-19 10:00] #99 closed

[2020-06-19 15:47] AlexMartinFR opened #102 "Missing Pull Request Template"
## Problem:
Every Pest repository has a **CONTRIBUTING.md** file, which links to a missing [PULL_REQUEST_TEMPLATE.md](https://github.com/pestphp/pest-plugin-template/blob/master/.github/PULL_REQUEST_TEMPLATE.md) file.

_Cf._ _https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository_

[2020-06-19 19:15] nunomaduro opened #104 "Get Started button triggers a download on the website"
Not sure why, but from time to time, the "Get Started" button triggers a download on the website.

@octoper can you take a look?

<img width="767" alt="Screenshot 2020-06-19 at 21 13 09" src="https://user-images.githubusercontent.com/5457236/85172777-0d74dd80-b272-11ea-9ac1-246d09c74e53.png">

[2020-06-19 19:25] nunomaduro commented on #104
<img width="370" alt="Screenshot 2020-06-19 at 21 25 12" src="https://user-images.githubusercontent.com/5457236/85173382-6f821280-b273-11ea-8eb4-73dc33da67cd.png">

[2020-06-19 23:00] octoper commented on #104
@nunomaduro Yeah I'm on it!

[2020-06-20 00:33] nunomaduro commented on #104
safari

[2020-06-20 06:31] binarys12 opened #105 "cant run code in terminal"
I can't run any code in vs code terminal how to fix this problem
![Capture](https://user-images.githubusercontent.com/67180608/85195139-bf9dbb00-b2ed-11ea-9b9b-1e46f01317cd.PNG)

[2020-06-20 08:09] astha-29 commented on #105
u can use ecllipe for the following

[2020-06-20 14:04] octoper commented on #104
I can't repopulate that error @nunomaduro 😪

[2020-06-20 14:08] owenvoke commented on #105
Hi @binarys12, from your screenshot this doesn't seem to be related to Pest. Is there an error you are getting with Pest?

[2020-06-20 19:09] nunomaduro commented on #104
It happens rarely.

[2020-06-20 19:42] #98 closed

[2020-06-20 20:18] billwi opened #107 "If people post on github so that their work will impress a prospective employer....."
…...then shouldn't they be using their complete, full name?

I'm new here, and still learning this. :)

[2020-06-20 20:30] billwi commented on #107
If I look at the source code of a page, are there a small number of computing languages that are on almost all web pages? If not, is there an easy way to tell when the source code goes from one computing language to another? Thanks.

[2020-06-20 20:39] #107 closed

[2020-06-20 20:40] #105 closed

[2020-06-20 23:44] octoper commented on #104
If it happens again send me a screenshot of your browser.

[2020-06-21 06:30] bpolaszek commented on #98
Brilliant! Tested on `dev-master`:
[code]

Thank you @fetzi @nunomaduro for your reactivity! 🙏

[2020-06-21 07:35] fetzi commented on #76
@nunomaduro did you already write something regarding the plugin API?

[2020-06-21 09:53] Gummibeer opened #108 "ReflectionException on overloaded method call"
I've added a macro to `Illuminate\Testing\TestResponse` which I'm unable to call because pest throws a `ReflectionException`.

[code]

I was able to fix it by adding a `try-catch` to the `Reflection::call()` method, check if `__call` exists and if so pass method call to overloaded `__call`.

[code]

Issue for https://twitter.com/devgummibeer/status/1274639315574894592

[2020-06-21 14:58] nunomaduro commented on #76
You can check here: https://pestphp.com/docs/guides/plugins/.

It's missing the interfaces thing, and the auto-detection of plugins.

[2020-06-21 15:49] nunomaduro commented on #102
@AlexMartinFR This kind of stuff, don't hesitate on making tweets like this: https://twitter.com/enunomaduro/status/1019981092336660480?s=20

[2020-06-21 16:53] #108 closed

[2020-06-21 17:29] AlexMartinFR commented on #102
Good idea!

[2020-06-22 07:27] Gummibeer commented on #11
Isn'T this the same/similar to 92?

[2020-06-22 10:26] PieterO commented on #104
@nunomaduro what version of safari are you running? (might make this easier to reproduce)

[2020-06-22 10:58] nunomaduro commented on #104
`Version 13.1.1 (15609.2.9.1.2)`

[2020-06-23 16:55] michelmelo opened #110 "DOMDocument::schemaValidate(): Invalid Schema"
I'm trying to use the package but I have the following error:
[code]

[2020-06-23 17:05] owenvoke commented on #110
That sounds like your `phpunit.xml` file might not be matching the schema. 🤔 Could you post the contents of that here?

[2020-06-23 17:08] michelmelo commented on #110
[code]

[2020-06-23 17:09] miscbits commented on #11
@Gummibeer yes. This has just been sitting for a while is all cause I didn't really have the time to work on it myself.

[2020-06-23 17:11] michelmelo commented on #110
![image](https://user-images.githubusercontent.com/159223/85433794-e1f93800-b57c-11ea-8b71-24dfbe6b1bec.png)

[2020-06-23 17:53] owenvoke commented on #110
So I ran a quick XML schema validation on your config and it returns:

I don't think I've ever included the schema reference in my PHPUnit config. Just noticed that my config gets the same issue when I add the schema reference.

[2020-06-23 18:04] michelmelo commented on #110
@owenvoke how do you have the file? phpunit.xml

[2020-06-23 19:30] owenvoke commented on #110
Here's my default, if that's what you meant?
https://github.com/owenvoke/skeleton-php/blob/master/phpunit.xml.dist

[2020-06-23 21:03] jonnywilliamson commented on #86
Thank you for extracting that.

[2020-06-23 22:57] AlexMartinFR commented on #11
It seems I posted a duplicate issue indeed.

I have a PR on the way to take care of that.

Empty tests will now be marked as incomplete:

<img width="497" alt="Pest Higher-Order Pending Tests" src="https://user-images.githubusercontent.com/19224681/85474809-7a131380-b5b5-11ea-9166-198cfea62a2b.png">

[2020-06-24 13:24] michelmelo commented on #110
tks done.

[2020-06-24 13:24] #110 closed

[2020-06-25 07:15] ekandreas opened #111 "Lastest nunomaduro/collision requires Laravel 8"
Latest version 5.0.0-BETA3 of nunomaduro/collision requires Laravel 8. Perhaps it is a bit too forward right now as Laravel 8 isn't released yet?

[2020-06-25 07:17] ekandreas commented on #111
My workaround to get pest to work in L7:
[code]

[2020-06-25 08:16] owenvoke commented on #111
Isn't that just for testing as it's in `require-dev`? 🤔

[2020-06-25 08:49] ekandreas commented on #111
https://github.com/nunomaduro/collision/blob/v5.0.0-BETA3/composer.json

[2020-06-25 09:00] nunomaduro commented on #111
That's is `require-dev` ...

[2020-06-25 09:04] owenvoke commented on #111
@ekandreas, that's a `require-dev` entry. It's only for the development and unit testing, Collision 5 still works with Laravel 7 (I just did a test install to check). 👍

I guess `laravel: [7.0, 8.0]` could be added to the CI matrix to test both if really necessary? 🤷

[2020-06-25 09:32] ekandreas commented on #111
Yest, pest is placed in require-dev and therefore getting the lastest update 0.2.2 that requires beta3 and laravel 8.

[2020-06-25 09:35] ekandreas commented on #111
So where do you want me to put pest to get this to work again?

[2020-06-25 09:49] ekandreas commented on #111
Never mind, just forcing pest to use beta2 solves the issue for now:
[code]
As you have "nunomaduro/collision": "^5.0.0-BETA2" with the ^-sign it will grab beta3 and force it to Laravel 8.
Your composer should perhaps say: "nunomaduro/collision": "5.0.0-BETA2" ?

[2020-06-25 10:07] owenvoke commented on #111
It won't force to Laravel 8 🤔

Just ran through an install with a fresh Laravel 7 app. It stays on Laravel 7 because `require-dev` in a package has no effect on projects/packages that require it.
https://asciinema.org/a/jqYTxyualIilRwrDuNZ39PexY

[2020-06-25 10:15] ekandreas commented on #111
Ohh, yes, as long as you have ^ in the version numbering it will take the latest package and install beta3.
Working around this with a more declarative setting for the collision package for now.

[2020-06-25 10:17] ekandreas commented on #111
But if it's only me that have this issue we can close it and hope that no one else stumbles on it as they upgrade to the latest pest package.

[2020-06-25 10:17] #111 closed

[2020-06-25 10:27] owenvoke commented on #111
Mine did install `v5.0.0-BETA3` and it was fine. I'm not sure what the issue is, Collision `v5.0.0-BETA3` is compatible with Laravel 7 and 8, and does not force either to be installed. 🤔

[2020-06-25 10:31] ekandreas commented on #111
I still argue that beta 3 forces L8: https://github.com/nunomaduro/collision/blob/stable/composer.json

[2020-06-25 11:30] AlexMartinFR commented on #11
**Update:** my PR isn't ready, I found some implementation problems. If you want to help, here is what I have so far.

--------------------------------------------------

### Problem:
By default, PHPUnit marks both empty & assertion-less tests as Risky.
We want a slightly different behavior to improve the Pest UX.

### What we want:

- An empty test must be **marked as Incomplete**
- A non-empty t

[2020-06-25 11:35] AlexMartinFR commented on #85
Move 1st installation step to the Troubleshooting guide (the note about phpunit.xml)

[2020-06-25 11:50] owenvoke commented on #11
Personally I feel like `->incomplete()` would be better as the main call. And perhaps having a `->wip()` call that passes the values to `->incomplete()` with a default message of "wip". So `wip()` is just a shorthand and then `incomplete()` ties in with the underlying PHPUnit naming.

<details>
<summary>Example methods</summary>

For example:
[code]

</details>

However, I love the `wip()` call an

[2020-06-25 12:08] AlexMartinFR commented on #11
So on Discord, Nuno mentioned another interesting solution:

We could have a new `wip('')` test method:

[code]

Pest would not run these tests at all, unless we call the `--wip` option:

[code]

[2020-06-25 12:50] AlexMartinFR commented on #11
We have different choices here, let's sum them up:

## Syntax:

A. Shorter syntax:
[code]

B. Chainable syntax:
[code]

## Behavior:

1. Skip wip tests by default.
`./vendor/bin/pest --wip` will show **wip tests only**.

2. Skip wip tests by default.
`./vendor/bin/pest --wip` will show wip tests **and** normal tests.

[2020-06-25 15:49] nunomaduro commented on #111
lol, it doesn't.

[2020-06-26 14:30] AlexMartinFR commented on #92
Closing, as it's a duplicate of #11

[2020-06-26 14:30] #92 closed

[2020-06-26 16:22] nunomaduro commented on #44
https://github.com/pestphp/pest/commit/9ea51caf3f74569debb1e465992e9ea916cb80fe

[2020-06-26 16:22] #44 closed

[2020-06-26 16:25] nunomaduro commented on #27
No plans on working on this at the moment.

[2020-06-26 16:25] #27 closed

[2020-06-26 16:26] nunomaduro commented on #60
@zolotov88 Did you find your answer? If yes, can you close this issue?

[2020-06-26 16:29] nunomaduro commented on #72
Seems done.

[2020-06-26 16:29] #72 closed

[2020-06-26 16:30] nunomaduro commented on #32
@Joucke Can you try to develop this? Should be just adding something like this: https://github.com/pestphp/pest/pull/103/files#diff-4726f6affac796013ea01b71b2a6aae7R90.

[2020-06-27 23:48] #102 closed

[2020-06-28 21:14] rkozlov95 commented on #79
@nunomaduro
How do you think?
Is it right to use [changelog-linker](https://github.com/symplify/changelog-linker) in terms of [keep a changelog](https://keepachangelog.com/en/1.1.0/)?
I think manual writing is the best way for users of the package.
Another option is to use the "changelog-linker" output to make adjustments to the "changelog".

[2020-06-28 21:17] nunomaduro commented on #79
For now, I prefer to do it manually.

What we really need is:

1. Go to every repository and make sure all of them have the https://keepachangelog.com/en/1.1.0/ format.
2. Add missing links to pull requests / commits. Or at least most of them when we can't find.

[2020-06-28 21:56] nunomaduro opened #113 "RFC: add `expect` function"
When we are writing tests, we often need to check that values meet certain conditions. And for that, at the time of this writing, we are using PHPUnit syntax using the global helpers: `assertEquals`, `assertTrue`, `assertFalse`, etc.

The problem with this is the number of global helpers that are injected in the global namespace: **One function per assertion**.

This RFC introduces the global help

[2020-06-28 23:21] owenvoke commented on #79
I'll apply these changes to any of the repos I help maintain tomorrow. 👍

[2020-06-29 07:12] ssmusoke commented on #113
@nunomaduro for easier migration and reduce cognitive load, can the default expectations be consistent with the asserts then add aliases to better sounding or user friendly names

[2020-06-29 13:48] ecreeth commented on #113
hhvm has some good libraries that can inspire: [FBExpect](https://github.com/hhvm/fbexpect) and [HackTest](https://github.com/hhvm/hacktest)

[2020-06-30 08:18] DavertMik commented on #113
Just plug this in and you are ready! 🎯
https://github.com/Codeception/Verify

[2020-07-01 06:57] nunomaduro opened #116 "feat: `--thanks` option"
Would be cool if we had a `--thanks` command that shows all the options on how people can support the project: github stars, sponsors, etc.

[2020-07-01 07:19] owenvoke commented on #116
Kind of like the `composer fund` command? Or would it just be another core-flag thing like the `--version` flag? I can add this later today.

[2020-07-01 07:22] nunomaduro commented on #116
Yeah like the `--version`.

The idea would be add some GitHub stars on our github projects, open a browser to make a tweet about pest, propose funding options, etc.

[2020-07-01 07:23] owenvoke commented on #116
I'll add that later. Sounds good. :+1:

[2020-07-01 07:23] nunomaduro opened #117 "docs: add possibility for translations"
I would like to explore if we can have our website in multiple languages.

[2020-07-01 09:30] owenvoke commented on #116
Implemented in PR https://github.com/pestphp/pest/pull/118 👍

[2020-07-01 09:53] nunomaduro opened #119 "chore: improve feedback on github actions"
Would be cool to have somthing like this for pest.

![2020-07-01 11 51 42](https://user-images.githubusercontent.com/5457236/86230493-6b1df980-bb91-11ea-957e-622cac78b8ec.jpg)

[2020-07-01 09:57] owenvoke commented on #119
Ha, I was just looking at that PR. 😄 Should be relatively easy to implement.

I know that for this repo, we implemented a ["problem matcher"](https://github.com/pestphp/pest/blob/master/.github/workflows/tests.yml#L47-L48), but a `--github-ci` plugin would be pretty neat. 👍

[2020-07-01 11:37] nunomaduro opened #120 "feat: parallel testing"
Today, all the testing is closure based. Therefore, we should be able to [serialiaze closures ](https://github.com/opis/closure) and run them ( somehow ) run them in parallel.

[2020-07-01 14:01] zolotov88 commented on #60
@nunomaduro I still do not know how to make beforeAll() analog that will starts before setUp method of TestCase class.

[2020-07-01 16:51] #116 closed

[2020-07-02 13:52] m1guelpf commented on #39
Could we disable the animation when the prefers-reduced-motion media query is enabled?

[2020-07-02 14:08] AlexMartinFR commented on #39
Very good idea @m1guelpf !

cc @octoper 😉

[2020-07-02 19:05] Gummibeer opened #122 "laravel: execute test dataset closure in app context"
Hey,

right now I have a loop in my test closure which is okay but leads to the problem that the whole test fails if one entry of the loop fails. Instead I would like to use the `with()` method and define a closure that returns the elements of my current loop.
My problem is that the closure is executed outside of the Laravel app context.
Do you see any way to run the closure in Laravel app context

[2020-07-05 02:16] adalessa commented on #111
After a fresh install I found the following as was mentioned here that required dev does not generates a conflict for installation on composer, but trying to run php artisan test is throwing an error from this line https://github.com/nunomaduro/collision/blob/stable/src/Adapters/Laravel/Commands/TestCommand.php#L71
running pest command from the vendor directory great.

[2020-07-05 06:09] ratacibernetica commented on #111
I'm with @adalessa here, tried a new Laravel app from scratch, then installing Livewire and finally Pest:

[code]

[2020-07-05 09:03] owenvoke commented on #111
Yeah, using the Artisan command does require Laravel 8. I've never used the test command as it just calls Pest behind the scenes.

It looks like this is due to the `dotenv` package which released a new version. https://github.com/nunomaduro/collision/issues/132

[2020-07-05 11:42] nunomaduro commented on #111
[code]

Maybe we should support both dotenv versions on  nunomaduro/collision. Basicly have two functions that does different jobs up to the dotenv version.

Someone wants to work on this?

[2020-07-05 11:46] owenvoke commented on #111
@nunomaduro I'd be happy to take a look tomorrow if I have time. If anyone else wants to take this before though, I'm fine with that. 👍

[2020-07-05 13:09] nunomaduro commented on #111
thanks, the goal is try to support both dotenv 4 and 5 at the same time.

[2020-07-05 21:32] nunomaduro commented on #113
In progress...

[2020-07-05 21:53] tpaksu commented on #113
Will they be chained? For example:

[code]

Like Laravel's Validation system. And maybe have clauses like `toContainWhen('nuno', count($array) > 0)`.

[2020-07-05 22:38] nunomaduro commented on #113
I've just bootstrapped this work of adding the full-featured `expect` API.

Check out the pull request: https://github.com/pestphp/pest/pull/123. Fell free to help me with this. 👍🏻

[2020-07-05 22:38] #113 closed

[2020-07-05 22:39] nunomaduro commented on #113
@tpaksu Yes: https://github.com/pestphp/pest/pull/123/files#diff-a644964bd3325a15734d76efdaabd137R52.

[2020-07-06 16:48] SimoTod commented on #93
this is the standard behaviour in php when 2 traits have a method with the same name: https://www.php.net/manual/en/language.oop5.traits.php#language.oop5.traits.conflict (tearDown in this case)

[2020-07-07 07:28] dingo-d commented on #93
Yeah, I'm wondering if there is a way to avoid this collision.

[2020-07-07 09:04] nunomaduro commented on #93
@SimoTod @SimoTod Maybe we can avoid the trait on the internals of Pest? Somehow having the code we have on `Concern\TestCase.php` on the eval string itself?

[2020-07-07 09:43] SimoTod commented on #93
@dingo-d
As a workaround,I think you can create your own trait extending both, use aliases for the teardown methods and define a new teardown which calls both of them (or if you don't need one of them just define an alias for the wrong one)

[2020-07-07 12:09] SimoTod commented on #93
@nunomaduro I don't have much knowledge about the internals but I assume pest creates classes at runtime composing methods, traits, etc. The main challenge is that, if a user decide to use 2 traits with the same method, you don't know. which one of the 2 methods they want to use (probably both).
Maybe you can create a trait at runtime (like you do with classes) which composes all those traits; you

[2020-07-08 14:13] BinaryKitten opened #124 "Idea: allow test closure to be passed after the fact"
Coming from Live Stream, it seemed to be a good idea to have an alternative syntax for readability

currently:
[code]

here the passed function is small and easy to see what is going on

The proposal here is to allow the second argument to 'it' to be passed later in the chain so we get something like
[code]

[2020-07-08 16:48] owenvoke commented on #119
I think this would be a change to [the `Style::writeErrorsSummary()` method in Collision](https://github.com/nunomaduro/collision/blob/805929cb4bb6b24ef56a28a4121eb1336803effd/src/Adapters/Phpunit/Style.php#L82).

Something such as appending the following to the end of the method:
[code]

Except it needs to be configurable obviously, so that we can pass the option from Pest. 👍

Might have a look a

[2020-07-09 13:09] owenvoke commented on #89
I guess this can be closed as it seems to be available now in https://pestphp.com/docs/guides/pest-from-scratch/ ? 🤔

One thing to note, the image at the bottom doesn't correspond to how the actual output is.

![Preview of output from pest init](https://user-images.githubusercontent.com/1899334/87043778-80c49c00-c1ed-11ea-8691-babc3d240e5e.png)

[2020-07-09 17:36] AlexMartinFR commented on #95
So, I can't find a way to pass an option from Pest to Collision.
I've been trying to inject a parameter of some kind into the test suite, so that Collision could read it, but to no avail so far.

Do you have any advice regarding that, @nunomaduro ?

[2020-07-09 17:46] AlexMartinFR commented on #89
Yes we could close the issue now, but now that you mention it, there is this picture problem to solve.

I wonder though, shouldn't the **pest-plugin-init** create a _Unit_ & _Feature_ folders, with their respective example tests?
(Following Laravel's default structure)

[2020-07-09 17:48] owenvoke commented on #89
Not sure, the `init` plugin isn't really only for Laravel. So it sets up a generic structure to get started. However, the Laravel Artisan command will set up a Laravel structure.

[2020-07-09 17:52] AlexMartinFR commented on #89
I'm wondering what people usually do in other projects, isn't Feature/Unit folder a common need even beyond Laravel?

[2020-07-10 07:05] owenvoke commented on #89
I've seen various structures. Often a unit directory, sometimes all top-level, sometimes feature, integration, functionality, etc. That's why I thought keeping it vague would be best. That way people can just create a directory structure if that's what they want.

The [current `phpunit.xml` provided](https://github.com/pestphp/pest-plugin-init/blob/master/stubs/phpunit.xml) by `--init` just runs a

[2020-07-10 11:25] Synchro commented on #57
I've run into this too; psalm doesn't seem to know that pest isn't phpunit:

[code]

)->throws(HeaderException::class);

I guess this might be a result of accessing the files directly rather than in the context of pest, so for now I'm not letting psalm check my tests. FWIW, phpstan doesn't have any problem with them.

[2020-07-10 13:00] AlexMartinFR commented on #89
Good point, thanks for your insights 👍

I've updated the image, let's close this now.

[2020-07-10 13:00] #89 closed

[2020-07-14 07:37] fbraem commented on #33
I assumed that I could initialize some context variables (a database connection for example) in a beforeAll closure and use that context in a skip. But it turns out that skip is called before beforeAll.

So this:

[code]
doesn't work because $context->db is not yet available.

[2020-07-14 14:17] nunomaduro commented on #33
Why you don't use beforeEach?

[2020-07-14 15:25] fbraem commented on #33
My intention was to ignore the tests when there is no connection to a database. If I set the database in beforeEach, the tests will still be executed when there is no connection. Or am I missing something?

I also noticed that Helpers (withDatabase function is located there) are available in Pest.php. Calling withDatabase in Pest.php for the first time, will make it possible to check the database

[2020-07-14 16:08] avrahamappel commented on #33
Hi! I'm enjoying the clean syntax of this package a lot. Here's one thing that confused me when using datasets. I sometimes use initialized objects in datasets and it's difficult to tell which dataset is used when you see
[code]
I tried adding string keys to the dataset array, but Pest doesn't seem to use them for labels as PHPUnit does, I still see the full array in the output.
[code]
Is there a

[2020-07-14 20:43] nunomaduro commented on #95
@AlexMartinFR maybe you can detect that you the Pest side, and change the printer to a different printer class? what do you think @owenvoke

[2020-07-15 06:38] olivernybroe commented on #5
So I can see we never updated this issue, there is a repository for the plugin and with a lot of working features.
A stable release has not been made yet, however it is pretty usable already.

https://github.com/pestphp/pest-intellij

[2020-07-15 06:55] olivernybroe opened #126 "Missing API the naming generation for tests without names"
# Problem
As the pest plugin for IntelliJ is getting more and more love, we want to add support for tests without names.

However this raises the problem of what to show in IntelliJ.

We therefore need to know how to generate the name and for that logic to be the same in pest and in the plugin.

# Solutions
There are multiple ways to make sure this logic is the same.

1. Having an API in Pest to g

[2020-07-15 08:03] AlexMartinFR commented on #95
Nice approach 👍  It should allow a custom rendering without adding too much conditionals in Collision.
I'll look into it and let you know how it goes :)

[2020-07-15 08:12] owenvoke commented on #95
I think that sounds good. 👍 I was trying to work out how to do a similar thing for this GitHub Actions printer. Although, for that I don't think it would be that good as a separate printer class, but maybe it would. 🤷

[2020-07-15 09:55] AlexMartinFR commented on #95
So, I'm still struggling to pass a custom option, but at least I now have a working prototype leveraging the native PHPUnit `verbose` option!

<img width="377" alt="Capture d’écran 2020-07-15 à 11 51 45" src="https://user-images.githubusercontent.com/19224681/87531213-acce9a00-c691-11ea-9fbb-8927f91eaa37.png">

[2020-07-15 09:56] nunomaduro commented on #95
Niceeeeeeeeeeee...

That actually sounds good to me.

[2020-07-15 11:01] #5 closed

[2020-07-15 20:01] nunomaduro opened #127 "chore: missing tests against PHP 8"
Currently, the test suite is testing against PHP 7.3, and PHP 7.4. To fix this issue, you should make sure our test suite is testing also against PHP 8. So we can be prepared for PHP 8 before it gets released. 👍🏻

To get started you should update https://github.com/pestphp/pest/blob/3eb0a95955750e4a83749d24462076e5aa1e9a33/.github/workflows/tests.yml#L12.

Finally, and if tests are failing, you sh

[2020-07-15 20:12] nunomaduro commented on #127
@driesvints is also trying to test the Laravel Core against PHP 8: https://github.com/laravel/framework/compare/php-8-builds. His work may help us here.

[2020-07-15 20:19] GrahamCampbell commented on #127
Laravel 8 is coming along well now. A big blocker was Mockery, but I fixed up all that: https://github.com/mockery/mockery/pull/1072. It looks like you are facing a similar issue to mockery.

[2020-07-15 20:21] GrahamCampbell commented on #127
I think you can just delete these lines entirely. They are never hit:

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/2829600/87592056-204bc800-c6e1-11ea-89b2-e3283de7c570.png">

[2020-07-15 20:23] GrahamCampbell commented on #127
Ish. I'll PR.

[2020-07-17 12:38] aniljaiswal opened #131 "PHPUnit Environment variables not respected"
While running `vendor/bin/pest` in a Laravel 7.x project via Docker, the environment variables defined in the phpunit.xml are not being used, instead, it is using the values defined in the .env file.

Is this a bug or an expected behavior at this point?

[2020-07-17 16:36] Synchro opened #132 "Coverage line numbers not quite in numeric order"
I just noticed this slightly odd output:

    Validator 108..111, 296..299, 424..427, 447..446, 456, 480, 520, 539, 542, 597, 657, 661..663, 665..667, 671..680, 700, 705 . 87.7 %

Notice amongst those: `447..446` – looks like line number ranges are not always sorted correctly.

[2020-07-17 16:37] Synchro opened #133 "Coverage line numbers not quite in numeric order"
I just saw this slightly odd output:

    Validator 108..111, 296..299, 424..427, 447..446, 456, 480, 520, 539, 542, 597, 657, 661..663, 665..667, 671..680, 700, 705 . 87.7 %

Notice amongst those: `447..446` – looks like line number ranges are not always sorted correctly.

Running with PHPUnit 9.2.6 and PHP 7.4.8.

[2020-07-18 09:56] nunomaduro commented on #132
That sounds a bug to me. Can you try to make a pull request to fix it?

[2020-07-18 09:57] nunomaduro commented on #133
Duplicated of https://github.com/pestphp/pest/issues/132.

[2020-07-18 09:57] #133 closed

[2020-07-18 09:58] nunomaduro commented on #131
That's very weird. Can you somehow make a project or a test that reproduces that bug?

[2020-07-18 10:08] owenvoke commented on #131
I wonder if this is related in any way to the issue we were having with adding back DotEnv 4 support to Collision 5? 🤔

[2020-07-18 10:15] nunomaduro commented on #131
@owenvoke He said that've runned `vendor/bin/pest`, and not `php artisan test`.

[2020-07-18 18:25] Synchro commented on #132
I made a PR [over here](https://github.com/pestphp/pest-plugin-coverage/pull/5) – is that the right place? The tests are failing, but that doesn't seem to be anything to do with my code!

[2020-07-18 19:14] #132 closed

[2020-07-18 19:14] nunomaduro commented on #132
Thank you!

[2020-07-19 11:51] owenvoke commented on #131
Ah, no worries. :+1: I missed that.

[2020-07-19 20:01] captenmasin opened #135 "Test coverage issues with Facades?"
I'm pretty new to testing (I know I should've been testing from the start) but when I run `./vendor/bin/pest --coverage` I seem to get issues with Laravel facades

https://i.imgur.com/TZYtkeY.png

Have I just configured it wrong?

[2020-07-20 06:41] nunomaduro commented on #135
Please don't run coverage on the `routes` folder.

[2020-07-20 06:41] #135 closed

[2020-07-20 07:36] aniljaiswal commented on #131
Sure, I'll try to take out some time to detail the steps.

[2020-07-21 14:46] underdpt opened #136 "Feature request: Show what exact assertion has failed"
Hi

I have some long tests that covers full user interaction with some functionality. There may be tens of assertions on a single test, and I'm facing some difficulty getting to know which assertion has failed.

Take this example:

[code]

Upon running the test, this is the output:

[code]

It's impossible to know which assertion has failed, I  have to add more verbosity and then:
[code]

I can se

[2020-07-21 15:15] nunomaduro commented on #136
That must be a bug here: https://github.com/nunomaduro/collision/blob/1e43bcab2ce79146b9852ca81a25ae2d1d21986b/src/Writer.php#L204.

Can you try to fix it?

[2020-07-22 17:33] nunomaduro opened #137 "[Website] Twitter preview image is broken on the website installation docs"
Looking at this tweet: https://twitter.com/enunomaduro/status/1285990743832694785?s=20. Looks like the twitter preview is broken.

cc @octoper @AlexMartinFR

[2020-07-23 11:39] Joucke commented on #32
Sorry, I've been looking at this - but I really don't understand how either pest or phpunit work internally. Thought it'd be a nice challenge, but I have no idea where to start.

[2020-07-26 14:50] AlexMartinFR commented on #137
Broken, as in it always displays the same image?

[2020-07-27 06:14] olivernybroe opened #140 "Support TeamCity format"
For the phpstorm plugin to work correctly, pest has to create a usable teamcity output.

Right now we use the underlying phpunit teamcity printer, however this one relies on tests being in classes, which means that whenever a test start, I get the following data
[code]

I cannot use this location hint for anything, so we need our own printer for this format.

This can currently solve two issues fo

[2020-07-27 06:48] #137 closed

[2020-07-27 06:48] nunomaduro commented on #137
Is good now. It wasn't deploying nothing.

[2020-07-30 22:45] nmokkenstorm opened #143 "Overriding base testcase methods"
[Linked tweet as requested ](https://twitter.com/enunomaduro/status/1288962431209869313)

As mentioned in the above conversation, there's a relatively common usecase for (abstract) base testcases giving extension points for the actual testcases. I ran into this when using Pest and [orchestral/testbench](https://github.com/orchestral/testbench#setup-environment) in conjunction, but it's also someth

[2020-07-31 06:18] nunomaduro commented on #143
`uses(['foo' => function () {}])`. What do you think?

[2020-07-31 07:54] nmokkenstorm commented on #143
[code]
and
[code]

Should work I think, although that does relax the function signature of both the [uses global](https://github.com/pestphp/pest/blob/master/src/globals.php#L50) and the [backing Pending Object](https://github.com/pestphp/pest/blob/master/src/PendingObjects/UsesCall.php#L48), so maybe a new global function would be better. I'm not familiar with the internals of Pest yet but I thin

[2020-08-01 08:40] nunomaduro commented on #143
@nmokkenstorm Good luck!

[2020-08-01 20:55] wardy484 opened #144 "Higher order assertDatabase{x} functions"
It kind of felt like this issue should have lived in the laravel plugin but I couldn't seem to create issues there, let me know if this is the wrong place. Also let me know if I've missed something glaringly obvious and this is either super easy to do or is already implemented.

Anyway, I found the higher order functions enable you to right fairly clean tests, for example I'd written the following

[2020-08-03 17:24] AlexMartinFR opened #149 "Main questions and arguments against Pest as the default Laravel testing tool."
Nuno recently proposed a [PR to make Pest the default testing tool in Laravel](https://github.com/laravel/laravel/pull/5361).

Here is a summary of the main questions and arguments against it.
This should help Pest target people's needs more accurately in the future.

_All points are extracted from actual quotes and edited for brevity._

## Common questions:

- Will PHPUnit still work?
- Will I ha

[2020-08-03 20:27] GrahamCampbell opened #152 "Better exception assertions"
It'd be nice if throws provided a callback so someone can write assertions against the thrown exception. The current way of doing things could be slicker. Currently one must do something like (some real test code from StyleCI here):

[code]

In pest world, the try-catch would still be there:

[code]

Can we do better, maybe by allowing throws to have a callback to allow a developer to make asserti

[2020-08-03 20:38] owenvoke commented on #152
So would this just be a 3rd parameter in the `throws()` call? That would be neat! So something like:
[code]

[2020-08-03 20:41] GrahamCampbell commented on #152
Yeh, exactly. That's pretty much what I had in mind, and possibly allowing param 2 to be a callable too, in the case that someone doesn't wanna check the message.

Another approach would be to have `->throws(...)->then(function...)` or something, but then we'd have to change the return value of throws to something else, which could be annoying.

[2020-08-03 21:06] owenvoke commented on #152
Yeah, I had thought about a different return type but couldn't think of a good name. `then()` would be quite simple and consistent.

I agree that sometimes people won't want to check the message, or for example they want to check it in the callback instead. 🤷🏻 👍🏻

[2020-08-03 22:22] GrahamCampbell commented on #152
Yeh, that was @nunomaduro's idea actually, after I suggested `andThen`. ;)

[2020-08-04 01:23] roni-estein opened #153 "Higher order test does have access to the database"
When running code in the beforeEach function, the code the code is not run before higher order tests.

Here are some input output tests in a basic project

### EXPECTED
[code]

[code]

### UNEXPECTED, expecting same output as the last test

[code]

### FINAL SANITY TESTS

[code]

### Change to higher order beforeEach, no change in output
[code]

### tests/Pest.php
[code]

tests/TestCase.php has th

[2020-08-05 07:26] nunomaduro commented on #84
And fixed here: https://github.com/pestphp/pest-intellij/releases.

[2020-08-05 07:26] #84 closed

[2020-08-05 08:46] olivernybroe opened #157 "Add Pest plugin to documentation"
The plugin is now getting a stable release and I think it is time for us to actually add it to the website for user's to easily find it.

JetBrains has support for two different iframes which might be useful in docs
![image](https://user-images.githubusercontent.com/5870441/89391704-d6b33380-d708-11ea-8da9-7bcbd389885f.png)
[code]
![image](https://user-images.githubusercontent.com/5870441/89391745

[2020-08-05 09:51] owenvoke commented on #157
I feel like it would be nice to create our own component that fits with the rest of the site. But either of those embeds would probably be fine, although that's loading another thing from a remote endpoint. :shrug:

[2020-08-05 09:59] olivernybroe commented on #157
@owenvoke Yeah, I think our own component would prob. be better 👍 Just wanted to show the option if somebody found them a better fit.

[2020-08-05 20:11] wardy484 commented on #144
For anyone curious I've solved this in my project for the mean-time with macros:
[code]

I'm not convinced its a good solution but it certainly makes my tests quite tidy.

[2020-08-05 20:30] nunomaduro commented on #144
lol, seems a good solution for me.

Another option is using your own `deleteJson` function, that returns the test case instead of the test response.

[2020-08-05 20:30] #144 closed

[2020-08-05 20:30] nunomaduro commented on #157
cc @AlexMartinFR

[2020-08-06 11:06] octoper commented on #157
I might be able to make a component later today.

[2020-08-06 11:20] AlexMartinFR commented on #86
Continuing on: https://github.com/pestphp/pest/issues/86

[2020-08-06 11:24] AlexMartinFR commented on #157
Now that we have an official PHPStorm plugin, can we assume [all issues listed here](https://github.com/pestphp/pest/issues/86) are solved?

If so, we could turn the **PHPStorm guide** into a broader **IDE integration** guide.
We could also link @m1guelpf's https://github.com/m1guelpf/better-pest for VSCode users.

[2020-08-06 13:28] olivernybroe commented on #157
@AlexMartinFR We can also use shield.io for the downloads part, they support intellij plugins

[2020-08-07 15:23] AlexMartinFR commented on #157
Can we extract only the downloads number from the JetBrains website?

If so, we could have a custom design like so:
(I would write a text introduction on top of the page, before throwing the cards).

![image](https://user-images.githubusercontent.com/19224681/89660655-ee89e380-d8d1-11ea-855e-91129654056b.png)

I've reused a "dome badge" CSS class I'm using on my projects to make different logos fi

[2020-08-07 15:49] owenvoke commented on #157
@AlexMartinFR, that looks great! You could probably use their API and just extract the relevant XML attribute?
https://plugins.jetbrains.com/plugins/list?pluginId=14636

It's under the following XML XPath selector:
[code]

[2020-08-07 18:27] adamthehutt opened #158 "Pest broken with PHPUnit 9.3"
PHPUnit 9.3 made some changes to the class/directory structure that seem to have broken Pest.

In particular, there are no longer any classed in the PHPUnit/TextUI/Configuration namespace. Pest's Pest\Actions\ValidatesConfiguration class relies on two classes that used to be in that namespace (Configuration and Registry). This results in a fatal error any time you run Pest with PHPUnit 9.3.

[2020-08-07 19:22] owenvoke commented on #158
Looks like this should be resolved going forward by #128 👍🏻

[2020-08-07 23:58] adamhopkinson opened #159 "Pest installation fails on a fresh Laravel v7.24.0"
I've been intending to have a go with Pest, but it wouldn't install into my project. To avoid getting into debugging versions, I installed a completely fresh copy of Laravel v7.24.0 and Pest still won't install.

My steps (removing responses) were:

1. `composer create-project --prefer-dist laravel/laravel blog`
1. `cd blog`
1. Confirm that `"minimum-stability": "dev"` and `"prefer-stable": true`

[2020-08-08 00:54] innocenzi commented on #159
Your version constraint is `^9.0`, so the new version of PHPUnit, `9.3`, will be installed. That new version seems to break Pest, as you can see in #158.

For now, you can just change PHPUnit's version to 9.2, or use @GrahamCampbell's `php8` branch.

[2020-08-08 04:34] scrlkx commented on #159
I just replace it by `composer require phpunit/phpunit:"9.2.*" --dev --update-with-dependencies` while this is break.

[2020-08-08 09:16] GrahamCampbell commented on #158
You need to upgrade to the latest tag of pest, to stop this happening. :)

[2020-08-08 09:16] #158 closed

[2020-08-08 09:17] GrahamCampbell commented on #159
The bug is with composer. If you manually add pest then run `composer update`, there will be no issues.

[2020-08-08 09:17] #159 closed

[2020-08-08 09:17] GrahamCampbell commented on #159
Or maybe you also need `--update-with-dependencies`.

[2020-08-08 09:19] GrahamCampbell opened #160 "[NOTICE] PEST REQUIRES PHPUNIT 9.2"
Just a heads up that pest will require PHPUnit 9.2.x for the near future. Please use `pest/pest: ^0.2.4`, to ensure composer doesn't try to load PHPUnit 9.3.x.

EDIT: Pest 0.3.0, when it is released, will support PHPUnit 9.3.x and PHP 7.3-8.0. This is still a few weeks off, though. :)

[2020-08-08 21:58] adamhopkinson commented on #159
Great, thanks all for your explanations 🏅

[2020-08-08 22:23] nunomaduro commented on #104
Didn't happen again.

[2020-08-08 22:23] #104 closed

[2020-08-08 22:24] #127 closed

[2020-08-08 22:24] #76 closed

[2020-08-10 09:44] ekandreas commented on #111
This is still a problem for us. Pest requires Laravel 8. Perhaps we have to wait for September before we can accelerate Pest testing?

[2020-08-11 03:38] RoccoHoward commented on #160
Just got caught by this.

Maybe update the installation docs (https://pestphp.com/docs/installation/) - newcomers are going to be put off by the install dependency failure. It currently gets you to add the PHPUnit dependency first, before then adding the Pest dependency - which will fail.

[2020-08-11 06:53] tooshay commented on #160
Or in other words, add `"pestphp/pest": "^0.2.4",` to your composer.json! 😉

(Sorry, might seem obvious but I was even caught out by that!)

[2020-08-13 06:39] olivernybroe commented on #157
@owenvoke that is also how shields.io does it 👍

[2020-08-14 02:15] hackel commented on #153
This looks like the expected behaviour to me.  In your unexpected case, you're running `User::first()` right away instead of queuing it up in a closure to go in your testcase once the application is booted and `beforeEach` has run.  If you update your `dd` method to accept a closure and dump the results, that should solve your problem.
[code]

[2020-08-14 02:29] hackel commented on #33
I just discovered that it's not possible to run Pest and PHPUnit side-by-side, as PHPUnit will try to run my Pest test files, which then throw an InvalidPestCommand exception before any tests have run.  Of course I would like to eventually get everything over to Pest, but this is going to take time, so a progressive migration would be preferred.

It seems like for now I'm just going to have to put

[2020-08-14 07:27] owenvoke commented on #33
@hackel, Pest should run all your PHPUnit tests as well due to it being a progressive framework. 🤔

[2020-08-14 15:12] hackel commented on #33
@owenvoke Yes, Pest runs my PHPUnit tests beautifully, but PHPUnit can no longer run its own tests.  Eventually I'll get around to integrating Pest into our custom CI, but until then we still need to run PHPUnit.

As an interim solution, I've just added this to the top of all my Pest tests.

[code]

[2020-08-14 15:18] owenvoke commented on #33
Oh right, I see. 👍🏻

[2020-08-19 10:30] ekandreas opened #164 "Q: How to get the browser object inside a helper function / Dusk?"
I would like to get the browser object inside a helper function in a dusk test. Is it possible? Eg,
[code]

[2020-08-19 14:45] bakanyaka commented on #160
I had the opposite problem. I was following https://pestphp.com/docs/installation/ and installed PHPUnit first and got the error when I tried to install Pest after that.
This installs phpunit 9.3 by default:
`composer require phpunit/phpunit:"^9.0" --dev --update-with-dependencies`
And this tries to install  "pestphp/pest": "^0.2.4" which has require  "phpunit/phpunit": "~9.2.0" in it's composer.j

[2020-08-19 14:46] GrahamCampbell commented on #160
Yeh, this is an issue with composer If you just add pest to your composer.json and run `composer update`, you don't need to do anything special, like require phpunit first.

[2020-08-21 08:53] ajthinking opened #167 "How override uses() in a single file in Suite? [Q / Feature request]"
How can I use a different `uses` statement for a single file in my Feature suite?

In `Pest.php`

    // All tests in Feature folder should use TestCase
    uses(Tests\TestCase::class)->in('Feature');
    // Except this one
    uses(Tests\IseedTestCase::class)->in('Feature/Ifrs/BulkTest');

It seems I cant override `uses` in that specific file:

Leaving me with options to move that specific test t

[2020-08-21 20:43] JacobBennett opened #168 "Laravel .env not picked up in test"
When running my test, if I `dd(config('services'));` Nothing will be set in the array that is defined in my `.env` and loaded into the config.

Not sure if I am missing something in my `TestCase` that needs to be added or what might be causing these `.env` values to be ignored.

[2020-08-25 08:59] nunomaduro commented on #168
@owenvoke Can you test this in a fresh laravel app very quickly? I am almost 100% sure this works.

[2020-08-25 09:11] owenvoke commented on #168
Seems to be working as expected when I tested. 🤔

https://asciinema.org/a/lVxc1Wwi8txmihEEhBHvqJg9z

<details>
<summary>Preview screenshot</summary>

![image](https://user-images.githubusercontent.com/1899334/91155777-345cef00-e6bb-11ea-803b-1c8d8b0ca6ae.png)

</details>

[2020-08-25 20:35] nunomaduro opened #171 "Release V0.3"
- [x] Tag all plugins and the core
- [x] core
- [x] pest-plugin-coverage
- [x] pest-plugin
- [x] pest-plugin-faker
- [x] pest-plugin-template
- [x] pest-plugin-watch
- [x] pest-plugin-laravel
- [x] pest-plugin-livewire
- [x] pest-plugin-init
- [x] pest-plugin-global-assertions
- [x] spatie-snapshots
- [x] Pull request upgrade guide to the docs.
- [x] Verify documentation
- [x] Write blog post

[2020-08-25 22:01] owenvoke commented on #171
Looks like for the Livewire plugin it is failing due to a change to the reflection API in PHP 8, as far as I can tell, this should be resolvable by forcing a minimum of [Laravel 7.14 and 6.18.17](https://github.com/laravel/framework/commit/1af06328c77b875dfb3304f3e9611c2078314acb).

- [Livewire Plugin](https://github.com/pestphp/pest-plugin-livewire/blob/master/composer.json)
- [Failing test suite

[2020-08-26 04:06] michaeldyrynda commented on #168
Make sure you don’t have cached config. That’ll wreak havoc on your expectations!

[2020-08-27 13:03] JacobBennett commented on #168
Hey guys. Had an .env.testing I didn’t realize was taking precedence! My bad 😅

[2020-08-27 13:37] owenvoke commented on #168
No problem @JacobBennett, easy mistake to make. Going to close this issue if that's alright? 👍🏻

[2020-08-27 13:37] #168 closed

[2020-08-27 14:06] JacobBennett commented on #168
Yes, please! Was going to close myself but couldn't find the option on Github Mobile :)

[2020-08-31 17:07] Synchro opened #175 "Call to undefined function assert*"
Just a pointer issue for searchers. If you start getting these "undefined function" errors after upgrading to pest 0.3, it means you need to read [the upgrade guide](https://pestphp.com/docs/upgrade-guide/), and switch your assertions to [the expectation API](https://pestphp.com/docs/expectations/) or instance methods instead of the old global `assert*` functions.

[2020-08-31 17:07] #175 closed

[2020-08-31 17:15] AlexMartinFR commented on #175
Thanks for that!

[2020-09-04 13:55] AlexMartinFR commented on #157
Shootout to @octoper who is working in the dark to bring this to life! 👍

[2020-09-04 16:53] octoper opened #176 "Website: Move from Jigsaw to a Laravel App"
I think it would be a good idea if we move from Jigsaw to a Laravel App like [laravel.com](https://github.com/laravel/laravel.com-next) or [blade-ui-kit.com](https://github.com/blade-ui-kit/blade-ui-kit.com) and also seperate the docs mardown files to a seperate reporitory. This will add some easier maintaining for the website development in my opinion.

[2020-09-04 17:04] owenvoke commented on #176
Hmm, interesting idea. I quite like the static ability of Jigsaw personally (I use it for my site as well). I'm open to using a Laravel app if there are many benefits over the current way.

[2020-09-04 17:09] octoper commented on #176
I think we will have more flexsibility for development and we can easily add table of contents for our docs pages with Blade UI Kit ToC Component 😅

[2020-09-04 17:53] AlexMartinFR commented on #176
Long documentation pages would greatly benefit from a clickable **Table of Contents**.
See **Idea 1** in #90

This idea came back to the surface while re-reading the Expectation API page.
It lacks an easy to browse overview of all available methods:

[Pest Documentation - Expectations](https://pestphp.com/docs/expectations/)
VS
[Laravel Documentation - Eloquent Collections - List of available meth

[2020-09-05 06:46] khalyomede opened #177 "Add toThrow expect assertion"
## Motivation

Expect is a great way to make my test more readable. À la Jest, I would like to be able to use expect to assert that some code should throw a particular exception instance.

## Expected behavior

A new `->toThrow(Exception::class)` method to assert that a class will be thrown in the expect callback.

[code]

## Actual Behavior

The method do not exist yet.

## Current working altern

[2020-09-05 09:50] owenvoke commented on #177
You could use the top level `throws` method, which is a bit cleaner.
[code]

But that does look interesting. 🤔 So if you were using `toThrow()` it would need to catch everything inside the expectation.

[2020-09-05 20:01] nunomaduro commented on #177
No plans for having this. Thanks for the suggestion tho.

[2020-09-05 20:01] #177 closed

[2020-09-05 20:01] #171 closed

[2020-09-05 20:09] adamthehutt opened #178 "Custom expectations?"
Are there any plans to add custom expectations to Pest?

When using assertions, it's easy to add your own by adding the methods to the base test class or creating helper functions. There doesn't appear to be a way to do this with expectations, though.

Custom expectations would be helpful for making code more readable in an application-specific context.

For example, in Laravel apps I might want t

[2020-09-07 10:45] dkzkb opened #180 "Coverage not found in path: /root/vendor/pestphp/.temp/coverage.php."
## Coverage not found in path: /root/vendor/pestphp/.temp/coverage.php.

Is coverage not available on docker container and aws ec2?

  - docker-image: ubuntu:20.04
  - php version: 7.4.3
  - xdebug: 2.9.2

I installed pest from composer on a docker container.
And I ran `./vendor/bin/pest --coverage` and got the error below.

What should i try next?

[code]

- xdebug is enabled.

[code]

-  ...and

[2020-09-11 16:20] lexdubyna opened #181 "Unknown formatter "name" (when using with factories in Laravel)"
I am trying to write Pest test for a Laravel 8 project.
Pest.php:
[code]
Feature/LoginTest.php
[code]
It gives me this issue:
[code]

I can "fix" it with `User::create(...some data...)`, but then I get this
[code]

Please help.

[2020-09-11 16:32] owenvoke commented on #181
What's the content of the factory class? 🤔

[2020-09-11 16:42] lexdubyna commented on #181
@owenvoke
[code]

[2020-09-12 10:17] owenvoke commented on #181
So I've had a look into this, it seems that in the base [`Illuminate\Database\Eloquent\Factories\Factory` class](https://github.com/laravel/framework/blob/75b796d9220233ac9c232ed5db32a9d5dbdc0d7d/src/Illuminate/Database/Eloquent/Factories/Factory.php#L669) it doesn't take locale into account as it just uses `return Container::getInstance()->make(Generator::class);` to get the generator from the co

[2020-09-12 15:58] nunomaduro commented on #181
You need to place the `$user = User::factory()->create();` inside a closure.

[2020-09-12 15:58] #181 closed

[2020-09-12 16:10] owenvoke commented on #181
🤦🏻 I should have spotted that as well.

[2020-09-12 20:49] coding-sunshine opened #182 "Phpunit 9.3.10 issue"
Can't install with PHPUnit 9.3.10

[code]

[2020-09-12 20:52] owenvoke commented on #182
Thanks for this, we're looking into this (see https://github.com/pestphp/website/pull/83). It's because of the use of internal classes.

[2020-09-12 21:49] nunomaduro commented on #182
Fixed on version `v0.3.2`.

[2020-09-12 21:49] #182 closed

[2020-09-14 18:26] DannyvdSluijs commented on #32
If this remains untouched I could take a stab at this somewhere in the near future. No promises though.
It seems only some glueing between Pest and the PHPUnit internals are needed. No need to mimic the annotations itself, right?

[2020-09-14 18:32] owenvoke commented on #32
@DannyvdSluijs, yep. I tried to get the 2 working together and passing the classes to PHPUnit, but hit a few issues which I didn't have time to overcome. 😬 Good luck if you do have a go, that'd be great!

[2020-09-14 18:37] DannyvdSluijs opened #183 "only() modifier is only limited to file scope"
The `only` modifier is only limited to file scope. It will run tests in other files as well when running the command `./vendor/bin/pest` and only skip the ones that are in the current file.
It's current behaviour doesn't match the expectations from the Pest website where it mentions:

The way I see it there are two ways about this:
1.) Update the docs to reflect the `only()` is limited to the file

[2020-09-14 18:40] DannyvdSluijs opened #184 "Adding skip() modifier on higher order test throws an exception."
Adding the `skip()` modifier on higher order test throws an exception.

Given the following code:
[code]

You get an error when running `./vendor/bin/pest`:
[code]

For the sake of context adding the `only()` modifier to a higher order test works perfectly fine.

[2020-09-14 19:51] DannyvdSluijs commented on #32
PHPUnit handles the `@covers` differently then a `@depends`. As with an `@depend` the meta data is set on the `Testcase` which was quite easily made possible in Pest as hinted by @nunomaduro. But the test coverage is part of the  `Testresult` class which is [invoking](https://github.com/sebastianbergmann/phpunit/blob/master/src/Framework/TestResult.php#L843) the `PHPUnit\Util::getLinesToBeCovered(

[2020-09-15 20:16] AlexMartinFR commented on #176
I can't remember if I already said that, but I feel it's important to keep an easy way for people to contribute to the documentation!

The fact that it's currently as easy as submitting a GitHub PR is a huge plus.
That's how I got involved in Pest in the first place. 🙂

[2020-09-15 20:28] nunomaduro commented on #178
Ideas to implement this?

[2020-09-15 20:58] adamthehutt commented on #178
No great ideas, unfortunately. I don't have a great handle on Pest's inner workings.

That said, off the top of my head... Maybe custom expectations are invokable classes (or even just functions) that return true or false indicating pass or fail. Either through naming conventions or configuration, the Expectation class could find them based on the method name passed to __call(), and simply Assert:

[2020-09-15 23:54] adamthehutt commented on #178
I just submitted a pull request which demonstrates a proof-of-concept implementation: https://github.com/pestphp/pest/pull/186.

[2020-09-16 08:01] olivernybroe commented on #140
We now support teamcity format, closing this issue.

[2020-09-16 08:01] #140 closed

[2020-09-16 08:03] olivernybroe opened #188 "Add collision output to teamcity printer"
Right now when an exception happens when using the teamcity printer, it is not using the nice collision output.

By adding support for that, when running test inside phpstorm, we will see our favorite output format.

[2020-09-16 08:10] olivernybroe commented on #183
Given that `only` is more of a debug solution than something you would have in your codebase, I think I would prefer the second option here.

[2020-09-16 09:14] octoper commented on #176
@AlexMartinFR I have this in mind so don't worry!

[2020-09-16 11:25] nunomaduro commented on #183
This is not true.

The `only` modified doesn't work tho if you have tests in PHPUnit classes.

[2020-09-16 11:25] #183 closed

[2020-09-16 12:51] roni-estein commented on #188
Super excited for this!!

[2020-09-17 08:58] royduin commented on #120
Maybe this can help: https://github.com/paratestphp/paratest

[2020-09-17 10:07] nunomaduro commented on #120
cc @owenvoke

[2020-09-20 21:35] octoper commented on #157
This is gonna be included in the new Pest Documentation

[2020-09-21 06:24] olivernybroe commented on #157
@octoper looking sooo forward to that 👍

[2020-09-23 13:09] nmokkenstorm opened #192 "Bug: `$this when not in object context` for datasets"
Hey all,

Currently trying to access the current test scope `$this` does not work for datasets. This is annoying but pretty easily fixable for the `Callable`& named cases, I don't know from the top of my head how I'd tackle the array case.

Happy to work on a PR for the former cases, would love some thoughts on the latter. Probably related to #122

[2020-09-24 00:59] octoper commented on #157
@olivernybroe I think that you can close that issue because the page has been added to the new website!

[2020-09-24 04:43] #157 closed

[2020-09-28 00:36] rvp-kubo commented on #180
I self-solved.

I added a whitelist to phpunit.xml and it was done.

[code]

Would you consider changing the error message?

Regards

[2020-09-28 00:39] dkzkb commented on #180
I self-solved.

I added a whitelist to phpunit.xml and it was done.

[code]

Would you consider changing the error message?

Regards

[2020-09-28 00:39] #180 closed

[2020-09-28 07:40] owenvoke commented on #180
The default PHPUnit configurations that are generated by `pest --init` and `artisan pest:install` already cover the most common modern paths for whitelisting (`src` and `app`), but I think this might be something that would be good to add to the docs somewhere. Regarding adding additional coverage directories.

[2020-09-29 01:30] octoper commented on #176
Closing this as it's done! [pestphp/pestphp.com-next](https://github.com/pestphp/pestphp.com-next)

[2020-09-29 01:30] #176 closed

[2020-09-29 09:46] faustbrian opened #194 "Tests outside of `tests` directory won't load/run"
On larger projects with Laravel I keep tests in the same directory as the source but this seems to cause issues with Pest, PHPUnit works fine.

[code]

This results in the following.

[code]

Should this just work out of the box or is there something I am overlooking that needs to be adjusted?

[2020-09-29 09:52] owenvoke commented on #194
Yeah, Pest currently expects a `tests` directory and this isn't configurable at the moment. 🤔

[2020-09-29 09:56] nunomaduro commented on #194
Yeah - no plans for having this.

[2020-09-29 09:59] faustbrian commented on #194
Any specific reason for not making this configurable? It's not uncommon to keep the source and tests in the same directory when working on large projects.

[2020-09-29 14:03] nunomaduro commented on #194
I think the vast majority of Pest users do put their tests in the `tests` folder.

[2020-09-29 16:24] rihardssceredins opened #195 "Can't use empty array as one of dataset values"
Hey,

Just started using datasets (great feature 💯) and noticed this:

[code]

<img width="771" alt="Screenshot 2020-09-29 at 19 23 58" src="https://user-images.githubusercontent.com/23099574/94585948-584abc00-0289-11eb-9e0a-87ac979ec7c2.png">

[2020-09-29 19:17] nunomaduro commented on #195
Your closure requires an `$param`. Update the code to:

[code]

[2020-09-29 19:17] #195 closed

[2020-09-29 19:30] DannyvdSluijs commented on #183
I've double checked this and indeed from a new laravel application the `Feature` test was still as a PHPUnit Testcase. Moving this over to Pest format using `it('description', callback)` it resolved my issues. Perhaps worth adding this to the site to inform people moving from PHPUnit to Pest?

[2020-09-29 19:46] nunomaduro commented on #183
Sure, can you make a pull request?

[2020-09-29 19:57] DannyvdSluijs commented on #184
After some debugging I've found that in `vendor/pestphp/pest/src/Support/HigherOrderMessageCollection.php` the above mentioned test results in two higher order messages the first for the method name `assertTrue` and the second method name is `markTestSkipped`.

On line 33 of the HigherOrderMessageCollection the target is overwritten with the return value. With the `assertTrue` method returning voi

[2020-09-30 06:57] rihardssceredins commented on #195
@nunomaduro hmmm, it now received null in both cases but in the second one it should've received an empty array:

[code]

<img width="592" alt="Screenshot 2020-09-30 at 09 57 17" src="https://user-images.githubusercontent.com/23099574/94652884-62a99c00-0303-11eb-8720-a95a336fd3c5.png">

[2020-09-30 08:09] owenvoke commented on #195
I'd assume that's because the array is interpreted as a subset of parameters.
[code]

[2020-09-30 08:14] rihardssceredins commented on #195
@owenvoke oh, nice, thanks! I saw it but it didn't seem applicable because it was indended for _multiple arguments_. :D

[2020-09-30 08:16] owenvoke commented on #195
Perhaps we could update the docs to clarify that a bit more in the case of an empty array. 👍🏻 Cheers.

[2020-09-30 19:50] #184 closed

[2020-10-02 09:57] Synchro opened #198 "Output when run via PHPStorm looks like phpunit, not pest"
I originally assumed that this issue was in pest-intellij and reported it [here](https://github.com/pestphp/pest-intellij/issues/71), but @olivernybroe tells me it's not, so reposting it here.

I have set up a pest test running as per the docs, and when it runs inside PHPStorm it looks like "regular" phpunit:

![image](https://user-images.githubusercontent.com/81561/94270267-1693db80-ff40-11ea-84f

[2020-10-02 10:04] owenvoke commented on #198
Check out issue https://github.com/pestphp/pest/issues/188 regarding adding Collision output to the TeamCity adapter. 👍🏻  Hopefully we're able to get this working soon (although I have no idea what's involved). 🤔

That zero assertions issue seems odd though...

[2020-10-02 10:06] olivernybroe commented on #198
Thanks for posting it here 👍

So the [`TeamCity` printer](https://github.com/pestphp/pest/blob/master/src/TeamCity.php) has a `printResult` method. This one has to be updated to use the same logic pest uses for it's printer.

@owenvoke The collision output is also related to this printer, however I think solving this one is much easier.

[2020-10-02 10:09] olivernybroe commented on #198
I guess we don't have to solve the zero assertion issue if we change the output to the same as pest is using, as pest don't show the amount of assertions 🤣

[2020-10-03 09:35] forrestedw commented on #160
I just got caught out by this as well. Following the installation instructions in the documentation gave me an error. When I did (having followed the installation instructions exactly):

    composer require pestphp/pest --dev

I got

[code]

Glad I found this thread.

[2020-10-03 09:43] #160 closed

[2020-10-03 09:44] GrahamCampbell commented on #160
We require 9.3 at the moment. 9.4 will be coming soon. :)

[2020-10-03 09:50] GrahamCampbell commented on #160
See https://github.com/pestphp/pest/pull/199. :)

[2020-10-03 10:08] forrestedw commented on #160
Just to be clear, I had `"phpunit/phpunit": "^9.3.10"` in `composer.json` when I ran `composer require pestphp/pest --dev`

🤷

[2020-10-03 11:28] GrahamCampbell commented on #160
Yeh, that happens for the same reason that we used to conflcit with phpunit 9.3, which is what the issue was about. This is really a missing feature of composer. If you just add pest manually to your composer.json and run `composer update`, phpunit should be downgraded automatically in order to install pest. If that does something odd in composer 1.x, upgrade to 2.x, since the update command is wa

[2020-10-03 11:29] owenvoke commented on #160
Just released Pest v0.3.8 with support for PHPUnit 9.4.0 👍🏻

[2020-10-03 11:29] forrestedw commented on #160
I'm happy to edit the docs to reflect this if you want.

On Sat, 3 Oct 2020 at 12:28, Graham Campbell <notifications@github.com>
wrote:

[2020-10-03 15:39] nunomaduro commented on #192
Sure - curious to see your PR on this.

[2020-10-04 17:51] olivernybroe commented on #136
@underdpt Is this fixed now with the pr to collision?

[2020-10-04 17:56] olivernybroe commented on #48
This issue is actually related to the issues we had with TeamCity printer.

[2020-10-05 06:16] underdpt commented on #136
Yes, I'm sorry I forgot to close this issue.

[2020-10-05 06:16] #136 closed

[2020-10-05 06:18] olivernybroe commented on #136
No problem, just double checking 👍

[2020-10-05 06:20] olivernybroe commented on #73
Seems like this has been fixed now, I'll reopen if this is still an issue.

Thanks @nobuf for the PR! 👍

[2020-10-05 06:20] #73 closed

[2020-10-05 22:44] raphaelts3 commented on #117
Hey @nunomaduro I stumbled on this https://obsproject.com/forum/threads/how-to-contribute-translations-for-obs.16327/ other day and I  think could be handy for it =) [Crowdin](http://crowdin.net/) is free for open source projects.

[2020-10-05 22:49] octoper commented on #117
@raphaelts3 I will take a look. Thank you!!

[2020-10-06 09:35] mnapoli opened #202 "test() does not return the same instance with `beforeEach()`"
The `test()` function should return the `TestCase` instance. However, it does not return the same object in `beforeEach()` and in the test. That means that using this to store a global variable (for example the application) doesn't work.

## Reproducing

[code]

This will show 2 different object IDs, meaning 2 different instances of `TestCase`.

[2020-10-10 09:39] mennorenkens commented on #120
Is this somethings that's on the planning in the near future or probably not? I really love to use Pest, but now the tests are growing I'm missing something like paratest.

[2020-10-10 10:31] khalyomede opened #204 "Coverage results lines sometimes exceeds compared to the other lines"
## Description

Sometimes the results exceeds in length compared to other results, resulting in visual overflow.

![overflowing-result-pest-php](https://user-images.githubusercontent.com/15908747/95652840-56d48b80-0af4-11eb-9951-6b0fd72fd8bc.png)

## Reproduce the issue

I can't systematically reproduce this, but my guess is that big file path combined with a lot of missing covered line facilitate

[2020-10-10 11:11] owenvoke commented on #204
Hi @khalyomede, thanks for flagging this up.

Looks like this is caused by the way the "dotted line" is generated in the Coverage plugin:
https://github.com/pestphp/pest-plugin-coverage/blob/master/src/Coverage.php#L57

So I guess we'd need to allow lengths of more than 70, although that could be an issue as I'm assuming the width of 70 is based on a standard old terminal width of 80.

[2020-10-10 12:44] khalyomede commented on #204
I know that in Javascript, when using nyc for displaying the coverage in the terminal, as the involved lines cells are quite short, the author have used a technique to use ellipsis in the case there is too much lines to cover.

![nyc coverage on terminal](https://www.thetopsites.net/images/53249858-2.png)

Do you think this could be a possible solution, to use ellipsis to avoid the line to go over

[2020-10-10 13:03] owenvoke commented on #204
We probably could, although due to the existing dotted lines I'm not sure if that may cause it to look confusing. @nunomaduro, what is your thought on this?

[2020-10-10 13:16] nunomaduro commented on #204
I think we could add a line bellow?

[2020-10-10 16:04] nunomaduro commented on #120
@mennorenkens I would like to have something native about this, not planning on developing this myself on the near future tho. Waiting for someone to contribute to this.

[2020-10-10 17:00] owenvoke commented on #204
Hmm, what do you mean? Like... split the line numbers into multiple lines?

[code]

[2020-10-10 20:24] nunomaduro commented on #204
[code]

[2020-10-13 06:06] olivernybroe opened #205 "Pest does not support phpunit 9.4.1"
PhpUnit 9.4.1 has been released, and the contraints disallow us for installing pest with phpunit 9.4.1

[2020-10-13 06:20] olivernybroe opened #206 "Allow usage of static closures"
When writing a test which contains no `$this` keyword, it would be awesome if we could define them as static.

[code]

[2020-10-13 06:23] #153 closed

[2020-10-13 09:05] nunomaduro commented on #206
What would be the benefit from it?

[2020-10-13 09:09] owenvoke commented on #206
Micro-op? 🤔 PhpStorm always is complaining to me about this.

[2020-10-13 09:12] olivernybroe commented on #206
Yeah so the reason is basically that static functions are faster, which means static analysis would always recommend you to write it as a static function when possible.

With the usage of `expect` and so on we are actually not depending on `$this`, so it can be static 👍

[2020-10-13 09:14] owenvoke commented on #206
Realistically, how much faster are them (genuinely interested if there's a good blog)? 🙂

[2020-10-13 09:22] olivernybroe commented on #206
@owenvoke Read about it awhile ago, so can't remember the blog I found about it 🙂

However I don't think the performance difference is of any significance. This is mostly about satisfying static analysis, else all of the static analysis tools have to get a condition in for not checking for static functions in pest tests

[2020-10-13 09:28] owenvoke commented on #206
Sounds good. 👍🏻 Thanks for the info.

[2020-10-13 09:45] #205 closed

[2020-10-20 09:54] nmokkenstorm opened #210 "Add CI flag for disallowing ->only()"
Hello all,

I've run into an issue where I'm working on an application using TDD with PestPHP one test at a time using `only()`, and then forget to take out the `only()` before commit & push. It'd be nice if there would be a flag like `--ci` that disallows using this option to use during CI.

I'd love to hear any thoughts on the matter.

[2020-10-20 14:00] nunomaduro commented on #210
No plans for this. Thank you for the proposal.

[2020-10-20 14:00] #210 closed

[2020-10-25 11:18] spham opened #211 "watch option ?"
hi
there have any solution for simulate watch option for auto restart test on change, in directory src or tests ?

[2020-10-25 11:51] nunomaduro commented on #211
@spham https://github.com/pestphp/pest-plugin-watch. Not sure if its working, take a look.

[2020-10-25 11:51] #211 closed

[2020-10-25 11:59] owenvoke commented on #211
It works well on Mac and Linux in my experience. But haven't really had time to work on it and get proper test suites.

[2020-10-26 16:36] clmntgr opened #212 "Dusk environment handling is not supported"
When running dusk test with pest the [environment handling](https://laravel.com/docs/8.x/dusk#environment-handling) feature of dusk is not supported.

This is a problem because the dev server still run with the `.env` file and not with env values from `phpunit.xml` or `.env.dusk.XXX`.

I've created a repo [here](https://github.com/clmntgr/pest-with-dusk) where I reproduce the issue, you can follow

[2020-10-26 17:55] nunomaduro commented on #212
Can you make a pull request into Pest that adds a DuskCommand that overrides the binary protected method: https://github.com/laravel/dusk/blob/97910000b4cd9cce6b3887791ede0cf78108f971/src/Console/DuskCommand.php#L91?

[2020-10-27 08:20] clmntgr commented on #212
Yes but I will have to add dusk as a dependency, is it ok?

[2020-10-27 09:55] nunomaduro commented on #212
It doesn't have too. You can add that command only if class exists.

[2020-10-27 10:07] clmntgr commented on #212
Ok didn't know that. I will try something this week so

[2020-10-31 15:40] fbraem opened #213 "it and depends"
When a test created with "it", the depends function doesn't work.

[code]
This results in the following output:

[code]
Leaving "it" out of the testname doesn't work, but adding "it" twice to the testname works:

[code]
[code]

[2020-11-01 21:56] marvinhosea opened #214 "Support for Phpunit 9.4.0"
```pestphp/pest v0.3.9 requires phpunit/phpunit >= 9.3.7 <= 9.4.1 -> found phpunit/phpunit[9.3.7, ..., 9.4.1] but the package is fixed to 9.4.2 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for the update command```

[2020-11-01 22:22] nunomaduro commented on #214
Fixed.

[2020-11-01 22:22] #214 closed

[2020-11-09 10:00] olivernybroe commented on #188
So we updated the exception output, however it is still not using collision.

@roni-estein This still might make it just a bit easier to read the exception outpu.
https://github.com/pestphp/pest/pull/215

New result:
![image](https://user-images.githubusercontent.com/5870441/98089385-ef0b2980-1e82-11eb-9f72-2c9673028111.png)
Old result:
![image](https://user-images.githubusercontent.com/5870441/98

[2020-11-09 10:57] owenvoke commented on #213
Sorry it's taken so long to reply, I was able to replicate this issue. It looks like this is due to our use of [`ExecutionOrderDependency`](https://github.com/sebastianbergmann/phpunit/blob/master/src/Framework/ExecutionOrderDependency.php#L49) in the [TestCall object](https://github.com/pestphp/pest/blob/d85432933cfd916f691a564ccd10dab82d008dd6/src/PendingObjects/TestCall.php#L98).

The `createFr

[2020-11-11 13:57] nunomaduro commented on #93
I've no plans on working on this. Feel free to submit a pull request on this.

[2020-11-11 13:57] #93 closed

[2020-11-11 13:58] nunomaduro commented on #119
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:58] #119 closed

[2020-11-11 13:58] nunomaduro commented on #117
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:58] #117 closed

[2020-11-11 13:58] nunomaduro commented on #152
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:58] #152 closed

[2020-11-11 13:58] nunomaduro commented on #206
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:58] #206 closed

[2020-11-11 13:59] nunomaduro commented on #212
I've no plans on working on this. Feel free to submit the pull request you were talking about.

[2020-11-11 13:59] #212 closed

[2020-11-11 13:59] nunomaduro commented on #204
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:59] #204 closed

[2020-11-11 13:59] nunomaduro commented on #192
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:59] #192 closed

[2020-11-11 13:59] nunomaduro commented on #167
I've no plans on working on this. Feel free to submit a pull request.

[2020-11-11 13:59] #167 closed

[2020-11-11 14:00] nunomaduro commented on #79
They seem to be normalised now.

[2020-11-11 14:00] #79 closed

[2020-11-11 14:00] #86 closed

[2020-11-11 18:33] nunomaduro commented on #26
No plans to have this.

[2020-11-11 18:33] #26 closed

[2020-11-11 18:34] nunomaduro commented on #10
cc @owenvoke Close this once you have merged your pull request.

[2020-11-11 18:34] nunomaduro commented on #11
No plans to have this.

[2020-11-11 18:34] #11 closed

[2020-11-11 18:35] nunomaduro commented on #17
It's in progress by @owenvoke.

[2020-11-11 18:35] #17 closed

[2020-11-11 18:35] nunomaduro commented on #25
No plans to have this.

[2020-11-11 18:35] #25 closed

[2020-11-11 18:36] nunomaduro commented on #33
Any progress on this issue?

[2020-11-11 18:36] nunomaduro commented on #57
No plans to have this.

[2020-11-11 18:36] #57 closed

[2020-11-11 18:36] nunomaduro commented on #60
No plans to have this.

[2020-11-11 18:36] #60 closed

[2020-11-11 18:37] nunomaduro commented on #62
I don't use `trigger_error` myself. Feel free to make a pull request on this.

[2020-11-11 18:37] #62 closed

[2020-11-11 18:38] nunomaduro commented on #74
Fell free to make a pull request on this.

[2020-11-11 18:38] #74 closed

[2020-11-11 19:05] owenvoke commented on #26
I started working on this the other day, and it's kind of complicated due to the way the test generation is done. 👍🏻 I've pushed up what I had so far to this branch if you're interested.

https://github.com/owenvoke/pest/tree/feature/phar

[2020-11-11 21:36] KuenzelIT opened #218 "Problem with phpunit 9.4.3"
Just tried to install pest:

Problem 1
    - Installation request for pestphp/pest ^0.3.11 -> satisfiable by pestphp/pest[v0.3.11].
    - Conclusion: remove phpunit/phpunit 9.4.3
    - Conclusion: don't install phpunit/phpunit 9.4.3
    - pestphp/pest v0.3.11 requires phpunit/phpunit >= 9.3.7 <= 9.4.2 -> satisfiable by phpunit/phpunit[9.3.10, 9.3.11, 9.4.0, 9.4.1, 9.4.2].

Is there a reason why pe

[2020-11-11 22:26] owenvoke commented on #218
Yeah, the reasoning is that it uses internal PHPUnit classes that don't have a backwards compatibility guarantee. I've opened a PR for this and then we can release a new patch version.

[2020-11-11 22:35] #218 closed

[2020-11-11 22:52] octoper commented on #202
Hmm that's weird @mnapoli  it's shows the same object ID for both of them for me

[2020-11-11 23:33] owenvoke commented on #218
You should now be able to use v0.3.12, let me know if you have any issues. 👍🏻

[2020-11-12 08:34] owenvoke commented on #90
Closing as this has mostly all been implemented on the new site, and the version is planned in future. :+1:

[2020-11-12 08:34] #90 closed

[2020-11-12 08:46] mnapoli commented on #202
Maybe it has been fixed since then?

[2020-11-12 13:23] owenvoke commented on #202
Yeah, this appears to be working. Feel free to reopen this issue if you experience it again. 🤔 I can't see much that would have changed this behaviour though.

[2020-11-12 13:23] #202 closed

[2020-11-12 14:49] octoper commented on #164
You can do something like this

`test/Pest.php`
[code]

`tests/Helpers.php`
[code]

[2020-11-12 17:13] owenvoke commented on #10
Closing as #217 has been merged. It'll be included in the next release. 👍🏻

[2020-11-12 17:13] #10 closed

[2020-11-18 12:53] Enaah opened #220 ""The class `Tests\TestCase` was not found." - on CI (Docker)"
Hi there,

so here's my situation:

* I wanted to convert my PHPUnit Tests to Pest
* I'm on a fresh laravel/breeze Installation
* On **my Mac** everything runs correctly, but **on CI** (GitLab Runner, with Docker Executor (image: `edbizarro/gitlab-ci-pipeline-php:7.4`)), it fails

### What I did to debug:

1. Used `php artisan test` instead of `./vendor/bin/pest`
2. I did all the commands to debug

[2020-11-20 12:13] danilopolani opened #221 "How to mock container binding?"
I'm trying to mock an interface binding of my container using `$this->mock` helper. I added the `InteractsWithContainer` trait to my test file, but calling `$this->mock(MyInterface::class)` returns: `Undefined property: P\Tests\Unit\MyTest::$app`. I tried adding the `CreatesApplication::class` trait too, but nothing.

An extended example of my usage:

**AppServiceProvider**

[code]

**MyService**

[2020-11-20 13:33] crossworth commented on #49
Hi, I'm facing a problem when using pest on Windows.

When I run `pest --colors=never`, the output is not quite right.

`pest`
![image](https://user-images.githubusercontent.com/1251151/99805210-eb320500-2b1a-11eb-9515-1ff5fb9b2ae8.png)

`pest --colors=never`
![image](https://user-images.githubusercontent.com/1251151/99805529-77dcc300-2b1b-11eb-87ad-05f0d0bdf1e3.png)

Just to make it clear, if I r

[2020-11-20 13:50] danilopolani commented on #221
Ok, nevermind, I'm closing this because it's Laravel related and does not concern Pest.

[2020-11-20 13:50] #221 closed

[2020-11-20 19:00] owenvoke commented on #49
@crossworth, I think this is actually an issue with Collision rather than Pest.

[2020-11-21 22:28] octoper commented on #220
@Enaah Have you installed Pest for Laravel correctly?

[2020-11-22 13:39] Enaah commented on #220
I hope so.

Pulled it via composer and did `php artisan pest:install`.
It was working on my computer, but CI did not want to work.

Will try it again, later.

[2020-11-23 08:43] #213 closed

[2020-11-23 09:58] ksassnowski opened #222 "Abstract Test Cases"
Related to [this](https://twitter.com/warsh33p/status/1330757668449947649) Twitter thread.

## What am I trying to do?

I'm looking for a way to implement contract tests in pest. In a contract test, all common test cases are defined in either an abstract class or a trait. This class/trait then defines a few abstract methods that you need to implement in the test file of your implementation.

Then,

[2020-11-24 14:03] olivernybroe opened #224 "Document release guidelines"
I think we should document the needed steps before making a new release.

This will help with consistency and remembering to update the version in the php file.

[2020-11-25 12:48] olivernybroe opened #225 "Missing PHPStan extension"
Right now Pest and PHPStan does not work well together.

For making PHPStan understand Pest I think we would have to create a custom PHPStan extension.
https://phpstan.org/developing-extensions/extension-types

[2020-11-25 12:49] olivernybroe commented on #188
Before we can get collision output, I think Collision might need some changes so we can call the different methods for rendering exceptions in their nice output.

[2020-11-26 11:04] owenvoke opened #226 "Coverage not found on Linux/Mac with Xdebug on PHP 7.3/7.4"
This issue was flagged up by @Awilum on Discord.

I had originally thought it was to do with #180 or #13, however the coverage whitelist is correct (and it works correctly with PCov, and Xdebug on Linux).

I think it's related to using Xdebug in Windows/Mac :thinking:

With PCov it works correctly:
https://github.com/owenvoke/pest-coverage-test/actions/runs/384962899

With Xdebug it fails on Mac a

[2020-11-26 11:26] mabdullahsari opened #227 "ShouldNotHappenException: Trying to create a test without description."
- Issue: Trying to create a test without description.
- PHP version: 7.4.12
- Operating system: Darwin

---------

Happened after I included a trait in one of my enum classes and used the static function.
Don't know what else to give as context. The stack trace doesn't seem to give valuable information.

**UPDATE:**
Seems like it is caused by Spatie's [**laravel-enum**](https://github.com/spatie/e

[2020-11-26 17:10] owenvoke commented on #226
This should be resolved with the next release of Setup PHP. 👍🏻 https://github.com/shivammathur/setup-php/commit/fce77afe731878e3b29f245b23a49bca0c3c245c

[2020-11-26 18:43] nunomaduro commented on #226
Seems be related to: https://github.com/sebastianbergmann/phpunit/issues/4526.

[2020-11-26 18:53] nunomaduro commented on #226
Confirmed. Seems to be related with the issue above. Let's wait.

[2020-11-26 18:53] nunomaduro commented on #227
@mabdullahsari Let me know how your investigation goes.

[2020-11-26 18:54] nunomaduro commented on #13
I'm closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

[2020-11-26 18:54] #13 closed

[2020-11-26 18:55] nunomaduro commented on #32
I've no plans of adding this myself. Fell free to submit a pull request with this.

[2020-11-26 18:55] #32 closed

[2020-11-26 18:55] nunomaduro commented on #33
I'm closing this issue because it has been inactive for a few months.

[2020-11-26 18:55] #33 closed

[2020-11-26 18:56] nunomaduro commented on #83
This has been documented.

[2020-11-26 18:56] #83 closed

[2020-11-26 18:56] nunomaduro commented on #85
I'm closing this issue because it has been inactive for a few months.

[2020-11-26 18:56] #85 closed

[2020-11-26 18:57] nunomaduro commented on #87
The community have done some material, and indeed I've some planned too.

[2020-11-26 18:57] #87 closed

[2020-11-26 18:57] nunomaduro commented on #88
We already have this.

[2020-11-26 18:57] #88 closed

[2020-11-26 18:57] nunomaduro commented on #131
I'm closing this issue because it has been inactive for a few months.

[2020-11-26 18:57] #131 closed

[2020-11-26 18:58] nunomaduro commented on #224
@owenvoke At this point, you probably know better the release than me. Can you document it?

[2020-11-26 20:04] owenvoke commented on #226
This issue is now resolved on GitHub Actions after v2.9.0 of Setup PHP. 👍🏻 I guess that env variable issue is separate, but might be worth tracking in the upstream issue.

[2020-11-26 20:23] owenvoke commented on #13
I will add a section to the docs on this, it's still an issue. But by default we add `src` and `app`, which covers most libraries so it probably doesn't come up much.

[2020-11-27 09:10] mabdullahsari commented on #227
The issue is interacting with the container. Even calling `Container::getInstance()` makes Pest crash. I'll take a thorough look when phpstorm 2020.3 is released with Xdebug 3 support. I've moved on with an alternative approach that doesn't make the testsuite crash. I'll keep you posted whenever I stumble across something.

[2020-11-27 10:42] #224 closed

[2020-11-27 20:15] avrahamappel opened #230 "Depends breaks test class inheritance"
Hi guys, I'm really enjoying Pest so far!

I'm not sure if this is related to #213 and #216 or not, but I'm having an issue with Eloquent model factories. When I use a factory in a normal test, it works fine. However, if there are any tests in the file which depend on other tests, every test fails with an `InvalidArgumentException : Unable to locate factory for [App\User].`

Here's an example:
[co

[2020-11-30 02:40] Enaah commented on #220
Found the error... it was me. As usual.

Sorry for disturbance and thanks for this project 💐

[2020-11-30 02:40] #220 closed

[2020-11-30 14:11] henninghorn commented on #91
Hi!

This is how I migrate and seed everything before all tests.
Doesn't work with in memory database. I use sqlite when testing.

[code]

[2020-11-30 16:53] owenvoke commented on #226
Looks like that upstream issue is now resolved. 👍🏻

[2020-11-30 16:53] #226 closed

[2020-12-03 09:51] canvural commented on #225
I'd like to help with this one. What kind of code is not understood by PHPStan currently?

[2020-12-03 09:55] olivernybroe commented on #225
@canvural Awesome! Our larastan master!

The first error I get, which will prob. yield a bunch of other errors afterwards is that phpstan does not understand `$this` inside the test closure.
![image](https://user-images.githubusercontent.com/5870441/100993682-00188a80-3556-11eb-8abb-e95eb0942f04.png)

[2020-12-03 10:17] olivernybroe commented on #225
Oh, so we might have to open an issue in PHPStan so we can extend that part also?

[2020-12-03 10:21] canvural commented on #225
There are already open issues in PHPStan for this. But this kind of code is really hard for static analysis tools to understand. So I don't think it'll be solved.

Yeah, we can add `Undefined variable: $this` to the `ignoreErrors` to ignore it.

Also, can you share the whole code snippet for this?

[2020-12-03 10:35] olivernybroe commented on #225
Yeah, we are also having some problems with some of this in Phpstorm.

Sure.

[code]

[2020-12-03 10:47] canvural commented on #225
Oh, I realized my previous solution (with `@var`) also does not work: https://phpstan.org/r/12bb6ed2-f253-48e6-9016-fb51e48ac1e4 I guess it needs to be in class scope or in `Closure::bind` for PHPStan to understand.

[This](https://phpstan.org/r/8b590bdc-b6ff-4830-b933-e137533cff8c) works. But this way all the `$this` usages in this file will be bound to `TestCase` I don't know if this is good or

[2020-12-03 10:57] olivernybroe commented on #225
damn :(

Yeah, the problem is we also have support for `uses` to include other class methods into `this`. so binding it to `TestCase` won't work in all scenarios
https://pestphp.com/docs/underlying-test-case#overview

So sounds like the only thing we can do for now is ignore the error 😢

[2020-12-03 20:43] hackel commented on #15
This is pretty important, as without it we have no idea what "it" is referring to in tests.

Currently, `it('can log in')` gets translated directly as "it can log in" which is ambiguous.  It would be preferable to be able to describe the subject:
[code]
=> "User can log in if verified"

Or even allow nested descriptions, using `context` as an alias for `describe`, like in RSpec.
[code]
=> "User is

[2020-12-03 22:08] mikeerickson commented on #15
Would tend to agree with you 👍

[2020-12-05 09:57] dingo-d opened #235 "PhpStorm throws expression result is not used anywhere when using test() instead of it()"
Not sure if this is a pest issue, PhpStorm issue, or what but when I use `test()` instead of `it()` my entire test gets underlined

![Screenshot 2020-12-05 at 10 47 57](https://user-images.githubusercontent.com/8638515/101239363-5cf77a80-36e7-11eb-9737-bc0156845bd2.png)

When I use `it()` everything is fine.

![Screenshot 2020-12-05 at 10 48 36](https://user-images.githubusercontent.com/8638515/10

[2020-12-05 11:06] bolechen commented on #32
+1 for @covers support.

[2020-12-05 11:18] nunomaduro commented on #235
cc @olivernybroe

[2020-12-05 11:27] olivernybroe commented on #235
@dingo-d Just for future reference, this should have been posted on https://github.com/pestphp/pest-intellij/ instead, as it is related to our phpstorm integration.

What you are experiencing is an inspection in phpstorm telling you that the result is not used, so your code is doing nothing, which is not true.

If you press the 3 dots you should be able to edit the inspection, hence getting the na

[2020-12-05 12:27] dingo-d commented on #235
Sorry, wasn't aware it was related to a different project.

The inspection gives me this

[code]

[2020-12-08 07:33] olivernybroe commented on #235
That would be great! 👍 Then we can keep this repo's issues more clean.

So this is something we can fix in the plugin, just checked 👍 However as a temporary fix until someone actually fixes it in the plugin you can do the following.
![expression_disable](https://user-images.githubusercontent.com/5870441/101453694-09c43880-3930-11eb-92ea-aaf7b7376d8e.gif)

[2020-12-08 08:56] #235 closed

[2020-12-08 09:44] owenvoke commented on #235
Was just going to say we could transfer the issue, but that's ok. 👍🏻

[2020-12-08 09:51] olivernybroe commented on #235
@owenvoke Oh yeah, totally forgot that we can do that 👍

[2020-12-10 14:15] mabdullahsari commented on #227
@nunomaduro

I tried this exact approach in another project which also uses Pest and the same thing happened over there as well. This probably means that Pest is trying to do some sort of preloading? (I don't know the internals, sorry). The `__` helper is run before the translator/container exists in the testsuite which is definitely the cause. Keep in mind that this only happens when using Pest.

[2020-12-15 01:02] nunomaduro commented on #95
@AlexMartinFR Fell free to submit a pull request on this.

[2020-12-15 01:02] #95 closed

[2020-12-15 01:02] #91 closed

[2020-12-15 01:04] nunomaduro commented on #122
No plans for tackling this at the moment.

[2020-12-15 01:04] #122 closed

[2020-12-15 01:05] nunomaduro commented on #124
No plans for this. Thank you!

[2020-12-15 01:05] #124 closed

[2020-12-15 01:05] nunomaduro commented on #126
@olivernybroe What is this state of this?

[2020-12-15 01:06] nunomaduro commented on #143
As discussed, we are going to keep your proposals on this topic in mind.

[2020-12-15 01:06] #143 closed

[2020-12-15 01:07] nunomaduro commented on #149
Thank you for compacting those questions. Some of the stuff got addressed.

[2020-12-15 01:07] #149 closed

[2020-12-15 01:08] nunomaduro commented on #178
https://pestphp.com/docs/expectations#custom-expectations

[2020-12-15 01:08] #178 closed

[2020-12-15 01:08] #164 closed

[2020-12-15 01:08] nunomaduro commented on #188
This is done?

[2020-12-15 01:12] nunomaduro commented on #227
This seems to me maybe a wrong usage of Pest someway. Can you reach on the community discord about this?

[2020-12-15 01:12] #227 closed

[2020-12-15 01:14] nunomaduro commented on #225
Well, I guess we will have to wait until someone wants to put some work on this. But it's not a priority I think.

[2020-12-15 01:14] #225 closed

[2020-12-15 01:15] nunomaduro commented on #230
cc @nuernbergerA

[2020-12-15 06:07] nuernbergerA commented on #230
Will take a look at it today.

[2020-12-15 08:16] nuernbergerA commented on #230
@nunomaduro thats what i found after some research:
`TestCaseFactory::makeClassFromFilename()` runs before `TestRepository::build()` therefor the generated class hasn't the proper `$baseClass` set

[2020-12-15 08:59] olivernybroe commented on #126
No work have been done on it. Still blocking in regards to the pest phpstorm plugin.

I think we should formalise it in text, that's at least what I did with other pest tests.
This is the steps I documented for name generation for tests with name

1. Take the path of the PEST file from the cwd.
2. Make the first folder's first letter uppercase.
3. Remove file extension.
4. Make directory separator

[2020-12-15 09:02] olivernybroe commented on #188
Nope.

So we changed the output in the teamcity printer to a much nicer looking one.

However I don't think I see the need for collision exception output when running in phpstorm, as you can press the file for seeing the code.

I think we should close this one as a "not right now" state. And if more users show interest we should reopen it.

[2020-12-15 09:02] #188 closed

[2020-12-15 09:04] olivernybroe commented on #225
@nunomaduro Agreed. For now adding a line into `ignoreErrors` is the best we can do.

No reason to have an issue open which we can't work on as long as phpstan does not have support for it correctly.

[2020-12-15 13:06] nunomaduro commented on #230
@avrahamappel Can you make a pull request that adds a failing test? So we can work from there.

[2020-12-15 13:33] octoper commented on #126
@olivernybroe No I don't think that we had this on the site.

[2020-12-16 02:53] avrahamappel commented on #230
Will do. Thanks for looking into this.

[2020-12-17 13:59] rishpandey opened #237 "How can I run a seeder in beforeAll?"
I have to seed some basic information that will be used by all tests in my test class.

Right now, I do something like this:
[code]

But doing this beforeEach test is slow. So it'd be great if I can something like this in beforeAll, but using $this or app() does not work here.

Any ideas?

[2020-12-17 14:05] nunomaduro commented on #237
That's not possible at the moment.

[2020-12-17 14:05] #237 closed

[2020-12-20 16:19] #230 closed

[2020-12-20 16:28] nunomaduro commented on #222
@ksassnowski Did you manage to solve this problem?

[2020-12-20 16:29] nunomaduro commented on #4
Alright, I love infection - but at the moment I've no plans to work on this. Hopefully in the future someone will pick this.

[2020-12-20 16:29] #4 closed

[2020-12-20 16:31] nunomaduro commented on #48
I’m closing this issue because it has been inactive for a few months.

[2020-12-20 16:31] #48 closed

[2020-12-20 16:31] tomasnorre commented on #4
Missing a sad smiley. But you are the maintainer, it's your call.

[2020-12-20 16:31] nunomaduro commented on #126
@olivernybroe I may need a call so you can explain me what you need on this, sorry.

[2020-12-20 16:33] nunomaduro commented on #198
@olivernybroe Now that TeamPrinter is merged - does it solve this issue?

[2020-12-20 16:33] nunomaduro commented on #222
Please re-open this issue, if you didn't found a solution for this issue.

[2020-12-20 16:33] #222 closed

[2020-12-20 16:34] nunomaduro commented on #4
@tomasnorre Yeah - unfortunately my free time is very limited. And of course, someone else that needs infection in their test suite can submit a pull request that addresses this issue.

[2020-12-20 16:43] tomasnorre commented on #4
I totally get that, I wasn't meant as a blame, was just hoping for it.

We just started using pest and I think that mutation tests are really valuable. Perhaps I get to the point where I will make a PR. But like you, I have limited free time too :)

Stay safe and take care.

[2020-12-20 17:05] olivernybroe commented on #198
Unfortunately not. We only added the printer, we did not change to output so it looks like the normal pest output.

As mentioned earlier, we have to update the `printResult` method, so the output is the same as in normal run with pest.

[2020-12-20 17:07] olivernybroe commented on #126
@nunomaduro sure we can make a call. But to quickly explain, basically I need steps like the ones I posted earlier, just for when a test has no name.

[2020-12-22 22:37] Ilyes512 opened #238 "Is it necessary to display the dataset it self?"
So I going to use this as an example:

[code]

When you run this `./vendor/bin/pest` without any arguments... I get the following output:

[code]

For simple datasets this might not be a problem, but with a larger set it gets rather messy really quick ie

`✓ it accepts eloquent models with data set "with_keyname_id" (array(1, 'a', 'b'), 'id', 'int', true, array('1', array('a', 'b')))`

I also noti

[2020-12-23 00:05] nunomaduro commented on #238
You can do something like this:

[code]

[2020-12-23 00:05] #238 closed

[2020-12-23 09:14] Ilyes512 commented on #238
Hmm, I was hoping for another way of "fixing" this. I found the line responsible for outputting it: https://github.com/pestphp/pest/blob/master/src/Datasets.php#L116 But no easy way of overwriting it... do I really need to fork it :/

Anyway, thanks for you time.

[2020-12-23 13:19] nunomaduro commented on #238
You can propose something about this. 👍🏻

[2020-12-23 14:07] Ilyes512 commented on #238
Well the easiest would be to update `getDataSetDescription` to something like:

[code]

I just don't see the point of displaying the data it self in the report. But that is just my opinion of course.

[2020-12-23 14:31] owenvoke commented on #238
If you change it to that, it ends up without any description of the dataset. So it'd just be `with `, I think it's good to show the dataset, but I wonder if for anything with more than `x` number of entries, it'd just show `array(...) #1`, `array(...) #2` or something. 🤷🏻

[2020-12-23 17:26] Ilyes512 commented on #238
You could only show the structure when the dataset has not description:

[code]

Output:

[code]

Or create a "description" based on the numeric index:

[code]

Output:

[code]

Of a combination:

[code]

Ouput:

[code]

I used the below tests for the outputs:

[code]

[2020-12-23 17:32] owenvoke commented on #238
That's true, I think when there is a description, that should definitely be used over the dataset structure. 👍🏻

[2020-12-27 17:42] nunomaduro opened #241 "Release v1"
- [x] Re-visit docs structure
- [x] Pull request upgrade guide to the docs.
- [x] tag pest-plugin-coverage
- [x] tag pest-plugin
- [x] tag pest-plugin-expectations
- [x] tag pest-plugin-faker
- [x] tag pest-plugin-template
- [x] tag pest-plugin-watch
- [x] tag pest-plugin-laravel
- [x] tag pest-plugin-livewire
- [x] tag pest-plugin-init
- [x] tag pest-plugin-global-assertions
- [x] tag spatie-snap

[2020-12-27 20:42] nunomaduro commented on #120
This is in progress.

[2020-12-27 20:42] #120 closed

[2020-12-28 01:05] authanram opened #242 "Docs 404 hit => https://pestphp.com/docs/guides/pest-from-scratch#installation"
Hey buddy, i've hit a 404 while browsing the docs.

**It can be reproduced this way:**
1. open https://pestphp.com/docs/installation (or any other docs route)
2. search for "helpers"
3. click the docs search hit title "a  tests/Helpers.php file"
4. hit

![Screenshot 2020-12-28 at 01 50 54](https://user-images.githubusercontent.com/1874088/103182925-62dc1800-48af-11eb-9bf4-13a4fc6a9972.png)

Hope i

[2020-12-28 01:20] owenvoke commented on #242
Yeah, the guides no longer exist and it looks like Algolia hasn't refreshed properly. 🤔 I'm not sure how long it usually takes.

[2020-12-28 01:33] authanram commented on #242
Actually, I just wanted to confess my love. 🤪

Should i close it? What do you think? For me it sounds like the issue is not necessary, in this case.

[2020-12-28 10:24] R4c00n opened #243 "InvalidUsesPath exception in every command"
Hi, I would love to play around with Pest a little bit, but unfortunately I get a `InvalidUsesPath` exception with every command, even with `./vendor/bin/pest --init`.
[code]

I tried to install it into an existing project with existing PHPUnit tests.

Am I missing some step or configuration?

**Steps to reproduce:**
[code]

**Environment:**
- OS: macOS Mojave
- PHP version: 7.4.13
- Composer vers

[2020-12-28 13:15] owenvoke commented on #243
What is your directory structure, and do you have any `uses()` calls in your `tests/Pest.php`? 🤔 Usually this happens when the `tests/` directory can't be found, or when you have a `uses(Foo::class)->in('dir')` with a non-existant directory.

[2020-12-28 13:26] R4c00n commented on #243
Hi @owenvoke, thanks for the fast response :)
I don't have the Pest config yet, because the documentation says that this should be created by `./vendor/bin/pest --init`, which also fails with the same exception.
https://pestphp.com/docs/installation

[2020-12-28 13:30] R4c00n commented on #243
Ah never mind, I just saw that I mixed up the installation docs and https://pestphp.com/docs/cli-options. In the CLI options docs it reads like it would create the tests directory with the --init option. The Installation docs say that I need to create it manually.
As soon as I create the tests directory, the --init command works :)

[2020-12-28 13:50] #243 closed

[2020-12-28 13:50] owenvoke commented on #243
Ah, no problem. 👍🏻 We could probably do with updating the docs to make it clearer that the `tests/` directory won't be automatically created, or update it to create the `tests/` directory automatically.

[2020-12-28 13:51] nunomaduro commented on #242
Algolia will refresh the search eventually. Yesterday we made some work on the docs.

[2020-12-28 13:51] #242 closed

[2020-12-28 15:57] gpibarra opened #244 "[Feature] Command create Dusk test"
There is a `--unit` parameter to create a test in testSuite Unit.
Can you add a `--dusk` parameter to create a test in folder Browser?
It would be a stub like this.
[code]
Instead of the parameters `--unit` and` --dusk` it could be called as `--testSuite unit` and `--testSuite browser`.
Additionally, if new testSuites are defined in "phpunit.xml", tests cannot be created directly. I understand tha

[2020-12-28 16:02] owenvoke commented on #244
I quite like the simplicity of the `--unit` / `--dusk` flags over the `--testSuite x` format. 👍🏻

This would be a neat feature to have (in my opinion). Feel free to open a PR with it if @nunomaduro agrees. 🥳

[2020-12-29 14:02] rihardssceredins opened #246 "Using factories in beforeAll/afterAll hook throws InvalidArgumentException"
Hey,

Reproducible with clean project:
[code]

Refactor the default `ExampleTest.php` to Pest and try to create `User` factory in `beforeAll`/`afterAll` hook:

[code]

Run `php artisan test` and it will fail with:

<img width="740" alt="Screenshot 2020-12-29 at 15 49 37" src="https://user-images.githubusercontent.com/23099574/103288560-ccfad700-49ed-11eb-8d66-74ca9dca9626.png">

When using `before

[2020-12-29 14:16] owenvoke commented on #246
This is a known "issue", `beforeAll` / `afterAll` are called before (or after) the class has been instantiated (they are the equivalents of `@beforeClass` and `@afterClass` in PHPUnit). So the framework hasn't been booted at that point. 👍🏻 See https://github.com/pestphp/pest/issues/237 and https://github.com/pestphp/pest/issues/33#issuecomment-658022624. 🙂 I think that Nuno was thinking about a po

[2020-12-29 19:55] nunomaduro commented on #246
What is the issue here?

[2020-12-29 20:12] owenvoke commented on #246
It's not really an issue, just a lot of people seem to get confused with `beforeAll()` / `beforeEach()` not working like how `setUp()` and `tearDown()` work.

[2020-12-30 01:53] nunomaduro commented on #246
Yeah - @rihardssceredins please take a look at this docs: https://pestphp.com/docs/setup-and-teardown.

[2020-12-30 01:53] #246 closed

[2021-01-02 16:54] R3VoLuT1OneR opened #247 "[Bug] Phpstan failing to find expectation methods"
**Description**
PHPStan level 7 failing to find methods, but the tests works fine.
Probably problem in the PHPStan but I think you should know about it.

**Steps to reproduce**
1. Prepare environment for running phpstan
[code]

2. Create next file with failing code `PhpstanFailingTest.php`:
[code]

3. Run phpstan analyze
[code]

**Actual result:**
[code]
**Expected (Success) result:**
[code]

[2021-01-02 17:44] karol-dabrowski opened #248 "[Bug] Github actions are not working properly for plugins"
The issue affects pull requests and branches with names other than 'master'. [This pull request](https://github.com/pestphp/pest-plugin-expectations/pull/2) can serve as an example. This is due to the dependency requirements of the core Pest library towards version of plugins. Version generated by GitHub actions for pull requests don't satisfy requirement.
![obraz](https://user-images.githubuserco

[2021-01-02 20:37] owenvoke commented on #248
Using the `version` key in the `composer.json` isn't recommended by the Composer devs if using VCS as far as I can tell. It's probably easier to use the `COMPOSER_ROOT_VERSION` env in CI. :+1: This is what I was using while testing the Coverage plugin using:
https://github.com/marketplace/actions/composer-root-version-action

[2021-01-02 22:04] nunomaduro commented on #247
Fell free to create a phpstan plugin or pull request something that fixes this.

[2021-01-02 22:04] #247 closed

[2021-01-02 22:35] #244 closed

[2021-01-02 22:36] nunomaduro commented on #248
@owenvoke Can you make a pull request on that?

[2021-01-02 22:36] #248 closed

[2021-01-03 13:20] karol-dabrowski commented on #248
Thank you for answers. I closed my pull requests. Also I checked the solution linked by @owenvoke and it works perfectly fine for linux instances, but not for MacOs and Windows ones. I googled a bit and it's a common issue.
![obraz](https://user-images.githubusercontent.com/34897174/103479483-3738c080-4dce-11eb-9336-ffdb1df7d344.png)
Then I created a branch with tests on linux instances only ([thi

[2021-01-03 14:15] owenvoke commented on #248
Ah, that's a fair point. I think I removed that as I was hoping to not need to update them in every repository (using the action is automatic), however if it only works on Linux then that's an issue. 😬 We'd only have to update it on major version bumps anyway (if we set it to `0.3.x-dev`, or `1.x-dev` when stable).

[2021-01-03 15:39] karol-dabrowski commented on #248
Thank you. I am gonna open PRs soon :)

[2021-01-04 16:05] karol-dabrowski commented on #248
@owenvoke you were faster. I was going to do it today after work.

[2021-01-04 16:18] owenvoke commented on #248
@karol-dabrowski, apologies, I needed the change for another PR I was going to submit and ended up doing it for those 3 affected repositories.

[2021-01-05 08:17] olivernybroe opened #249 "Clean error message when missing dataset"
If you write a test and that test was supposed to have a dataset, meaning you have added arguments to the function, but haven't added the dataset yet, you get an error message looking like this
[code]
And the message is even worse if you have an `expectException` call on
[code]

To clean this up, I suggest we check if a test function has arguments, if it has, then a dataset is required. If there i

[2021-01-05 12:15] MatanYadaev opened #250 "Incorrect `Pest\Expectation` phpDoc"
If I'm not mistaken, the correct type should be `Pest\Expectations\Expectation`.

It does not lead to any issue in the code, but my IDE is confused:

[code]

https://github.com/pestphp/pest/blob/b0f03c278db30bfe9a146827c651b719acf6f02b/src/PendingObjects/TestCall.php#L15

[2021-01-05 13:56] nunomaduro commented on #250
Can you make a pull request to fix this? Thanks!

[2021-01-05 13:56] #250 closed

[2021-01-06 09:31] Ilyes512 commented on #238
So... how to continue? Want me to create a PR?

(BTW, Closing a non-resolved (at least for me) issue also doesn't really help)

[2021-01-06 10:54] nunomaduro commented on #238
@owenvoke I didn't follow this discussion, should I re-open this? There is an issue here?

[2021-01-06 14:19] AlexMartinFR commented on #238
It's an enhancement more than an actual issue imho.

Good to have but not blocking for 1.0 👍

[2021-01-07 23:11] EthraZa opened #252 "How to pass parameters?"
I'm using Laravel Zero.

The command:
[code]
The line dumping this result is:
[code]
I'm trying to write the most simple pest to it, but can't get it to work and didn't find an example passing some parameters in the docs:
[code]
I've tryed to pass the 'app.name' parameter in a bunch of different ways but simple can't find how to get it done.
So, how to pass parameters to methods being tested?

---

[2021-01-07 23:29] octoper commented on #252
cc @owenvoke

[2021-01-08 01:53] octoper commented on #252
I think that's not related to Pest it's related to the Laravel framework

[2021-01-08 09:46] rihardssceredins commented on #246
@nunomaduro it doesn't mention there the fact that the framework hasn't
booted and you can only run basic code. Would be a nice touch for new
adopters who don't know/haven't used PHPUnit and jump right in to PestPHP.
🚀

[2021-01-08 09:48] rihardssceredins commented on #246
I must admit that even I didn't know about the `@beforeClass` restrictions
because I hadn't used them in Laravel.

[2021-01-08 09:52] owenvoke commented on #246
I'll add a note about this to the docs soon. 👍🏻

[2021-01-08 10:47] nunomaduro commented on #246
That note seems Laravel specific.

[2021-01-08 11:04] owenvoke commented on #246
Yeah, I'm trying to think of a more generic sentence. This mostly seems to have come up in Laravel projects, and the official documentation for PHPUnit isn't particularly helpful about this. 🤔 https://phpunit.readthedocs.io/en/latest/annotations.html#beforeclass

I guess for the PHPUnit one, it runs after the class has been instantiated (as it has to), so this isn't an issue.

[2021-01-08 11:12] owenvoke commented on #252
The 2nd Param in `artisan()` needs to be a keyed array. So if your signature was `show {key}`, you would do:
[code]

[2021-01-08 12:29] EthraZa commented on #252
Now I noticed the string `'Fetchattach'` being dumped as the test 1st output of the test and then I find out it is being displayed there not as a feature of Pest, but because I was using var_export() without "true" as second param, so it was dumping the string to the Std Output instead of returning it to the info() method.

So, today I learned two things:
1- how to pass params to artisan inside Pe

[2021-01-08 12:29] #252 closed

[2021-01-08 22:44] #241 closed

[2021-01-09 00:20] manuglopez opened #253 "Getting a BindingResolutionException on Pest with coverage"
Hello Good job with pest, but I`m having a problem with Pest code coverage in mac.

I`m running my app in

- Valet
- Php 7.49
- Xdebug 3.0.2

Pest is running test correctly but with xdebug 3.0.2 is throwing this error (only in coverage mode).

Uninstalling Pest and running code coverage with phpunit does work, and phpunit show coverage.

¿Is this a Bug?

Thanks.

PHP Fatal error:  Uncaught Illumin

[2021-01-09 10:31] imran-itmajlis opened #254 "Access level to Pest\Concerns\TestCase::setUp() must be public (as in class Tests\TestCase)"
When I am adding setUp function in base TestCase.php below error is showing

and without setUp function it is working fine

![image](https://user-images.githubusercontent.com/68069779/104089328-21c30b00-5294-11eb-80f2-9d1a1a9f9b80.png)

[2021-01-09 12:57] owenvoke commented on #254
`setUp()` should be a protected function rather than public. 👍🏻

[2021-01-09 13:27] nunomaduro commented on #253
@manuglopez Try this: `XDEBUG_MODE=coverage ./vendor/bin/pest --coverage`.

[2021-01-09 13:27] #254 closed

[2021-01-09 14:01] manuglopez commented on #253
This is working. Thanks @nunomaduro, but I wonder why in my Mac  I have to pass xdebug_mode and in Ubuntu it works without passing mode.

[2021-01-09 14:17] owenvoke commented on #253
@manuglopez, on Ubuntu is the `coverage` option in the `php.ini` configuration? 🤔 If you run `php -i | grep xdebug.mode` it should show the option.

[2021-01-09 15:34] imran-itmajlis commented on #254
Thanks Now Working

[2021-01-09 16:14] owenvoke commented on #254
That's great @imran-itmajlis. 👍🏻

[2021-01-09 18:54] manuglopez commented on #253
Probably is there, I can't tell you now but, I have modified xdebug.mode section in php.ini and now all is working with no need to setup enviroment variable to coverage as @nunomaduro wisely stated to me in the post before.

Anyway, the main difference between my two setups is the xdebug version, in Ubuntu  I think I have version 2 and in mac Version 3.

And by default mode is develop

There has b

[2021-01-09 18:54] #253 closed

[2021-01-09 19:30] owenvoke commented on #253
Ah, yeah. I was going to ask if the `xdebug.mode` wasn't set to coverage, whether you were using Xdebug 2. 👍🏻 I wonder if there's a good way of covering this in the docs or something.

[2021-01-09 20:53] nunomaduro commented on #253
@owenvoke Wondering if we can do something here? https://github.com/pestphp/pest-plugin-coverage/blob/master/src/Coverage.php#L38

[2021-01-10 11:42] wensonsmith commented on #56
I add `$this->withoutExceptionHandling();` to TestCase

[code]