[2021-01-12 11:21] MatanYadaev commented on #15
I also think it's an essential feature.

[2021-01-12 11:59] MatanYadaev commented on #15
@nunomaduro I think `describe` blocks are very important in order to make your tests efficient, readable, and expressive.
The "Testing Best Practices" repo explains it a few times:
- [Include 3 parts in each test name](https://github.com/goldbergyoni/javascript-testing-best-practices#-%EF%B8%8F-11-include-3-parts-in-each-test-name)
- [Categorize tests under at least 2 levels [of describe]](https:/

[2021-01-14 00:18] albertpratomo opened #255 "Reusable beforeEach and beforeAll"
I want to make a Trait that does something in the `beforeAll` of the test.

Is it possible to use the `beforeAll()` function in a trait? And then call `uses(Trait::class)` in the test case? I was having problem with that..

Also I tried to use PHPUnit TestCase methods like `setUp` and `setUpBeforeClass`, but it says that it conflicts with Pest's TestCaseFactory..

[2021-01-14 13:29] albertpratomo opened #257 "Conflicting functions with same name in different test file"
I have 2 helper functions with the same name in 2 different test files. When running the tests, I got:
[code]

A possible solution to this is by namespacing the test file. But I think the idea of Pest is that we don't have to namespace our tests.

Perhaps we can add functions to the underlying test case? I don't mind having to call `$this->helper()`..

[2021-01-17 00:53] Johnathan opened #258 ""Plugin initialization failed" on installation"
Having issues just getting pest installed, `composer require...` output below.

**Composer version 2.0.8 2020-12-03 17:20:38
PHP 7.4.10 (cli) (built: Sep  9 2020 06:36:14) ( NTS )**

[code]

[2021-01-17 10:31] dingo-d opened #259 "Helpers.php ignored if the afterEach contains a call towards Mockery::close() and Patchwork\restoreAll()"
I have an odd issue that I've described in more detail [here](https://github.com/Brain-WP/BrainMonkey/issues/92).

I have several global helpers that I've put in the `Helpers.php` file so that they are always present in all my unit tests (which is what `Helpers.php` should be used if I understood it correctly). They are mostly related to mocking some specific functions for WordPress or doing some

[2021-01-17 13:40] octoper commented on #258
Hmm this is weird... cc @owenvoke

[2021-01-17 16:54] owenvoke commented on #258
Are you installing this on a project that already had Pest (less than 1.x) installed? Or would you be able to provide an example of the repository?

I should be able to test this later, but I can't think of any reason that `.temp` would be created inside the `pest-plugin` package (I thought it was only used in the coverage plugin).

[2021-01-17 16:57] Johnathan commented on #258
Hey, nope, haven't installed pest before. My project is based on this repository https://github.com/1707-Industries/greenfield-backend

Trying to install pest there results in the same problem.

[2021-01-17 17:19] octoper commented on #258
@Johnathan I tried to reproduce the issue but it's working just fine for me.

[2021-01-17 17:37] owenvoke commented on #258
I wasn't able to replicate this either. 🤔 https://asciinema.org/a/2bNcyYNvYJZlm2P0uOAGxzqxg

Could you try just removing the entire `vendor` directory, and re-running the install?

[2021-01-17 17:40] Johnathan commented on #258
Hmm that's odd. I tried removing `vendor` and installing again. Obviously seems to be something up with my homestead setup.

Thanks both for looking into it so quickly. I'll update the issue if I get anywhere.

[2021-01-17 18:09] Johnathan commented on #258
No further trying to get it installed from inside the homestead container but I was able to install it ok from the host machine, so that'll do for now until I work out what's wrong with homestead.

Thanks again for the help @octoper and @owenvoke

[2021-01-17 18:09] #258 closed

[2021-01-17 18:20] owenvoke commented on #258
I'll have a look into this as well, I personally don't use Homestead. But it would definitely be good to resolve this if it's an issue with Pest in Vagrant or something.

[2021-01-18 09:08] mgarcia96 opened #260 "Use Models inside tests"
Hi there!

Can I use foreach inside tests? Like this:

[code]

It throws me error:

![image](https://user-images.githubusercontent.com/6561770/104894561-2747e180-5975-11eb-972a-d874f8c2f858.png)

[2021-01-18 09:12] octoper commented on #260
Hey!
No but you can take a look at Datasets here [https://pestphp.com/docs/datasets](https://pestphp.com/docs/datasets), create a dataset for your roles and you will be fine!

[2021-01-18 09:27] mgarcia96 commented on #260
Hi @octoper ! I made a dataset, but still getting the same error:

[code]

[2021-01-18 09:33] octoper commented on #260
Oh don't need a return in datasets remove the return with `yield`

[2021-01-18 09:40] mgarcia96 commented on #260
@octoper  Same, the problem is when I use the "Role" or other model:

[code]

**Line 9 is the   foreach (Role::all() as $role) line**

![image](https://user-images.githubusercontent.com/6561770/104898161-8a3b7780-5979-11eb-9072-eccffc9fa00e.png)

[2021-01-18 09:42] owenvoke commented on #260
Is `Role` a model? If so, it can't be used in a dataset or before a test has been instantiated as the framework hasn't been booted.

[2021-01-18 09:45] mgarcia96 commented on #260
@octoper Yep, it's **Spatie\Permission\Models\Role**.

So how can I do this? I can't get items from DB via Models?

[2021-01-18 11:36] mgarcia96 commented on #260
Okay, I solved this adding these lines in **Pest.php**. Perhaps there is a better solution, but this works for me:

[code]

[2021-01-21 11:27] owenvoke opened #262 "Add support for PHPUnit 10"
There is an upcoming major version bump for PHPUnit. This seems to contain some breaking changes that affect Pest.

- [Docs for v10](https://phpunit.readthedocs.io/en/latest)
- [Branch for v10](https://github.com/sebastianbergmann/phpunit/tree/master)
- [Changelog for v10](https://github.com/sebastianbergmann/phpunit/blob/master/ChangeLog-10.0.md)
- [Diff for v10](https://github.com/sebastianbergm

[2021-01-21 20:22] #260 closed

[2021-01-24 10:36] nunomaduro commented on #262
Closing in favour of #263

[2021-01-24 10:36] #262 closed

[2021-01-26 09:36] simPod commented on #57
Anyone found a solution to this? Obviously the typehint `@return TestCall|TestCase|mixed` is wrong, not sure why this is closed.

[code]

I don't see any TestCase there

[2021-01-26 11:27] georgeboot commented on #194
@nunomaduro I maintain a mono repo (both php and javascript packages in same repo) and have my php tests in `/php-tests`.

Would you accept a PR for adding this as a configurable option?

[2021-01-26 11:31] nunomaduro commented on #194
Yes.

[2021-01-31 16:07] imran-itmajlis opened #264 "How we can define faker locale globally for test cases instead of writing in every function"
![image](https://user-images.githubusercontent.com/68069779/106390035-7168a280-640c-11eb-8546-1399b11a8808.png)

[2021-01-31 16:51] nunomaduro commented on #264
You will need to create an issue on the faker repository.

[2021-01-31 16:51] #264 closed

[2021-01-31 17:31] owenvoke commented on #264
@nunomaduro, not really sure if this is a Faker issue. It's an issue with the Pest Faker plugin. We don't have issues enabled on any of our plugin repos though.

I think we could maybe include an empty class that has a static variable and we'd just do something like:
[code]

[2021-02-04 08:42] Anthodev commented on #246
I second the request. I'm starting using Pest too since yesterday and it take me a while to understand that the class isn't instantiated during beforeAll() which i find it odd, so i thought i was doing something wrong.

So i think that beforeAl() should be instantiated after the class is initialized, it should be a good gain on performance time if we have to load the fixtures once for the class in

[2021-02-04 13:31] dingo-d commented on #259
Just pinging to see if anybody has any clues as to what could cause this behavior?

[2021-02-09 17:43] agarzon commented on #26
Most useful PHP tools in the world comes with PHAR files: composer, codeception, phpmd, deployer, robo, phpcpd, phpcs, phpunit, psysh, php-cs-fixer, and a long etc.... just saying.

[2021-02-09 19:30] owenvoke commented on #26
I'm going to try and take another look at this, as I too think it would be beneficial. 👍🏻

[2021-02-13 06:18] jordanbrauer opened #268 "Custom suffixes with "multiple" file extensions result in invalid classnames"
I was just upgrading from PHPUnit 6 to PHPUnit 9 + Pest (love this library!), and noticed that the PHPUnit `suffix` configuration option causes some issue with the [`TestCaseFactory`](https://github.com/pestphp/pest/blob/master/src/Factories/TestCaseFactory.php#L182-L205) if it contains "multiple" file extensions, like so,

[code]

Which when executing the suite or a single test yields the followi

[2021-02-13 14:43] dingo-d commented on #259
I kinda think I understand what is happening. My guess is, since the BrainMonkey `tearDown` method will call

[code]

as described [here](https://github.com/Brain-WP/BrainMonkey/blob/2f1970536caf46d7ab4482d73399e019d342c5c3/inc/api.php#L35), that will clean up everything for other tests, so nothing I declared in the global `Helpers.php` file will be valid anymore (all the mocks I did using BrainMo

[2021-02-13 15:35] dingo-d opened #270 "How to run tests in separate process?"
I have looked in the documentation and here in the issues, but couldn't find any info about running the test in a separate process. The

[code]

annotation doesn't seem to be working.

[2021-02-13 16:49] nunomaduro commented on #270
I am afraid Pest don't support that feature.

[2021-02-13 16:49] #270 closed

[2021-02-13 20:55] jordanbrauer commented on #15
Would be a nice to have for sure. Given that this issue was re-opened recently, I am curious what everyone has in mind for how `describe` works; what is it doing under the hood with how Pest works now? If no one else takes this soon or has already started it, I might be interested in starting work on it.

[2021-02-13 21:44] mikeerickson commented on #15
@jordanbrauer seeing as @nunomaduro was the one to reopen, I am guessing he is (or will be) working on this personally.

[2021-02-14 08:16] dingo-d commented on #270
Are there plans for implementing that in the future?

[2021-02-14 17:35] genesiscz opened #271 "BindingResolutionException when trying to generate coverage"
PHP 8.0
Pest v1.0.2

Command:
`./vendor/bin/pest --coverage`

Response:

[code]

[2021-02-14 18:54] nunomaduro commented on #271
What coverage driver are you using?

[2021-02-15 14:10] genesiscz commented on #271
xDebug, but I have pcov installed too. Not sure which one it does choose.

[2021-02-15 15:37] jonorozcoc opened #272 "Coverage not found in path: ...\vendor\pestphp\.temp\coverage.php"
- Issue: Coverage not found in path: D:\projects\sani\sani-media-service\vendor\pestphp\.temp\coverage.php.
- PHP version: 8.0.1
- Operating system: WINNT

  at D:\projects\sani\sani-media-service\vendor\pestphp\pest\src\Exceptions\ShouldNotHappen.php:38
     34▕      * Creates a new instance of should not happen without a specific exception.
     35▕      */
     36▕     public static function fr

[2021-02-15 17:09] nunomaduro commented on #272
What coverage driver are you using?

[2021-02-15 17:10] nunomaduro commented on #270
You can try to pull request this. It may be a little bit complicated tho.

[2021-02-15 22:17] jonorozcoc commented on #272
XDebug

[2021-02-16 01:05] nunomaduro commented on #272
I guess you need to pass the `XDEBUG_MODE=coverage` option before the command itself.

[2021-02-16 01:38] jonorozcoc commented on #272
I have Coverage mode on php.ini

![image](https://user-images.githubusercontent.com/8442497/108008190-ccce8f00-6fcd-11eb-9279-43e39ab214a9.png)

[2021-02-17 11:56] nunomaduro commented on #272
@jonorozcoc You will need to debug this.

[2021-02-17 20:52] jonorozcoc commented on #272
@nunomaduro seems to be something related with Lumen. I tried with a blank Laravel project and it worked as expected. I'll research about it

[2021-02-18 11:05] #272 closed

[2021-02-19 14:48] odinns opened #273 "Pest output duplicated per test, except for filter with exact match"
I am seeing a weird output in a project where I am using pest, and which has a mixture of normal phpunit as well as pest tests.

Example output: (these are both phpunit tests)

![image](https://user-images.githubusercontent.com/10807424/108518446-dc4d2100-72c8-11eb-87e1-976398cfa6f9.png)

I have verified (using a line of logging), that the test is in fact only run once.

If I filter and there is o

[2021-02-23 11:04] nivpenso opened #274 "error when running pest"
Hi I use PEST but I encounter a weird error when trying to run the tests

[code]

Looking into the code there is an `exit($result)` command on line 142, when changing the exit command to `return $result` everything works fine. Is there something I do wrong?

[2021-02-23 11:27] owenvoke commented on #274
Please could you give some details about your environment? PHP version, Pest version, OS, etc? 👍🏻 I'm unable to replicate this issue on PHP 7.4 or PHP 8 on macOS Big Sur.

[2021-02-23 11:35] nivpenso commented on #274
sure!
OS: Linux Ubuntu 20.04.2 LTS (Focal Fossa)
Pest version: 1.0.2
phpunit version: 9.5.2
PHP Version: 7.4.3

[2021-02-23 11:53] nivpenso commented on #274
According to the 2nd scenario described [here](https://www.php.net/manual/en/class.typeerror.php) it seems you must return value of the correct type when declaring a function return type

[2021-02-23 12:08] owenvoke commented on #274
Hmm. It looks like the same thing is used in PHPUnit core: https://github.com/sebastianbergmann/phpunit/blob/9.5/src/TextUI/Command.php#L156 However, they also have a return below.

I wouldn't have thought this would cause any issues in Pest because nothing is ever returned due to the `exit()` call. 🤔

[2021-02-23 12:28] nivpenso commented on #274
Agree that this is strange behavior.

I created this script on my local
[code]

this is the output:
[code]

when I commented out the `return $result` it throws the TypeError
[code]

output:
`Uncaught TypeError: Return value of foo() must be of the type int, none returned in ...`

When I'm checking both scripts online using [PHP sandbox](https://sandbox.onlinephpfunctions.com/) the output is
[code]

[2021-02-23 13:20] owenvoke commented on #274
That's really weird, sounds like it's not actually exiting (and is continuing the process) when `exit()` is called. 🤔 Which shouldn't be possible.

I copied the exact code you used, and my output is `before exit` in both scenarios.

[2021-02-23 14:31] nivpenso commented on #274
Ok after trying to reproduce it with docker I found that the problem is caused by `ext-uopz`. I assume it affects the `exit()` function and therefore, the exception thrown

[2021-02-23 14:31] #274 closed

[2021-02-23 14:34] owenvoke commented on #274
Ah, interesting. Looking at the [docs for that extension](https://www.php.net/manual/en/function.uopz-allow-exit.php) it says the following:

[2021-02-25 10:50] boywijnmaalen opened #275 "'segmentation fault' error is triggered when defining coverage/include section in PHPUnit.xml"
Hi,

The error 'segmentation fault' is returned when I execute the pest command mentioned below.

The 'funny' thing however is, if I remove the 'include' section from the phpunit.xml definition Pest runs fine.

Notes:
- I'm using a clean version of Laravel
- the tests referenced in the phpunit.xml are the default laravel tests
- file 'tests/pest.php' exists but is empty
- switching to PHP 7.4 does

[2021-02-26 17:42] mattlake commented on #12
Hi All,
I am encountering the same issue.

Issue:
` ./vendor/bin/pest --coverage`

returns:
[code]

My source code is located in ./src and the phpunit.xml includes:
[code]

I get this exception with PHP versions 7.3, 7.4, & 8.0. My environment is Ubuntu 20.04 via WSL
My PestPHP version is v1.0.2

Any help would be appreciated.

Thanks

[2021-03-02 10:54] danilopolani commented on #273
I cannot reproduce that, but maybe posting your `Pest.php`, `TestCase.php` (if used) and `phpunit.xml` could help (?)

[2021-03-02 10:58] danilopolani commented on #257
You can try putting them in the `beforeAll()` I guess, but you won't have the autocomplete and it could be a "dirty" solution, something like

[code]

[2021-03-02 11:39] nunomaduro commented on #257
@albertpratomo Maybe use a "specific" name that describes what the helper using doing?

[2021-03-02 21:16] lcdss commented on #194
I'm using laravel-modules in a project and there are a test directory for each module created, so would be great if pest could run test from multiple directories as phpunit do.

[2021-03-04 15:35] benswinburne commented on #238
I use datasets to get copies of valid data etc for a test mostly and use faker to generate it. I also often augment the dataset with perhaps the field i'm testing,

i.e. let's say a campaign requires a name and a description and then there are optional fields, if use `->with('campaign')` i know I'm going to get a name and a description, but I'm testing another field like `start_date` for example,

[2021-03-04 16:16] erikaheidi commented on #175
Thank you for this, helped me a lot :)

[2021-03-08 14:01] danilopolani commented on #271
+1 here. I recently updated to XDebug 3 with this config:

[code]

Whenever I run the test suite with code coverage the following the same error is being thrown. Note that the suite runs successfully but it's unable to generate the coverage.

[2021-03-10 10:46] danilopolani commented on #271
After downgrading to XDebug 2.x with `pecl install xdebug-2.9.8` I can confirm that the issue happens only with XDebug 3. To me it's not a big issue to use XDebug 2, but it's weird (cc @nunomaduro )

[2021-03-10 12:05] owenvoke commented on #271
@danilopolani, it looks like in your config Coverage isn't enabled. You need to specify it as part of the mode for Xdebug 3 otherwise the driver won't be picked up.

[code]

[2021-03-10 20:26] #257 closed

[2021-03-10 22:17] nunomaduro commented on #271
@danilopolani @owenvoke Can we know if that mode is activated on the PHP runtime?

[2021-03-10 22:27] danilopolani commented on #271
Tomorrow I'm gonna try and let you know!

[2021-03-10 22:46] owenvoke commented on #271
It's the `php-code-coverage` package that detects it. So I guess. 👍🏻

https://github.com/sebastianbergmann/php-code-coverage

I think we should probably check in the [`pestphp/pest-plugin-coverage`](https://github.com/pestphp/pest-plugin-coverage) with `Coverage::isAvailable()` in the `handlesArguments()` method, and output an error there instead of in the output... But I'm not entirely sure.

[2021-03-11 19:53] diegosouza commented on #275
@boywijnmaalen could you please execute `strace ./vendor/bin/pest &> traced`, save the `traced` content in a pastebin/gist and then give us the link for it?

[2021-03-11 21:29] antonmedv opened #276 "Does tests dir required?"
Upgraded to v0.3.19 and got this message:
[code]

My tests in `test` dir, adding empty `tests` helps. Is it a bug?

[2021-03-11 21:35] owenvoke commented on #276
Currently Pest only supports a `tests` directory. Just a quick note as well, the latest Pest version is 1.x so you may want to update from 0.3. 👍🏻

[2021-03-11 22:14] #276 closed

[2021-03-11 22:15] nunomaduro commented on #273
@odinns Please create a OSS repository where we can reproduce the issue first.

[2021-03-11 22:15] #273 closed

[2021-03-12 07:48] antonmedv commented on #276
Got it. For better DX more meaningful error message is preferable. Without issue I was not able to understand it.

[2021-03-12 10:28] antonmedv commented on #276
v0.3 was working with "test" dir.  It's a bummer not any more(. And it's painful to rename dir in deployer as project quite big. =(

[2021-03-12 11:06] danilopolani commented on #271
Adding the `coverage` mode too to XDebug 3 solves this issue to me!

[2021-03-12 11:07] owenvoke commented on #276
I'm surprised that the `test` directory worked in `v0.3` 🤔 I didn't think we supported that ever.

[2021-03-12 12:00] antonmedv commented on #276
It worked for sure 😄

[2021-03-13 12:48] #268 closed

[2021-03-13 16:27] jordanbrauer commented on #255
@albertpratomo not sure if you have found a workaround for you use case yet, but I have been sharing closures through static constructors, like so (note that this is just sample/pseudo-code and not specific to any framework)

[code]

and used like so

[code]

I haven't really needed to in my own project, _yet_, but if you were to need more than one to run, you could easily compose them, and just p

[2021-03-13 17:22] nunomaduro commented on #255
@jordanbrauer Would be cool to actually have something to allow to configure global beforeBeachs...

[code]

[2021-03-13 17:59] jordanbrauer commented on #255
Woah, that would be cool! I guess you would just configure/call that in the `Pest.php` file?

[2021-03-14 03:22] nunomaduro commented on #255
Correct. Let me know if you are up to work on it.

[2021-03-14 18:24] jordanbrauer commented on #255
Sure thing, I'll take a crack at it! I'll get started ASAP , likely next weekend.

[2021-03-15 07:03] boywijnmaalen commented on #275
@diegosouza,

Thanks for your reply.

Please find the requested output below;

https://gist.github.com/boywijnmaalen/c3278c3d3309eaa888af7c5a141f108a

**note:** I took the liberty of replacing my laravel project (root) path with '<LARAVEL_PROJECT_ROOT>'

[2021-03-15 12:31] diegosouza commented on #275
@boywijnmaalen according to the log, it seems you don't have the `tests/Feature` directory.
Could you please remove the `<testsuite name="Feature">` node from your `phpunit.xml` and try again?

[2021-03-15 13:16] boywijnmaalen commented on #275
@diegosouza; yes, apologies, this ticket was created some time ago - I renamed that specific folder since.

I ran the test again based on my current development; segmentation fault error persists.

Attached:
- a slightly different phpunit.xml
- a new straced outut

https://gist.github.com/boywijnmaalen/a5fde308dcb2ff5715ce266b2a87febb

[code]

[2021-03-15 13:32] diegosouza commented on #275
@boywijnmaalen no problem.

It seems your system keeps logging/accessing `/var/log/php80-opcache.log`. I'd take a look there.
Also, I'd try to disable `opcache` and `xdebug` modules to see if it would make difference.

[2021-03-17 12:10] GeeH opened #277 "Running with --coverage throws ShouldNotHappen exception"
Pest\Exceptions\ShouldNotHappen

This should not happen - please create an new issue here: https://github.com/pestphp/pest.

- Issue: Coverage not found in path: /Users/ghockin/www/twilio-wrapper/vendor/pestphp/.temp/coverage.php.
- PHP version: 8.0.2
- Operating system: Darwin

  at vendor/pestphp/pest/src/Exceptions/ShouldNotHappen.php:38
     34▕      * Creates a new instance of should not happ

[2021-03-17 12:15] GeeH commented on #277
The `.temp` folder doesn't exist in the location mentioned above. I'm running
 - PHP 8.0.2
 - Pest 1.19.0
 - Xdebug 3.1.0-dev

My Xdebug seems to be the dev build, I can run again against 3.0.3 latest release if you think it might help?

[2021-03-17 12:21] nunomaduro commented on #277
You need to activate the XDEBUG coverage mode.

Try this: `XDEBUG_MODE=coverage ./vendor/bin/pest`.

[2021-03-17 12:32] GeeH commented on #277
Awesome, thanks @nunomaduro -- would you like a PR to the docs to include this potential gotcha?

[2021-03-17 12:32] #277 closed

[2021-03-17 13:42] nunomaduro commented on #277
@GeeH Yes please. 👍🏻

cc @owenvoke Did we made any progress on having this detected on the code actually?

[2021-03-17 13:49] owenvoke commented on #277
Not yet, but I was going to have a look into it later if I can.

[2021-03-18 20:29] ngarawakimani commented on #271
Thank you so much @danilopolani

[2021-03-21 15:35] pristavu opened #279 "php artisan pest:dusk fails"
The "browse" option does not exist.

(https://github.com/laravel/dusk/pull/870)

[2021-03-21 20:56] nunomaduro commented on #279
Can you please elaborate?

[2021-03-21 20:56] #279 closed

[2021-03-21 22:55] owenvoke commented on #279
I think they are saying that running `pest:dusk --browse` fails which is because the options aren't used in Pest here:
https://github.com/pestphp/pest/blob/master/src/Laravel/Commands/PestDuskCommand.php#L39

We could maybe change this, but it would require basically the same changes as are in the referenced PR.

[2021-03-21 23:02] pristavu commented on #279
Sorry for the missing informations. Indeed, in a fresh install of pest on a laravel app the command pest:dusk fails from missing option "--browse" that was introduced in version 6 of laravel/dusk

[2021-03-22 07:00] jeremynikolic opened #281 "docker-compose exec throw ShouldNotHappend exception"
Hi 👋 ,

In phpstorm I am using a remote docker interpreter for PHP. My host machine is windows and I am running a docker setup based on laradock with php 8.

Jetbrains recently changed the lifecycle option for it, therefore I may use the "docker-compose exec" option now instead of "docker-compose run".

Tests are running fine with the later but are failing to run with the former, because of test f

[2021-03-22 15:27] dingo-d commented on #270
@nunomaduro what would be the best way to start working on implementing testing in a separate process?

My idea was to first set unit tests. they would go something like this:

Add three tests, two of those will meddle with set globals:
- first where the globals will be set and verified that they exist and are set correctly
- second where it will be verified that globals are still accessible in th

[2021-03-24 07:30] #281 closed

[2021-03-28 07:15] jordanbrauer commented on #255
Worked started in #282. Started with a little PoC with `beforeEach`.

[2021-03-29 03:11] lakuapik commented on #120
any clue how to integrate it with pest ?

[2021-03-29 13:01] nunomaduro commented on #120
I am working on it.

[2021-04-02 03:59] faustbrian commented on #194
https://github.com/pestphp/pest/pull/283

[2021-04-05 10:29] pramanikriju commented on #181
I have a weird issue when using setup functions inside a test case.
This works flawlessly
[code]
But this doesn't. And unknown formatter 'name' error is thrown.
[code]
Not sure what changes between the two.
The test is a simple
`test('can view dashboard')->get('/dashboard')->assertStatus(200);`
Any hints as to why this might be caused?

[2021-04-06 09:18] tpetry opened #286 "Laravel 6 (LTS) Support"
The `pest-plugin-laravel` laravel plugin in its current form only supports Laravel versions `^7.0 || ^8.0` due to the specifications in the `composer.json`. However, until 6 months from now (September 2021) Laravel 6 will be the latest LTS version. The exclusion of an LTS version is quite questionable, because in some companies the rule is to use only LTS releases.

[2021-04-06 09:38] owenvoke commented on #286
Feel free to PR this, I've done a test to see how quick this would be to implement.

Commit with necessary changes: https://github.com/owenvoke/pest-plugin-laravel/commit/2259b5feba7e8ee48fef5cbdbc2e2762e62b2a3d
Workflow run: https://github.com/owenvoke/pest-plugin-laravel/runs/2276896113

---

It looks like there is currently a conflict with our use of the `symfony/var-dumper` package at 5.x for

[2021-04-06 09:53] nunomaduro commented on #286
No plans to support the LTS version, sorry.

[2021-04-06 09:53] #286 closed

[2021-04-06 10:19] tpetry commented on #286
Ok, so i will keep PHPUnit 🤷‍♂️

[2021-04-08 14:07] bu4ak opened #287 "pestphp.com fonts issue"
Browser info:
- Brave
- Version [1.22.71](https://brave.com/latest/)
- Chromium: 89.0.4389.114 (Official Build) (64-bit)
- Ad blockers are disabled

env:
- Ubuntu 18.04.5 LTS x86_64
- Kernel: 4.15.0-136-generic
- Resolution: 1920x1080
- WM: i3

![image](https://user-images.githubusercontent.com/17143820/114040110-9867a880-9883-11eb-8d31-3f1564c6cd6d.png)

[2021-04-08 15:08] octoper commented on #287
Just checked and it is working fine for me on Brave with same version

[2021-04-11 16:04] jeroenboumans opened #290 "Coverage numbers summary show only zeroes when running Pest on Laravel Sail"
I'm currently running Laravel (8) Sail (1.4) on `php: ^7.4`.

I'm using the following composer dependencies:
[code]

I'm running the following sail command set up in my composer.json.
[code]
Which runs the following composer script:
[code]
In my `phpunit.xml` I've the followung directories set up for testing:

[code]
The tests are working and a coverage folder generates, but no coverage numbers ar

[2021-04-20 07:55] jeroenboumans commented on #290
I've fixed this by using an up to date format of the phpunit.xml and running `XDEBUG_MODE=coverage` in the end.

[2021-04-20 07:55] #290 closed

[2021-04-20 14:52] riwiki commented on #12
Just ran into this, and I had to enable XDebug's coverage mode. It's pointed out in the docs: https://pestphp.com/docs/coverage

[2021-05-02 11:40] olivernybroe commented on #287
I will close this as no activity has been added and reproduction was not possible.
If we can get some steps on how to reproduce we can reopen.

[2021-05-02 11:40] #287 closed

[2021-05-02 11:44] olivernybroe commented on #15
@jordanbrauer I think it's totally fine for you to try and work out a PR for this and figure out what it's supposed to do.

One note about adding this is that it will be a breaking change for the IntelliJ Plugin, so changes has to be made before the IntelliJ plugin can work with it.

[2021-05-02 18:37] nunomaduro commented on #15
Sorry - if considering this once again, we are going to put this on hold.

[2021-05-02 18:37] #15 closed

[2021-05-02 22:42] nunomaduro commented on #255
Released.

[2021-05-02 22:42] #255 closed

[2021-05-02 22:43] nunomaduro commented on #275
This does not seem to be a pest issue.

[2021-05-02 22:43] #275 closed

[2021-05-03 00:37] #259 closed

[2021-05-03 00:37] #271 closed

[2021-05-03 12:24] genesiscz commented on #271
@nunomaduro how is this fixed? shouldn't you at least provide this in documentation, or throw an error instead of a non-sense error I am getting?

[2021-05-03 12:33] nunomaduro commented on #271
@genesiscz Can you make a contribution to the docs / or to the source coding adding a helpful error?

[2021-05-10 11:04] wkhayrattee opened #294 "Failed asserting that NULL is null"
Hello, first of all I am blown away by PestPHP, amazing tool.

Just one thing I encountered when I was asserting that a resource handle was null after invoking close method.
Context below.

More precisely, the test is [here](https://github.com/wkhayrattee/simple-dba/blob/ea912e4eb65619460ab0b77df39abdf47da34f5f/tests/DbaTest.php#L27)
`expect($this->dbaObject->resource_handle)->toBeNull();`

When I

[2021-05-10 11:49] owenvoke commented on #294
`NULL` and `null` should be the same. However, looking into this, the `$resource_handle` property isn't actually set to null by `dba_close()` (you can see this by running a `var_dump($this->dbaObject->resource_handle)` before the expectation check), and Pest is just displaying the unknown closed resource value as `NULL`. Therefore, this doesn't seem to be an issue with Pest.

I think you would nee

[2021-05-10 17:50] wkhayrattee commented on #294
You are correct about this. I'll create a ticket with PHP to see what they say as anyone would actually expect a proper **null**.

Indeed, that's what I precisely did, [glance here](https://github.com/wkhayrattee/simple-dba/blob/ea912e4eb65619460ab0b77df39abdf47da34f5f/src/Dba.php#L65).

thank you for your feedback @owenvoke, cheers

[2021-05-11 07:19] #194 closed

[2021-05-15 16:04] felixdorn opened #298 "Forwarding to global functions might not work"
Hey!

I've commited those 3 lines https://github.com/pestphp/pest/commit/278af4b8354f8209cc258823bb155cadf8ea195d which made possible to forward an undefined method in the test suite to a global function with the same name.

I've noticed a while ago that `tests/Helpers.php` was created with a Helpers namespace which would break this neat feature.
However, it seems like the `tests/Helpers.php` file

[2021-05-15 18:14] stancl opened #299 "Should `toHaveKey()` use AssertSame by default?"
Right now, `->toBe()` uses `AssertEquals` and `->toHaveKey()` uses `AssertSame`.

I see why one might want to use `AssertEquals` here, but maybe for consistency they should be the same? If a "to be" assertion is strict, then the "to have a key that **is** ..." should also be strict IMO.

Maybe there should be a third argument, `$strict = true`.

https://github.com/pestphp/pest-plugin-expectations/

[2021-05-17 08:33] dcblogdev commented on #198
I'm also getting PHPUnit output when running PEST

The test:
![image](https://user-images.githubusercontent.com/1018170/118458574-d19cff00-b6f2-11eb-8965-ba3a5fdbd8f4.png)

The Output in storm:
![image](https://user-images.githubusercontent.com/1018170/118458504-bcc06b80-b6f2-11eb-9d31-661a9e71281e.png)

In CLI works perfectly:
![image](https://user-images.githubusercontent.com/1018170/118458675-e

[2021-05-17 09:30] olivernybroe commented on #198
@dcblogdev Yeah, so this one is still waiting for someone to take on the task and actually change the output to pest looking output when using the TeamCity printer.

[2021-05-19 23:17] martin-ro opened #301 "RefreshDatabase not working as expected"
Hi all,

I `use(RefreshDatabase::class)->('Feature')` in `Pest.php` but data persist between different tests. Did I set it up wrong? For example `Feature/FirstTest.php` I create a few models and they still exist in the DB in `Feature/SecondTest.php` while I was expecting the database to be wiped in between!?

[2021-05-21 08:27] alexgarrett commented on #301
Is this the actual code you're using?

`use(RefreshDatabase::class)->('Feature');` should be `uses(RefreshDatabase::class)->in('Feature');`

[2021-05-21 08:31] martin-ro commented on #301
Hi,

no, must been a copy paste error. Here is the actual code:

[code]

[2021-05-21 10:18] nunomaduro commented on #301
I am sorry - but this must be something related to your environment/setup. I've used this trait in hundreds of **Pest** projects. And I've seen this issue before.

[2021-05-21 10:18] #301 closed

[2021-05-21 10:19] nunomaduro commented on #299
Sure - can you make a PR?

[2021-05-21 15:41] fabio-ivona commented on #238
@nunomaduro and @AlexMartinFR  I'd like to propose a pull request to implement this enhancement, but it is closed since January

is there any issue about this? or can I PR to change

[code]

to

[code]

?

if I've read well this @owenvoke 's  answer

it seem to be a good enhancement (It will surely be for my tests)

[2021-05-23 20:58] nunomaduro commented on #299
No plans to make a `strict` assertion there at this time.

[2021-05-23 20:58] #299 closed

[2021-05-23 21:00] nunomaduro commented on #298
We no longer have a `Helpers.php`.

[2021-05-23 21:00] #298 closed

[2021-05-31 18:46] amrography opened #304 "Facade validator class has not been set."
I am getting an error : `A facade root has not been set.` while trying to create new Validator from Facade. Also, creating new instance using `app('validator)` didn't work.

![Screenshot 2021-05-31 at 20 44 04](https://user-images.githubusercontent.com/9614340/120231185-2b540c00-c251-11eb-8332-fc5ebb66c361.png)

![Screenshot 2021-05-31 at 20 44 30](https://user-images.githubusercontent.com/9614340

[2021-05-31 20:36] nunomaduro commented on #304
You test need to `uses(TestCase::class)` being this class a test case from LaraveL.

[2021-05-31 20:36] #304 closed

[2021-06-01 19:34] amrography commented on #304
@nunomaduro Thanks for your quick reply. I updated my `Pest.php` file to be like following and it's running! Thank you.

[code]

[2021-06-02 12:41] titouanmathis opened #307 "Can not load plugins when project path contains an `@`"
The explode made in [src/Repositories/TestRepository.php#L53](https://github.com/pestphp/pest/blob/master/src/Repositories/TestRepository.php#L53) based on the `@` character prevent usage of plugins when there already is an `@` in the folder absolute path.

For example, I am getting the following error when using the snapshot plugin in a project located in `/Users/<username>/Dev/@namespace/project

[2021-06-03 23:51] jordanbrauer commented on #249
@nunomaduro Mind if I pick this one up?

[2021-06-03 23:52] nunomaduro commented on #249
@jordanbrauer  sure.

[2021-06-05 13:22] bigint opened #309 "Requirements unsatisfied for PHPUnit 9.5.5"
<img width="1037" alt="Screenshot 2021-06-05 at 6 51 32 PM" src="https://user-images.githubusercontent.com/69431456/120893126-1ef3f880-c62f-11eb-98f4-924472ca6941.png">

/cc @nunomaduro

[2021-06-05 15:12] owenvoke commented on #309
Thanks for this, feel free to open a PR updating the Composer constraints and I'll merge it. 👍🏻
https://github.com/pestphp/pest/blob/master/composer.json#L26

[2021-06-05 15:19] bigint commented on #309
Done @owenvoke https://github.com/pestphp/pest/pull/310

[2021-06-05 15:29] #309 closed

[2021-06-06 15:11] marufmax opened #311 "Getting Unknown option "--init""
Hi,
I am very new to PEST. Not sure if this is an issue or not. I am getting _Unknown option "init"_  when I am trying to initialize pest to my project.
NB: I am not using Laravel.

From my console:
[code]

**PHP version:** 7.4
**PEST version:** 1.3
Composer version: 2.1.1

Thanks

[2021-06-06 22:00] thinkverse commented on #311
Seems it's calling `phpunit` instead of `pest`, make sure the path to the `pest` bin is correct. If you're doing `./vendor/bin/pest` then that should be done from the root folder where `/vendor` lives, i.e.

[code]

[2021-06-07 14:22] #307 closed

[2021-06-07 21:27] marufmax commented on #311
yea, I think so. But I'd tried executing  `/public_html/vendor/bin/pest` too but no luck. Getting same Unknown option "--init"

[2021-06-10 14:35] nunomaduro commented on #311
This doesn't seems a code issue.

[2021-06-10 14:35] #311 closed

[2021-06-11 07:57] takumade opened #313 "Integration of Pest and CodeIgniter"
Hello this is not an issue, but does anyone know how i can integrate Pest and CodeIgniter, I badly want to introduce testing in my work flow

[2021-06-11 08:25] owenvoke commented on #313
I don't personally use CodeIgniter, and haven't for the last 7~ years, so I'm probably not going to be much help.

I'd assume that it would be mostly similar to [the PHPUnit test documentation for CodeIgniter](https://codeigniter.com/user_guide/testing/overview.html). However, rather than having classes that have the required testing traits, you'd instead use Pest's `uses()` calls. Such as:

[code

[2021-06-14 12:22] bigint opened #315 "Coverage is not working in GitLab CI"
Code Coverage is failing in GitLab CI

![image](https://user-images.githubusercontent.com/69431456/121891558-3884f680-cd39-11eb-9fed-1a0e35f183e6.png)

But this is working fine in Mac M1

![image](https://user-images.githubusercontent.com/69431456/121891690-68cc9500-cd39-11eb-9d8e-fad9ab99eed3.png)

Here is the CI URL https://gitlab.com/taskord/taskord/-/jobs/1344627134

[2021-06-14 14:33] owenvoke commented on #315
Do you happen to be using Xdebug 3 in your CI workflow? This seems to look like Pest is throwing an exception (probably related to not finding the Coverage driver), and then Laravel's error handler is catching this for some reason and trying to send off the exception.

To rule out whether this is an issue with `--coverage`, do you mind trying to run it without the `--coverage` flag and see if it p

[2021-06-14 23:51] nunomaduro opened #316 "Re-merge `pest-plugin-coverage`, `pest-plugin-expectations`, `pest-plugin-init`"
I don't think we've made a good decision on splitting `pest-plugin-coverage`, `pest-plugin-expectations`, `pest-plugin-init` to its own package. The goal of this issue, is merge the code again in this repository.

[2021-06-15 06:22] owenvoke commented on #316
I kind of think `expectations` is quite nice as a separate plugin. That means you can use it with PHPUnit as well if you wanted. The others I think would be good to merge. 👍🏻

I'm happy to help merge all 3 though.

[2021-06-15 08:34] nunomaduro commented on #316
@owenvoke I think is quite nice - but we don't need it personally.

[2021-06-15 08:39] owenvoke commented on #316
Cool, that's fine. 👍🏻 I've opened a PR for the init plugin part of this issue: https://github.com/pestphp/pest/pull/317

[2021-06-15 09:02] nunomaduro commented on #316
Feel free to merge everything if you are confident on those pull requests... We will run a test when everything is ready.

[2021-06-15 21:38] #316 closed

[2021-06-15 22:15] #315 closed

[2021-06-15 22:15] #313 closed

[2021-06-15 22:15] nunomaduro commented on #249
@jordanbrauer Did you made any progress?

[2021-06-15 22:15] nunomaduro commented on #198
@olivernybroe Is this fixed?

[2021-06-15 22:31] jordanbrauer commented on #249
@nunomaduro Oh my goodness! Yes, I've got some stuff stashed away but got side tracked with some home-related things. Will make some commits and send a PR in tonight!

[2021-06-15 22:32] Ilyes512 commented on #316
Wow... really don't like this move. I really liked `pestphp/pest-plugin-expectations` as a separate package. I guess I will just add `pestphp/pest` instead and only use the expectations as I do now.

(Above is just a personal "preference" :) just needed to get it out.)

[2021-06-16 04:51] olivernybroe commented on #198
@nunomaduro nope, it still hasn't been done.

The biggest reason why I don't work on this myself if because it's not really a problem for me, I don't read the console output phpstorm to see the amount of tests, as that is available in phpstorms interface

[2021-06-17 02:52] jordanbrauer commented on #249
@olivernybroe and @nunomaduro , the PR branch should be good for review now, over at #321!

[2021-06-17 11:53] Krato commented on #120
Any updates? We look forward to testing it. Thanks @nunomaduro!

[2021-06-21 19:37] davidrans opened #327 "Significantly slower than PHPUnit?"
PHPUnit (2 seconds)
---
[code]

Pest (58 seconds)
---
[code]

I was considering using pest as our default test runner for our PHPUnit test suite, because of the much improved output, but when running a series of fast unit tests, using vanilla PHPUnit seems to be an order of magnitude faster.

Is this a known tradeoff of using Pest vs. PHPUnit, or am I doing something wrong?

[2021-06-22 08:22] owenvoke commented on #327
I think this is probably due to the use of `usleep()` in Collision (https://github.com/nunomaduro/collision/issues/160).

[2021-06-22 09:38] nunomaduro commented on #327
We should create a printer that is not that verbose.

[2021-06-22 15:15] davidrans commented on #327
Is there an option to provide our own printer to Pest?

[2021-06-22 15:31] owenvoke commented on #327
@davidrans, yes. You can use the `--printer [PrinterClassName]` option. 👍🏻

[2021-06-24 10:06] jj-meyer commented on #327
You're able to use the default PHPUnit ResultPrinter `--printer "PHPUnit\TextUI\DefaultResultPrinter" --testdox` as a workaround. It speeds up test runs significantly while providing feedback in the `testdox` format, which is somewhat similar, though not a pretty as `NunoMaduro\Collision\Adapters\Phpunit\Style`.

[2021-06-26 17:27] kiwina opened #332 "Request url when generating future test in nested path"
Hi, when generating test on a nested path ie: Api\V1\Users the url that gets generated is: /api\v1\users it be great to have it generate the correct url. PS: when using forward slashes it works its just uncommon.

[2021-06-27 07:05] tpetry commented on #327
Wouldn‘t batching the output do the same? The problem with many outputs is not the amount of text but the amount of (system) calls.

[2021-06-27 20:35] haleemhosein opened #333 "Cannot install pest in Laravel 5.7.29"
I tried installing this on a fresh Laravel 5.7.29 project and it failed.

[code]

How can I install pest on this version of Laravel?
PHP 7.4.19
Composer version 2.1.3

[2021-06-27 22:47] nunomaduro commented on #333
Pest requires nunomaduro/collision ^5.4.0.

[2021-06-27 22:47] #333 closed

[2021-06-27 22:47] #332 closed

[2021-06-28 12:36] felipenaf opened #334 "Coverage not found in path ..."
- Issue: Coverage not found in path: /var/www/html/vam/API/composer/vendor/pestphp/pest/.temp/coverage.php.
- PHP version: 7.4.20
- Operating system: Linux Mint 20
- environment variable: XDEBUG_MODE=coverage

![image](https://user-images.githubusercontent.com/31565912/123636457-446dbf80-d7f3-11eb-9d4c-d3977e0a8952.png)

[2021-06-28 12:38] nunomaduro commented on #334
https://github.com/pestphp/pest/issues/277

[2021-06-28 12:38] #334 closed

[2021-07-06 09:16] bpolaszek opened #337 "Shared setup/teardown not working"
Hello there,

I have an app which currently runs Pest 1.8 with hundreds of tests. I just wanted to use the "Reusable (Shared) Setup and Teardown" feature by writing this on top of my `tests/Pest.php` file:

[code]

Then when running `./vendor/bin/pest` again here's what I immediately get:

Since it's a private project, I can't share it with you, so I tried to reproduce it here from a fresh [Symfon

[2021-07-06 12:04] colorninja commented on #180
Just a note to all people getting this error and having the directory included in coverage - you might get this error of `xdebug.mode` in **php.ini**. This was already stated in the [docs](https://pestphp.com/docs/coverage), but as you know - 2 hours of debugging save you 5 minutes of documentation reading.

I was getting in this environment:
PHP: 8.0
pestphp/pest: 1.8.0
phpunit.xml:
[code]

[2021-07-07 15:19] jordanbrauer commented on #327
I also noticed this on a suite with thousands of tests. Doesn't really bother me though because I don't run full things locally.

What does `time` refer to? Is it the time it took to execute all tests, or the time it took to execute and print everything? If the former, wouldn't that mean that something else is also causing the slow down – such as how Pest loads things. What is memory usage differe

[2021-07-07 15:25] jordanbrauer commented on #337
Hello, @bpolaszek ! :)

My apologies for any issues you are having with this (I implemented it 😅 )! I hope it's not too much of a blocker.

Based on your example there, it seems to me there might be an order of operations issue. [Take a look at **the test**](https://github.com/pestphp/pest/blob/master/tests/Pest.php#L7-L20), and you can see that `in` is called last, as you have already discovered

[2021-07-09 05:48] deevus commented on #120
Also keen on an update.

Meta: why close the issue when a solution is in progress?

[2021-07-09 08:07] nunomaduro commented on #120
Because there is no "issue". This is an feature request.

[2021-07-10 22:37] jrmajor opened #343 "Higher order tests break after upgrading to v1.8"
Pest v1.8 broke higher order tests for expectations containing string `'It'`.

[code]

throws the following error:

[code]

Probably caused by #331 (my guess is that `'it'` is treated as callable, as there is a function with this name).
This test reproduces the problem: a38bfa9416fd3282b5753c38f5795f1b302d00db.
Failing workflow after updating to v1.8: https://github.com/jrmajor/fluent-php/runs/303

[2021-07-11 08:11] jrmajor commented on #343
Fixed by #344, thank you @lukeraymonddowning!

[2021-07-11 08:11] #343 closed

[2021-07-14 09:21] danilopolani opened #346 "Pass tap result to high order expectation"
It would great to have the chance to pass the result of the high order `tap` to the following expectation(s).

I don't know if this is currently possible due to proxied chained calls, but this a simple example to understand why it would be useful:

[code]

I know this could be translated to `UserService::getNickname(User::factory()->create()->id)`, but this was just the simplest example I could fi

[2021-07-14 10:02] danilopolani commented on #346
Holy, I didn't see there's already a discussion about this. Closing in favor of https://github.com/pestphp/pest/discussions/345

[2021-07-14 10:02] #346 closed

[2021-07-16 09:29] damms005 opened #347 "Error: Using $this when not in object context"
Pest    1.0.5
PHPUnit 9.5.4
PHP 8.0.8

I am getting the error:

[code]

The complete code for the test class is:
[code]

Content of Pest.php:
[code]

[2021-07-16 09:34] damms005 commented on #347
My aim is to be able to run migrations once for all the tests in `tests/Feature` and also seed the database once for all the tests in  `tests/Feature` folder.

I tried below in `Pest.php`:
[code]
but got error `Call to undefined method Pest\PendingObjects\UsesCall::beforeAll()`.

It did not matter if I did `uses()->in(...)->beforeAll(...)` or `uses()->beforeAll(...)->in(...)`

[2021-07-16 12:00] owenvoke commented on #347
You need to use `beforeEach()` rather than `beforeAll()` as `beforeAll()` is run before the class is instantiated.

[2021-07-16 12:06] damms005 commented on #347
Using `beforeEach()` in `Pest.php` resulted in error: `Undefined method 'beforeEach'`.
Using `beforeEach()` in `HomepageRequestTest.php` is not my aim. I aim to run migrations and seed the database *once* for all the tests in `tests/Feature`

[2021-07-16 18:21] fnzr opened #351 "'beforeAll' hook on Pest.php is executed more than once for a single file"
Hi,
I'm trying to register a global hook that will be executed once before all tests, but when registering it on the Pest.php file, it is called once per test instead.
Reproducible from this repository: https://github.com/fnzr/pest-sample-temp
What I've done:
1) `composer require pestphp/pest --dev --with-all-dependencies`
2) `./vendor/bin/pest --init`
3) Created the sample tests:
[code]
[code]
3)

[2021-07-17 18:59] jordanbrauer commented on #351
Interesting. Apologies if this has been a blocker for you!

I'll take a look at this and see if we can't get it reproduced with a test case to start on a fix. 🙂

[2021-07-17 21:43] fnzr commented on #351
I've been debugging it a bit, and all repeated calls to the global setup on Pest.php are called before any test runs.

It seems that for each test in the file, the global beforeAll hook is being stacked on the Testable::$beforeAll variable.  When Testable::setUpBeforeClass executes the $beforeAll closure on line 198, the entire Testable::$beforeAll stack is executed (the exact function call to the

[2021-07-17 21:55] jordanbrauer commented on #351
@fnzr no worries, thank you for the information! Should be useful when whipping a fix up. Sounds like we need to do some sort of reset in this case.

[2021-07-21 14:58] pedroresende opened #355 "Class "Symfony\Bridge\PhpUnit\SymfonyTestsListener" does not exist"
Just followed the documentation on a clean symfony project

[code]

when finally tried to run the tests

[code]

I got the following message back

[code]

[2021-07-21 15:00] pedroresende commented on #355
just found out that you need to install `symfony/phpunit-bridge` bundle

[code]

[2021-07-21 15:43] SerjoA opened #356 "enhancement suggestion for additional dsl"
hi, first of all thank you for a great tool, excellent work

i do have a dsl suggestion, i write test in couple of languages, what i miss most in php is something like the similar

specs
[code]
basically a grouping of tests to describe a spec/feature
i  think it will also look nicely in the output format i saw pest does

would it be something of interest or pest is only about unit/feature tests, w

[2021-07-22 00:25] jordanbrauer commented on #356
@SerjoA, see #15. If I am not mistaking, we might see them sometime, but is not a priority at the moment it seems (unfortunately).

[2021-07-22 00:29] jordanbrauer commented on #351
Just a small update @fnzr!

I've got a fix and will send a PR in for review tonight. Reason for delay was the test that backs it is a bit finicky due to the unpredictable nature of how many times these get called – _i.e._, running a specific test, some tests, or all tests yield a different number of calls to these hooks.

[2021-07-22 05:00] SerjoA commented on #356
thank you i read the comments there 👍

[2021-07-22 05:00] #356 closed

[2021-07-23 18:36] roni-estein opened #358 "toMatchObject"
Hopefully I'm not misreading the docs, but, noticed this after struggling with object matching:

[code]

LoggedIp is a just a standard Laravel model.

Using Laravel 8.51.0 and Pest 1.10

[2021-07-23 20:22] nunomaduro commented on #358
That's because those attributes are not "real" PHP properties.

[2021-07-23 20:22] #358 closed

[2021-07-24 23:58] damms005 commented on #347
This was caused because `$this` is not bound in `beforeAll` call, but rather in `beforeEach` call. [Hopefully, this will be made clearer in the docs](https://github.com/pestphp/docs/pull/83)

[2021-07-25 00:30] roni-estein commented on #358
Thanks for the respsonse, would you could you clarifying that a bit? Are you able to use this with eloquent models? Is there a better way? Is this something I have to extend to make it work. Any suggestions and clarifications would be appreciated.

[2021-07-25 01:06] damms005 commented on #347
Well, this is what you get when you don't upgrade your composer dependencies. I was running this against:

[2021-07-25 01:06] #347 closed

[2021-07-26 21:04] nunomaduro commented on #126
@olivernybroe This is still an issue? If we don't plan to address it soon, can you close it please?

[2021-07-26 21:31] #355 closed

[2021-07-26 21:43] nunomaduro commented on #327
Try now.

[2021-07-26 21:43] #327 closed

[2021-07-26 21:44] #337 closed

[2021-07-26 21:44] #351 closed

[2021-07-27 04:36] olivernybroe commented on #126
Actually I think @lukeraymonddowning wanted to address it soon 😂

However this is still something I need as it is blocking me for adding support for higher order tests in phpstorm

[2021-07-27 05:16] bpolaszek commented on #337
Hey @jordanbrauer - sorry I was sure I answered and it happened I didn't 😓
Thank you for the tip, will give it a try! Maybe it would be good to update the docs or make it fluent?

Thanks!
Ben

[2021-07-29 00:45] davidrans commented on #327
I tested on `v1.12.0` and it's faster than before:
![image](https://user-images.githubusercontent.com/806152/127414203-ef56a4dc-ead0-449b-adaf-52a0621a46dd.png)

But still 10x as slow as `phpunit`:
![image](https://user-images.githubusercontent.com/806152/127414225-315dc9ca-afa7-41b3-95f7-f2a38e85ec19.png)

[2021-08-02 11:47] #198 closed

[2021-08-06 14:02] jordanbrauer commented on #249
@nunomaduro @olivernybroe I suppose we can close this, now that #321 was merged?

[2021-08-06 14:38] #249 closed

[2021-08-14 14:40] Bilge opened #373 "Coverage not found in path: vendor\pestphp\pest\.temp\coverage.php"
[code]

[2021-08-14 14:45] Bilge opened #374 "pest cannot handle `-c` option"
It seems to me `pest` does not support the `-c` or `--configuration` option whatsoever. I put my `phpunit.xml` inside my `tests` directory, because I do not believe in polluting the project root directory with miscellaneous files. This works perfectly fine for PHPUnit, but I cannot say the same for Pest, which just exits with absolutely no output whatsoever.

The exit code is `0`, as if nothing we

[2021-08-14 19:14] Bilge commented on #374
For some reason, I had `<env name="SHELL_VERBOSITY" value="-1"/>` in my `phpunit.xml`. It seems this either is, or was, part of the standard Symfony template for whatever reason, and whilst it had no adverse impact on PHPUnit testing, completely swallowed all Pest output until I removed it.

[2021-08-14 19:59] Bilge opened #375 "Pest output should match PHPUnit parity"
Although Pest output is objectively better than the PHPUnit standard printer, it shouldn't remove features present in the underlying software. In particular, the following aspects are missing:

* Total memory consumption in summary output
* Total number of assertions run in summary output
* Software version in printer preamble (i.e. Pest version number plus PHPUnit version number)
* Random seed wh

[2021-08-14 20:17] Bilge opened #376 "Immediate feedback with unbuffered output"
Unlike PHPUnit, and most PHPUnit printers, Pest does not emit output after each test in a test case, but rather, it buffers the entire collection of tests in a test case until the whole test file has completed. This is presumably because it wants to emit PASS/FAIL on the header line for the test case, which it can't know until all sub-tests have finished, but the upshot of this is there is no outp

[2021-08-14 20:22] Bilge opened #377 "Show run time for each test"
For test suites with slow tests, that want to crack down on performance bottlenecks, showing the execution time for each test is paramount. As someone who [once dabbled](https://github.com/ScriptFUSION/PHPUnit-Immediate-Exception-Printer) in PHPUnit printers, I happen to know this information is already available to printers, so it is just a matter of formatting it in a readable way.

It can be a

[2021-08-14 22:04] owenvoke commented on #373
See #277, this is probably related. But let us know if not.

[2021-08-14 22:09] Bilge commented on #373
Yes, specifying `XDEBUG_MODE=coverage` fixes it. Being as that's the case, probably the error message should be improved. Rather than saying _this should not happen_, why not suggest setting the correct `XDEBUG_MODE`?

[2021-08-15 14:42] owenvoke commented on #373
Feel free to open a PR. 👍🏻 It probably would be pretty easy to add a better message, however it then has to check which coverage driver is as well. I'm happy to have a look sometime soon.

[2021-08-20 17:54] odinns opened #378 "Fatal error: Trait method expect has not been applied, because there are collisions with other trait methods"
Here is my issue referring to https://twitter.com/odinnsorensen/status/1428749126557212675

The test `CanRemoveBuildingWithMaterialTest` is just the first pest test in our suite of around 500 mixed pest and phpunit tests.

[code]

This is the same as reported in #273, but now with pest 1.16 (since 1.5) it crashes instead of duplicating output for each test.

[code]

Running on MacOS 11.5.

phpunit

[2021-08-20 18:11] odinns commented on #378
Let me know if you need anything else, I'll see if I can provide it.

[2021-08-21 13:26] nunomaduro commented on #377
I think this feature would be a nice to have. Fell free to pull request that option to this printer: https://github.com/nunomaduro/collision/tree/stable/src/Adapters/Phpunit.

[2021-08-21 13:26] #377 closed

[2021-08-21 13:28] nunomaduro commented on #378
@odinns Do you have a trait with a method "expect"?

[2021-08-21 13:31] nunomaduro commented on #375
I think output the memory is a good idea - fell free to pull request that feature as an option like `--memory` or something. Regarding the Pest version + the PHPUnit version, you don't get that feature by using the `--version` option?

[2021-08-21 13:32] nunomaduro commented on #373
@Bilge That's a good suggestion - please pull request a better error message.

[2021-08-21 13:32] #373 closed

[2021-08-21 20:50] Bilge commented on #377
@nunomaduro Do you just close issues once you've read them? Or otherwise, what is the reason for closing this now?

[2021-08-21 20:52] nunomaduro commented on #377
Well, I've told you that is a good idea - and you are free to contribute with a pull request. Do you see a reason to have this issue open?

[2021-08-21 20:55] Bilge commented on #377
To keep track of unresolved ideas and implementations.

[2021-08-21 21:24] nunomaduro commented on #377
@Bilge We only use the issues tab for bugs. Regarding your idea, you are free to create a pull request.

[2021-08-21 22:16] Bilge commented on #375
Passing `--version` shows the version information but doesn't run the tests. This is contrary to the behaviour of PHPUnit, which emits version information when running tests, without specifying any command line switches.

[2021-08-21 22:24] nunomaduro commented on #375
Regarding the `--version` no plans to change it's behavior.

Regarding the `--memory` option no plans to add that information by default, still open for having that information, as opt-in using the `--memory` option. Fell free to pull request that.

[2021-08-21 22:24] #375 closed

[2021-08-21 22:25] Bilge commented on #375
Sad!

[2021-08-21 22:26] Bilge commented on #375
Sad!

And in prematurely closing this, not only do you fail to address the issues we discussed, but you completely fail to address the missing random seed and assertion counter (which actually does appear in the TeamCity output, just not the CLI).

I thought Pest was a good project, but you're an awful maintainer.

[2021-08-22 21:11] nunomaduro commented on #378
Please remove the "pestphp/pest-plugin-expectations" from your dependencies, and update to the latest Pest version.

[2021-08-22 21:11] #378 closed

[2021-08-23 08:33] odinns commented on #378
Thanks @nunomaduro that did the trick, now I can use the latest pest again 😊

Looks like I was just running composer update and not checking release notes.

The issue with duplicated output is still present, but it's not important.

[2021-08-23 14:46] lukasleitsch opened #379 "Dusk test fails with a `/` in the dataset"
If a Laravel Dusk test runs with a dataset that contains a `/` in the string the test will fail because the slash will be used to save the file with the console output.

Example:

[code]

Output:

[code]

[2021-08-25 03:53] mertasan opened #380 "Parallel test shows warning for tests that are not run"
[code]

[code]

[code]

[code]

Note: I manually edited the console results. Time (`2.71s`) is not just for 3 tests.

<img width="440" alt="screenshot 128" src="https://user-images.githubusercontent.com/13007665/130723404-6d31da9d-7d18-455d-a897-e1150aceb618.png">

[2021-08-25 04:12] mertasan opened #381 "Parallel testing does not stop on failure"
[code]

Next tests should not continue to run after the first failure. But it continues.

Is this a default behavior?

[2021-08-25 08:23] lukeraymonddowning commented on #381
Question before I take this one; if you add another test error and run the suite, how many failures does it show, 2 or 1?

Reason I ask is that it might be stopping, but just emptying the processes it already has running.

[2021-08-25 08:26] lukeraymonddowning commented on #380
Are we saying that we want no output at all if no tests are run? Just to be sure before I start work on this.

[2021-08-25 08:51] lukeraymonddowning commented on #376
Howdy @Bilge!

This is actually an issue to be posted in the Collision package, not here, as all output is handled by the Collision printer. Are you okay to move it and close this one?

[2021-08-25 08:54] Bilge commented on #376
Yes.

[2021-08-25 08:54] #376 closed

[2021-08-25 08:57] mertasan commented on #381
All tests are being processed.

Even if the first test fails, it continues until the last.

Result with failed tests:
[code]

Result with passed tests: **(without using parallel)**
[code]

@lukeraymonddowning Tests that fail when using parallel should actually have passed. This is another issue. (I made a detailed video about it. Please check your twitter DM.)

Some tests fail with parallel.

An e

[2021-08-25 09:06] mertasan commented on #380
Yeah, there should be no output at all. It should have the same behavior as Pest's default.

[code]

[code]

[2021-08-25 09:32] #380 closed

[2021-08-25 11:37] jrmajor commented on #373
Hi, I don't know how to check what value of `XDEBUG_MODE` is used, but when I set it to `coverage` in `xdebug.ini`, the tests run noticeably longer, so I'm pretty sure it's enabled. However, I still get this error. Is there something else I should check?

[2021-08-25 12:42] dcblogdev opened #382 "PEST with Laravel Modules and Laravel Livewire plugin"
I would really like to use PEST with Laravel Modules package. (https://github.com/nWidart/laravel-modules)

PEST runs with modules by itself but where the problem lies is the plugins for example I have a fresh Laravel install with a contacts module which has this test file

ContactTest.php

[code]

When I run the test I get:

I have these installed:

[code]

I've uploaded a demo project to show th

[2021-08-26 15:22] mertasan opened #383 "Parallel testing does not work with teamcity printer"
Parallel test fails because of this line.

https://github.com/pestphp/pest-intellij/blob/4469b6bfd75097536ae555bac828b2c5797858be/src/main/kotlin/com/pestphp/pest/configuration/PestRunConfigurationHandler.kt#L20

<img width="1179" alt="screenshot 158" src="https://user-images.githubusercontent.com/13007665/130990236-6a669242-8851-4629-88b4-2a3178480784.png">

[2021-08-28 07:53] #381 closed

[2021-08-29 10:05] jeytii opened #388 "Calling DB Facade inside afterAll() throws an error"
**tests/Feature/Auth/LoginTest.php**
[code]

**_Error message:_**

[2021-08-29 10:41] nunomaduro commented on #388
That's expected. Maybe you meant "afterEach"?

[2021-08-29 10:41] #388 closed

[2021-08-29 14:57] jeytii commented on #388
@nunomaduro I only want to fire `DB::table('users')->truncate()` after all tests since only a few tests create fake data

[2021-09-01 22:01] samir-araujo commented on #358
Sorry for posting in a closed issue, but since I couldn't find the answer nor a thread discussing it, I thought it would be good to share what I did to get it working in my project.

Looks like if you use `toHaveKey` or `toHaveKeys` instead of `toMatchObject` works just fine.

[code]

[2021-09-02 14:21] samir-araujo commented on #358
Thought it would be something like this, but I still don't know if it is/not the best way to test the existence of an attribute.

[2021-09-04 22:03] midnite81 opened #393 "Display output on test run"
Minor issue I'm having. I have my normal application tests and then a couple of internal projects within the main application which have their own tests. When I run the test suite all the tests are run (both application tests and the internal project ones) however when it outputs it misses the first letter off the directory when printing. Like I say not a massive issue but just making you aware.

[2021-09-08 10:43] funyx opened #394 "pcov - This should not happen"
[code]

[code]

[code]

[2021-09-08 12:31] funyx commented on #394
Steps to reproduce:
[code]

[2021-09-13 09:49] soilSpoon opened #395 "Printer cannot be specified when using parallel plugin."
`nunomaduro/collision` is beautiful but slower than `phpunit`'s default printer.

In general, the reason for using the parallel plugin is for quick testing, but the option to make it faster is blocked.

give me freedom

[2021-09-13 10:02] owenvoke commented on #395
You should be able to use the `--printer` flag. If not, let us know.

[2021-09-16 01:58] mertasan opened #398 "`sequence()` can generate false positives"
I think this test should fail.

https://github.com/pestphp/pest/blob/2f0cd7a4e3a36ac51367ea45d65fc09403ec32c7/tests/Features/Expect/sequence.php#L29-L38

Useful when working with static data. Even so, why test more than the actual data?

But it generates false positives in a use case like the one below.

[code]

my solution:

[code]

https://github.com/pestphp/pest/blob/2f0cd7a4e3a36ac51367ea45d65

[2021-09-16 09:02] nunomaduro commented on #398
Good idea, can you make a pull request?

[2021-09-16 09:02] #398 closed

[2021-09-18 15:14] ingageco opened #400 "Laravel Plugin get() causes segmentation fault if server returns 502"
Hey Team,

I was running a test to a url in our system that was returning an Nginx 502 bad gateway using Pest\Laravel\get. Instead of failing the test, Pest (or something underlying) was failing completely with a segmentation fault.

Maybe there's something i do not understand - but shouldn't this be able to be caught and reported as an assertion?

[2021-09-18 20:31] nunomaduro commented on #400
That seems to be related to Laravel itself. We just proxy the `get` function to Laravel is TestCase@get method.

[2021-09-18 20:31] #400 closed

[2021-09-18 21:27] ingageco commented on #400
Cool - thanks!

[2021-09-21 12:25] danix89 opened #404 "Call to a member function connection() on null"
I'm using the example reported in the doc of the Pest Laravel plugin in my working Laravel project:
[code]

But I get this error:

What does it mean? Note that, this error is reported only in the testing environment.

I have installed both Pest and the Laravel plugin following the guide as stated in the official documentation of Pest.

I report an extract of my composer.json:

[code]

[2021-09-21 14:27] nunomaduro commented on #404
You need to use the base "TestCase" from Laravel too.

[2021-09-24 11:57] dougblackjr opened #408 ""Can you quickly star our Github repository?" causes InitializeSandbox issue"
Caught this when trying to install pest on a project.

Was greeted with a question: `Can you quickly star our GitHub repository? 🙏🏻 (yes/no) [yes]:`. Hit enter to signify yes. It opened my browser to the page (and I starred, just so you know 😜). In my terminal, I got the following error:

[code]

Hitting Control + C broke out of the process just fine. Rerunning the script with "No" as the answer c

[2021-09-24 21:21] nunomaduro commented on #408
Thank you for reporting this one. Fell free to submit a pull request that addresses this issue.

[2021-09-24 21:21] #408 closed

[2021-09-24 21:22] nunomaduro commented on #394
Fell free to submit a pull request that addresses this issue.

[2021-09-24 21:22] #394 closed

[2021-09-24 21:22] nunomaduro commented on #382
No plans to investigate this issue. Fell free to submit a pull request that addresses this issue.

[2021-09-24 21:22] #382 closed

[2021-09-27 05:53] nuernbergerA commented on #379
Maybe it's possible to overwrite the log path for dusk, maybe an md5 hashed version of the string to avoid unsupported charaters

[2021-09-27 06:24] lukasleitsch commented on #379
My dirty/hacky solution to avoid the error:

[code]

[2021-10-03 00:26] dschiller opened #414 "Higher Order Tests fails"
At https://pestphp.com/docs/higher-order-tests this test fails:

[code]

with:

[code]

I am using laravel with php 7.3.

[2021-10-03 00:30] dschiller opened #415 "Laravel Plugin seems not to work"
Using the example from https://pestphp.com/docs/plugins/laravel seems not to work:

[code]

Error is:

[code]

[2021-10-03 02:32] nunomaduro commented on #415
Please put `uses(YourLaravelTestCase::class)` in your `Pest.php` file.

[2021-10-03 02:32] #415 closed

[2021-10-03 02:32] nunomaduro commented on #414
That's PHP 7.4 syntax.

[2021-10-03 02:32] #414 closed

[2021-10-03 08:28] dschiller commented on #414
Needed to update to php 7.4:

[code]

[2021-10-06 13:11] bpolaszek opened #416 "Can't run tests on PHP 8.1"
Hello there,

PHP 8.1 introduced return types almost everywhere into [PHP's internal code](https://wiki.php.net/rfc/internal_method_return_types).
This theoretically leads to potential BC break, because any class implementing `IteratorAggregate` with `getIterator()` instead of `getIterator(): Traversable` would break inheritance rules.
However, it's been decided just to warn the user with a deprec

[2021-10-07 03:16] martin-ro opened #417 "Parrallel testing slower?"
Fresh L8 install with Jetstream. Rewritten all tests to Pest:

[code]

VS

[code]

Any idea what I'm doing wrong here?

[2021-10-07 09:25] #417 closed

[2021-10-10 13:41] nunomaduro commented on #126
Closing for lack of activity.

[2021-10-10 13:41] #126 closed

[2021-10-10 13:41] nunomaduro commented on #374
Closing for lack of activity.

[2021-10-10 13:42] nunomaduro commented on #379
@lukasleitsch Can you pull request a fix for this please?

[2021-10-10 13:42] #379 closed

[2021-10-10 13:43] nunomaduro commented on #383
@mertasan Can you pull request a fix for this?

[2021-10-10 13:43] #383 closed

[2021-10-10 13:43] nunomaduro commented on #393
@midnite81 Can you pull request a fix here? https://github.com/nunomaduro/collision/.

[2021-10-10 13:43] #393 closed

[2021-10-10 13:44] nunomaduro commented on #416
@bpolaszek Can you create a simple project where we can reproduce the issue?

[2021-10-10 17:44] nunomaduro commented on #416
Your issue does not make sense. The `Lexik\Bundle\JWTAuthenticationBundle` author should add `#[\ReturnTypeWillChange]` to avoid this issue.

[2021-10-10 17:44] #416 closed

[2021-10-12 09:44] bpolaszek commented on #416
@nunomaduro it doesn't seem related to Whoops directly since Whoops also keeps the deprecation as is. There's something somewhere which tells PHP to convert deprecation notices into fatal errors but I don't figure out what. Maybe something into nunomaduro/collision?

[2021-10-13 07:16] plakhin opened #421 "Parallel testing failing after updating to the latest version."
After upgrading Pest from `v1.18.0` to `v1.20.0` I'm getting `In SuiteLoader.php line 172:` `No path or configuration provided (tests must end with Test.php)` error. However, serial testing works fine. Parallel also worked fine before upgrade.

My `phpunit.xml`
[code]

[2021-10-13 09:58] #421 closed

[2021-10-21 01:15] lloricode opened #425 "Custom env"
Hi, is there a way to run pest with `.env.testing` same as official in laravel? https://laravel.com/docs/8.x/testing#the-env-testing-environment-file

Thank you

[2021-10-21 01:47] xiCO2k commented on #425
If you are using Laravel it works the same way.

[2021-10-21 01:49] lloricode commented on #425
thanks, i think i have something wrong with my set up, since i just want to run mysql for specific test,

my bad to post here :D by the thanks @xiCO2k

[2021-10-21 02:00] lloricode commented on #425
oh I got some error

`vendor/bin/pest --env=testing`

[code]

[2021-11-01 16:31] javespi opened #431 "Mocks created with helper mock() cannot be passed as argument"
Hello! Have anyone tried passing mocks as argument for a dependency? I couldn't make it work when they are created with the helper `mock()`.

### Problem explained

When I use `$dependency = mock(Class::class)` PHP throws me a TypeError exception if I have `$serviceToTest = new Service($dependency)`

I can show you the exactly code where it happens:
https://github.com/javespi/test-doubles/pull/6/c

[2021-11-01 17:46] rodrigosarmentopicpay opened #432 "PEST fails with 'Could not load mock ... class already exists'"
Hi, I need a solution for the problem below, and I don't know if already exists somenthig to solve it.

### Problem

I am receiveing the error **Could not load mock Swoole\Coroutine, class already exists** when I am running the code below with  `pest --coverage --group request-id-service`:

[code]

The problem is caused by the code:

[code]

### Possible solution

I saw the solution described int

[2021-11-01 18:39] fabio-ivona commented on #431
In order to obtain a mock, you should call its `->expect()` method and define mocked methods

`->expect()` will return a mock, then.

[code]

[2021-11-01 20:27] wesleynepo commented on #432
There is no support for runInSeparateProcess as I can remember.  I had this problem when I was overloading class and trying to mock in other test.
But we solved this problem with dependency injection.

[2021-11-02 08:30] javespi commented on #431
Thank you @fabio-ivona! It worked. You can check the PR here if you want https://github.com/javespi/test-doubles/pull/7

I didn't notice that calling `expect()` the mock of mockery was returned.

I was confused because Mockery library has also a `mock()` helper as well. I was wondering if maybe having both collides somehow:

https://github.com/mockery/mockery/blob/816475d89d82ea968796523de8e56237a

[2021-11-02 08:30] #431 closed

[2021-11-02 08:37] fabio-ivona commented on #431
@javespi just added a little alternative way in your PR for obtaining the same result, using pest's mock() syntax

[2021-11-14 23:32] grEvenX opened #437 "pest fails with --coverage option"
I run my tests with `pest --coverage` option, the tests passes but I get the following exception at the end:

[code]

- Pest-version: 1.20.0

[2021-11-14 23:38] canvural commented on #437
Are you using xdebug? If so did you activate the coverage for xdebug? You can do it like `XDEBUG_MODE=coverage pest --coverage` or you can set it with `export XDEBUG_MODE=coverage` then run your command.

[2021-11-15 09:19] grEvenX commented on #437
@canvural Thanks, I hoped that was the case too, but I get the same issue both when `XDEBUG_MODE` is set to `debug`, `coverage` and `off`.

Is there any clue in the issue root case about `Issue: Coverage not found in path: /var/www/html/vendor/pestphp/pest/.temp/coverage.php.` ?
I'm not familiar with the internals, but looks a bit weird that it tries to look in a temp folder in the vendor director

[2021-11-15 16:17] nunomaduro commented on #437
@grEvenX Try this `XDEBUG_MODE=coverage ./bin/pest --coverage`.

[2021-11-15 18:04] grEvenX commented on #437
@nunomaduro Yeah, that's the command I used, only exception is that I added a file at the end to not run my whole test-suite (which has other issues running 100% in pest currently). I see the output varies based on what test I run.

Running with command: `XDEBUG_MODE=coverage ./vendor/bin/pest --coverage tests/Unit/HelpersTest.php` causes output:
[code]

I can send the content of that test-file, b

[2021-11-19 08:19] bautrukevich opened #439 "Can you help to setup a test workflow, please?"
Hello! I don't understand what I am doing wrong when setup the test workflow:
[https://github.com/zorachka/console/pull/3](https://github.com/zorachka/console/runs/4261720543?check_suite_focus=true)

My PR: [https://github.com/zorachka/console/pull/3](https://github.com/zorachka/console/pull/3)

Can you explain please, maybe Pest doesn't see the tests directory or tests?

Thank you.

[2021-11-19 08:20] bautrukevich commented on #439
Locally everything works fine and tests passed.

[2021-11-19 08:24] owenvoke commented on #439
I think it's because you don't have a `phpunit.xml` file. Is there one locally that you haven't committed?

[2021-11-19 08:33] bautrukevich commented on #439
@owenvoke Yes, you are right! Thank you so much!

Sorry for this stupid issue 🙏

[2021-11-19 08:33] #439 closed

[2021-11-19 09:05] owenvoke commented on #439
@bautrukevich, no worries at all. And no need to apologise, it's not a stupid issue. Glad you got it sorted!

[2021-11-23 11:34] MatanYadaev commented on #15
@nunomaduro Any expectation to see this feature in Pest v2? 😊

[2021-11-25 13:48] soutorafaelbr commented on #415
this isn't working for me

[2021-11-25 14:15] soutorafaelbr commented on #415
So, i figured out the problem for me.

Apparently Pest.php was being cached and no matter what change i was doing on the file, it was not being updated. I manually removed the cache and run pest again and worked just fine.

Unfortunually i didn't found a more soffisticated solution :/

[2021-11-28 14:40] stancl opened #445 "[Documentation] # links aren't clickable"
For instance on the [Expectations](https://pestphp.com/docs/expectations) page, I'd expect to be able to click the `#` here:
<img width="266" alt="CleanShot 2021-11-28 at 15 38 35@2x" src="https://user-images.githubusercontent.com/33033094/143772524-853ff829-ff0f-4f50-9628-76f2ebfe2922.png">

Which would #navigate to that section and let me share it by copying current URL.

Alternatively the entir

[2021-11-28 18:50] nunomaduro commented on #445
cc @octoper

[2021-12-02 12:43] stonkeep opened #446 "beforeAll "Target class [config] does not exist""
When I use beforeEach all the tests work but when I use beforeAll I get the error "Target class [config] does not exist"
Some idea?

[2021-12-02 12:57] owenvoke commented on #446
`beforeAll()` is executed before the test class has been instantiated, so it doesn't have access to things such as the Laravel container. You'll need to use `beforeEach()` instead, which is the equivalent of  `setUp()` in PHPUnit.

[2021-12-03 13:29] oliverpool opened #447 "[doc] Higher Order Expectations"
According to the last example of https://pestphp.com/docs/expectations#higher-order-expectations :

[code]

So my understanding is that the `->name->toEqual('Nuno')` applies to `expect($user)`, since it is preceded by the expectation `toEqual`.

However this should also be the case for `->not->toEqual($user)` since it is preceded by the expectation `toBeInstanceOf`.

So is the example testing that

[2021-12-03 16:06] lukeraymonddowning commented on #447
`toBeInstanceOf()`, `not` and `toEqual` are all part of the Expectation API, so this is actually still testing the first companies owner. Once `->name` is accessed on the next line, the scope is then reset to `$user->name`. Hope that makes sense?

[2021-12-03 16:06] #447 closed

[2021-12-03 16:07] #446 closed

[2021-12-03 19:24] oliverpool commented on #447
Thanks for the quick reply, I think I get it.

Actually it gets back to the initial value on the first non-expectation call (`->name` is not an expectation, so the scope is reset).

Maybe it could be rephrase :

[2021-12-14 03:31] AndyWendt commented on #15
Describe and contexts are needed IMO

[2021-12-14 03:31] AndyWendt commented on #356
Also would like to see context though a little lower in priority than describe

[2021-12-14 13:46] ilyavaiser opened #450 "PHPUnit\Framework\TestCase::$name must be a non-blank string"
Pest 1.21.1
PHPUnit 9.5.10 by Sebastian Bergmann and contributors.

  /app/tests/Feature/ChatTest.php

  Tests\Feature\ChatTest

⨯ has a welcome page

PHPUnit\Framework\TestCase::$name must be a non-blank string.

[2021-12-14 13:48] nunomaduro commented on #450
Please elaborate in your issue.

[2021-12-14 13:48] #450 closed

[2021-12-16 02:49] ChristianPavilonis opened #451 "BindingResolutionException with `--coverage` when using pcov"
No matter what I seem to do I can't seem to get coverage with pcov.

Pcov is enabled
[code]
If I check `ini_get('pcov.enabled');` it outputs 1.

I've tried `php -d pcov.enabled=1 ./vendor/bin/pest --coverage`

Seems related to #253.

[code]

[2021-12-19 16:33] amenophis opened #452 "High order expectation fail with json on object"
Hi,
I'm trying to work on a symfony plugin.
I am unable to use high order expectation with json on object.

I created a failing test in my fork: https://github.com/amenophis/pest/blob/json-high-order/tests/Features/Expect/HigherOrder/methodsJson.php

The error is:

[code]

Maybe i'm doing something bad.
Can i have your opinion ?

Thanks

[2021-12-21 20:48] garbinmarcelo commented on #382
Hi @dcblogdev , are you still using PESTPHP with Laravel Modules? I currently use Laravel Modules and am learning PESTPHP.

Could you tell us a little about your experience so far?

I'm thinking about getting started using Inertia.js in my projects too, so I'm still studying about that.

Thanks

[2021-12-21 22:19] dcblogdev commented on #382
@garbinmarcelo pest works fine with modules now.

most of the time you only need to import:

[code]

for example:

[code]

[2022-01-03 12:48] amenophis commented on #452
Hello,
Can you confirm it is a normal behavior or not ?

Thanks

[2022-01-03 13:15] nunomaduro commented on #452
cc @dansysanalyst - what were your conclusions on this?

[2022-01-03 14:02] dansysanalyst commented on #452
@nunomaduro on 21.12.2021 I had asked on the group regarding arrays and Higher Order and you replied `checking`.

Did I miss any further discussion for this topic?

![IMAGE 2022-01-03 15:00:23](https://user-images.githubusercontent.com/79267265/147939351-f1ba9ed9-eea0-4ea8-a20f-72c4520f52c3.jpg)
 `Failed asserting that null is identical to 'amenophis'.`

[2022-01-04 13:55] KuzminDima commented on #382
It seems to me that the best option is to specify the full path to the module
Example:
[code]

[2022-01-07 08:04] amenophis commented on #452
@dansysanalyst @nunomaduro Do you have news about this issue ??

[2022-01-07 20:02] bcorcoran opened #455 "Unable to use translated strings in higher order tests"
There seems to be an issue with higher order tests. Translated strings (e.g. `__('example.message')` ) cause the following error if used inside a higher order test:

[code]

In particular, I tried using translated strings inside `assertSee`. The translated strings work as expected inside a regular test structure.

PHP 8.1, Pest 1.21.1, Laravel 8.77.1

[2022-01-07 20:21] nunomaduro commented on #455
@lukeraymonddowning He needs to tap here right?

[2022-01-07 21:11] lukeraymonddowning commented on #455
Yes. You can't access features that require the Laravel container in higher order tests without using tap or a closure to expect 👍

[2022-01-07 21:12] nunomaduro commented on #455
@bcorcoran Take a look at the function `tap`: https://pestphp.com/docs/higher-order-tests.

[2022-01-07 21:12] #455 closed

[2022-01-07 21:16] bcorcoran commented on #455
My apologies- I somehow missed this. Thanks

[2022-01-07 21:25] bcorcoran commented on #455
I guess I am missing something, because I tried using `tap()` with `assertSee()` and I can't get it to work.

Can you provide an example?

[2022-01-07 23:36] lukeraymonddowning commented on #455
Sorry, my bad. In this case, your only two choices are to override the entire TestResponse object to accept closures in methods that are resolved after setup, or switch to standard test syntax

[2022-01-07 23:37] lukeraymonddowning commented on #455
Highly experimental but you might also be able to use this

https://github.com/lukeraymonddowning/pest-plugin-larastrap

[2022-01-08 09:52] dansysanalyst commented on #452
Just for investigation, I have returned an array instead of using the `json()` modifier.

[code]

[code]

Higher Order fails to read further array properties:
`Failed asserting that null is identical to 'amenophis'.`

[2022-01-11 14:59] ralphjsmit opened #456 "Is it possible in `extend()` calls to determine whether something is an OppositeExpectation?"
Hey there, thanks for creating Pest, it is an absolute pleasure to use!

I'm creating some plugins for Pest and I'm wondering if there is a way to check whether an `expect()->extends(...)` call is an OppositeExpectation.

Consider the following (this is for easier testing whether a Livewire component has required properties):

[code]

I'd prefer to reduce this to a single `extends()` call and use

[2022-01-11 15:43] nunomaduro commented on #456
Can you pull request a failing test to Pest v2.0 (master) ? And we can work from there...

[2022-01-12 13:31] ralphjsmit commented on #456
I tested this yesterday and today, but I can't reproduce it anymore. Sorry and thanks for your time!

[2022-01-13 14:34] silvioiannone commented on #451
Same issue with Xdebug 3 when using `XDEBUG_MODE=coverage`.

[2022-01-18 14:29] khlilturki97 opened #459 "Dynamic datasets, Laravel"
Hi,

In a Laravel project, I am trying to create a dataset that contains primary keys from my database

what i am trying to do in `Datasets/client.php` is
[code]

when i try to run my tests and include the dataset, i get
[code]

as i understood, the problem is that the application has not been bootstrapped.

Is there any solution?

Thanks

[2022-01-18 14:38] owenvoke commented on #459
@khlilturki97, this should be possible using [bound datasets](https://pestphp.com/docs/datasets#bound-datasets). The following should work afaik.

[code]

[2022-01-18 16:06] #459 closed

[2022-01-20 10:48] khlilturki97 commented on #459
@owenvoke thanks for your quick response

I have corrected the for loop in the issue above

i managed to make this work using the following
[code]

[2022-01-20 18:29] amenophis commented on #452
Can I help on this topic ?

[2022-01-23 21:51] Sunhat opened #464 "Pest laravel no configuration assumes wrong file (.env.testing instead of .env)"
As stated.

This project assumes the usage of .env.testing, which was deprecated in my project and unused for 3 years.

There's no reason to wrong assume an incorrect file.

Create a config file.
Document it.
Get this out of Alpha.

Good potential!

[2022-01-23 23:23] lukeraymonddowning commented on #452
@amenophis

This will be fixed in v2. Can't fix in v1 due to breaking changes. In the meantime, you can `json_decode` in the `expect` instead as a workaround.

[2022-01-23 23:23] #452 closed

[2022-01-23 23:55] nunomaduro commented on #464
Can you create an open-source project where I am able to reproduce the issue?

[2022-01-25 14:02] ysfkaya commented on #451
I'm having the same issue with Xdebug as well. When I run the `php artisan test --coverage` command, it does works.

[2022-01-30 22:40] eleftrik commented on #459
I have a test case similar to @khlilturki97 one.

Currently, my dataset is

[code]

It works (even if I don't understand why $i must be passed by reference), but the value 3 is hardcoded. I would like to make `checks` dataset return as many checks as found in the `checks`table.
Is it possible?

Thank you

[2022-01-31 14:07] riyandharne-123 opened #468 "How do I consume cookies with the pest http client?"
I need to consume cookies with my login api and set them as global headers while testing.

[2022-01-31 14:48] owenvoke commented on #468
As in the Laravel plugin's [HTTP functions](https://github.com/pestphp/pest-plugin-laravel/blob/master/src/Http.php)? You can either use `withCookie($cookies)` or just append `->withCookie()` into your tests. 👍🏻

[2022-01-31 14:53] #468 closed

[2022-02-04 14:29] Lenny4 opened #471 "How to use custom error message ?"
Hello,

I can't find a way to write a custom error message when a test fail.

Something like:
[code]

Thank you

[2022-02-04 15:18] fabio-ivona commented on #471
As for now is not possible in a **simple** way, you could create a custom expectation or trigger a custom error message this way:

[code]

[2022-02-06 00:58] cxj opened #475 "Pest mock() returns incompatible type, Mockery does not."
This works (using Mockery directly):
[code]
This fails (using `pest-plugin-mock`).  Shouldn't this work?  It would be nice if usage was consistent with Mockery.
[code]
Error message:
[code]

[2022-02-10 10:14] catabozan commented on #451
Has anyone found a solution?

[2022-02-10 10:21] owenvoke commented on #451
I still haven't been able to replicate this issue with either PCov (which I use daily) or Xdebug 3. 🤔

[2022-02-10 14:17] catabozan commented on #451
I fixed the error in my code by removing a custom sniff I created to use it with phpinsights. It was stored in the app folder. Removing that custom sniff class solved the issue and the code coverage works fine.

PHP: 8.1.2
Laravel: 8.80
Xdebug: 3.1.3
PHPUnit: 9.5.13
Pest: 1.12.1

The custom sniff was extending the `SlevomatCodingStandard\Sniffs\Functions\FunctionLengthSniff` class.

I don't know w

[2022-02-10 16:45] lukeraymonddowning commented on #475
Try this instead:

[code]

The `mock` function is designed to provide a fluent interface for defining expectations, and is actually a wrapper around `mock`, not a mock itself.

[2022-02-10 16:45] #475 closed

[2022-02-10 17:26] nevster123 opened #477 "Lumen support"
Are there any plans for Lumen 8 support

[2022-02-10 17:29] nunomaduro commented on #477
No.

[2022-02-10 17:29] #477 closed

[2022-02-12 01:35] c-fitzmaurice opened #480 "Higher Order Tests assertStatus"
This may be a simple fix on my end, but I am trying to convert some tests to Higher Order Tests and the `assertStatus` method is undefined. Simple example below.

[code]

Original Test:

[code]

Converted:

[code]

It's the same syntax as the example here: https://github.com/pestphp/pest/discussions/390#discussioncomment-1538048

[2022-02-14 19:59] #480 closed

[2022-02-14 20:12] c-fitzmaurice commented on #480
Ah, this makes much more sense. Great video!

Much appreciated!!

[2022-02-15 03:06] howellmartinez opened #482 "Backtrace.php error"
Followed installation instructions for a Laravel project (running 8.x), ran ./vendor/bin/pest and got a `Class "Pest\Support\Backtrace" not found` error.

Running `composer dumpautoload` gives this message `Class Pest\Support\Backtrace located in ./vendor/pestphp/pest/src/Support/?>,m bvc.php does not comply with psr-4 autoloading standard. Skipping.`

Renaming the `?>,m bvc.php` file to `Backtrac

[2022-02-15 06:14] fabio-ivona commented on #482
That file is actually called Backtrace.php in pest code, could you try to run

`composer reinstall pestphp/pest`?

[2022-02-15 07:15] #482 closed

[2022-02-15 07:16] nunomaduro commented on #482
This is something related to your vendor directory, can you double check that?

[2022-02-16 05:54] howellmartinez commented on #482
`composer reinstall pestphp/pest` did the trick, thanks

[2022-02-16 16:08] Dziamid-Harbatsevich commented on #149
Hi! Thanks for the Pest for php review. From first sight, where is the parent class? I mean, how can I drive the inheritance or any OOP in Pest? If anyone know... I am mot acquinted with it yet.

[2022-02-16 16:11] owenvoke commented on #149
@Dziamid-Harbatsevich, the parent class for the test case? 🤔 That's covered in [the documentation here](https://pestphp.com/docs/underlying-test-case). The default parent class is `PHPUnit\Framework\TestCase`, which can be overridden by using `uses(CustomTestCase::class)->in('path');` in `Pest.php` or `uses(CustomTestCase::class);` in a specific test file. 👍🏻

[2022-02-17 23:16] fran-f opened #483 "Test passes when expecting an undefined exception"
Hello there 👋
It seems that Pest 1.21.0 lets a test pass if it throws and expects an exception that *does not exist*.
I can reproduce the issue with the examples below, on both Windows/PHP 7.4.23 and Ubuntu/PHP 7.4.3.

`ProblemTest.php`
[code]

`ControlTest.php`
[code]

Output of `vendor\bin\pest`
[code]

The Pest test passes, while the "control" PHPUnit test fails. I would expect Pest to behave a

[2022-02-18 08:26] fabio-ivona commented on #483
Hi @fran-f thanks for pointing it out!

we are working on a fix for this

[2022-03-01 13:32] SimonJnsson commented on #451
I found that i could reproduce the issue as follows and a workaround for now
In a fresh laravel installation
composer require brianium/paratest (this requires paratest 6.4.3)
pestphp/pest
pestphp/pest-plugin-parallel

i would encounter this error.

What i found is that downgrading brianium/paratest to < 6.4.2 solves the issue.

Hopefully this also works as a workaround for others experiencing the

[2022-03-02 07:57] jomonkj opened #486 "how to test graphql requests in laravel lighthouse"
Github repo
https://github.com/nuwave/lighthouse

Testing with PHPUnit instructions
https://lighthouse-php.com/5/testing/phpunit.html

**tests/Pest.php**

[code]

**tests/Feature/ExampleTest.php**
[code]

**console error**

[code]

[2022-03-02 09:13] jomonkj commented on #486
OK, that working
But got this error when using `$this` inside `runMutation()` function for code resuse
`Error: Using $this when not in object context`

[2022-03-02 10:09] jomonkj commented on #486
@fabio-ivona thanks for your time,
i preferred this way. It will help someone

[code]

[2022-03-02 11:00] nunomaduro commented on #486
This issues tab is only Pest bugs.

[2022-03-02 11:00] #486 closed

[2022-03-03 13:54] danilopolani commented on #32
@nunomaduro I noticed that Pest v2 is ready to support annotations when building the test method:

https://github.com/pestphp/pest/blob/04663e0c8e046fafaa7006ea9f6803623e1833e0/src/Factories/TestCaseMethodFactory.php#L137-L145

With this change it should be easy to implement `@covers`, right? Additionally PHPUnit 10 now *prefers* (I guess? Currently it accepts both attributes and annotations) [PHP

[2022-03-04 16:38] fabio-ivona commented on #483
@fran-f  the issue is fixed by #487

[2022-03-04 16:38] #483 closed

[2022-03-05 08:56] fran-f commented on #483
Thank you @fabio-ivona !

[2022-03-07 14:17] danilopolani commented on #451
Paratest is already present in the requirements of `pest-plugin-larallel`, why are you installing it directly? 🤔 By the way I use daily XDebug 3 with `XDEBUG_MODE=develop,coverage` and no issue so far.

[2022-03-07 14:41] jsonUK opened #494 "Pest.php not available with different test folder name"
### Problem

`tests/Pest.php` does not autoload if your tests folder is different to `tests/`.

ie. I changed the phpunit.xml.dist folder to be `php-tests` instead.

### Steps to Reproduce
I was able to test this was true by:
- Making sure the function I want to access is present in `Pest.php`
- Remove local function in test file - re-test. Tests fail
- Move the `Pest.php` file to `tests/Pest.php`

[2022-03-07 14:49] danilopolani commented on #494
Hey @jsonUK ,
can you try running your test suite with the argument `--test-directory` and see if that works? E.g.

[code]

[2022-03-07 14:55] jsonUK commented on #494
Hi - with the test I have setup, the tests turn green after trying that command, though I would say its not ideal to override from the CLI.

[2022-03-08 11:42] danilopolani commented on #494
It make sense that it should be read from the `phpunit.xml` configuration too before the default "tests" folder.
PHPUnit already has a buch of useful methods to read and parse the configuration from a `phpunit.xml.*` file, but they are all private, but they can be a nice starting point.

Maybe, if @nunomaduro , @lukeraymonddowning , @fabio-ivona and other maintainers approve this request, should i

[2022-03-09 10:50] shinycactus commented on #415
How did you remove the cache?

[2022-03-09 19:48] ChristianPavilonis commented on #451
@SimonJnsson That didn't seem to work for me. I may have to try XDebug.

[2022-03-14 11:16] bastien-phi opened #499 "Text coverage fails with parallel"
Running pest with parallel testing and test coverage fails with

[code]

It looks like the `BaseRunner` overrode in https://github.com/pestphp/pest-plugin-parallel/blob/master/build/BaseRunner.php#L215 is outdated (see  https://github.com/paratestphp/paratest/blob/5123a31dbf0b5deeaec17b00c0c5f31732c14483/src/Runners/PHPUnit/BaseRunner.php#L212)

[2022-03-14 12:10] owenvoke commented on #499
Hey @bastien-phi, do you mind opening a PR for this on the Parallel plugin repo?

[2022-03-14 13:58] bastien-phi commented on #499
@owenvoke PR opened !

[2022-03-15 13:42] ZeroGodForce commented on #181
I have exactly this same issue.  Worked fine when I was using `beforeEach` but not for `beforeAll`.  Did you ever find a resolution?

[2022-03-15 23:27] emaia opened #500 "Error with depends() test order"
Hi guys! I would like to implement some tests that depends of other tests. I'm using depends() method to do it but when I run the test suite some times it fails but some times it pass. See my example results. Am I doing something wrong or is it a bug?

[code]
No code change. Run it again:

[code]

Test file to reproduce:

[code]

Run `./vendor/bin/pest --group=integration` some times

PHP 8.0.16
p

[2022-03-16 07:29] bastien-phi opened #501 "[2.x] Laravel is not detected when using Domain Oriented architecture"
# How it started

I was running `php artisan test --parallel --recreate-databases` and it appeared that the databases were not recreated.

# What I found

`Illuminate\Testing\ParallelTesting::callSetUpProcessCallbacks` was never called, causing the databases not to be dropped (via the callback defined in `Illuminate\Testing\Concers\TestDatabases::bootTestDatabase`)

This was caused by the fact tha

[2022-03-16 07:51] bastien-phi commented on #501
Maybe testing that Laravel is installed but Orchestra not could do the trick :

[code]
or using `composer-runtime-api ^2.0`, it could be possible to change this to
[code]
Again, I'm not sure this won't cause any problem

[2022-03-16 08:24] lukeraymonddowning commented on #501
Thanks for your detailed info on this. Do you feel confident enough to open up a PR for it?

[2022-03-16 08:38] bastien-phi commented on #501
I can change the implementation (either way) but I just want to be sure I won't broke something I'm not aware of...

[2022-03-19 10:22] Muffinman opened #504 "Guidance requested: tracking down Github actions failure"
Hi,

I'm trying to work out why my test are failing in Github actions only - but runs absolutely fine with `php artisan test` locally.

https://github.com/Muffinman/InfiniteConflict/runs/5610806470?check_suite_focus=true

Some tests were failing with 403 errors, and after a bit of guesswork I tracked this down to my `authorize()` methods on Laravel `FormRequest` classes.

https://github.com/Muffin

[2022-03-21 18:58] emaia commented on #500
Hi! After hours getting deeper into this I finally fixed my problem removing executionOrder="random" from the phpunit.xml 😑

[2022-03-21 18:58] #500 closed

[2022-03-22 13:23] lukeraymonddowning commented on #499
Closing this as it looks as though the issue is now resolved! Thanks for your contribution!

[2022-03-23 18:09] tlaverdure commented on #225
Is this a hack, or is this a possible solution? 🤔

[code]

[2022-03-24 09:04] danilopolani commented on #494
I think I can work on this in the next days 🤞

[2022-03-24 09:10] lukeraymonddowning commented on #494
Awesome! Thank you. And yes, please target v2 (main) branch.

[2022-03-24 12:58] paulshryock commented on #15
This feature would provide a lot of value. In a single test suite, I might test multiple functions, and with multiple scenarios. But all the console descriptions are "it does ____". It would be really nice to be able to group things by function or scenario with `describe()` blocks. This would (1) provide a better development experience, and (2) provide a better debugging experience while reading t

[2022-04-04 13:28] msvujnovic-becklyn opened #509 "toThrow expectation does not work in higher-order tests"
Given these equivalent test scenarios:

[code]

The first one passes, while the second one fails with the `\InvalidArgumentException` bubbling up. Is it possible to make `toThrow` work in higher-order tests like in the second example?

[2022-04-04 20:09] danilopolani commented on #494
@lukeraymonddowning @nunomaduro should this be considered closed since it's going to be addressed in v2?

[2022-04-05 23:55] Lukasss93 opened #512 "Different behavior between phpunit and pest when using depends"
Hi,
I don't know if this "_bug_" (?) is related to this plugin or to **Pest** itself...

When I run a single test with **PHPStorm**, I noticed that there is different behavior between **PHPUnit** and **Pest** when using `@depends`.

### PHPUnit: correct behavior ✅
![immagine](https://user-images.githubusercontent.com/4071613/161869383-88449789-44df-4f77-bdfa-2a7053bb3954.png)

### Pest: wrong beha

[2022-04-06 09:20] jsonUK commented on #494
Thank you for adding this as a feature. Looking forward to using it in v2 when you release it 🙂

[2022-04-07 23:00] fran-f commented on #15
One more vote for `describe()`, and possibly `context()` as an alias.

I segment test files using comments, but they are not included in reports. And when a class has more than a couple of methods, I sometimes have to artificially change test descriptions to avoid collisions. A way to group tests inside the same Pest file would be a great addition!

[2022-04-08 05:19] markhuot opened #511 "Remapping Code Coverage Report"
I’m looking through the Coverage plugin/support and I’d like to extend it to support remapping compiled PHP templates to their direct raw counterparts. For example, taking coverage info for compiled twig templates and converting it to lines/percentages of the original `.twig` file.

it seems like I could maybe do this by swapping out the entire coverage plugin, but I really don’t want to have to r

[2022-04-14 08:10] olivernybroe commented on #512
I have moved this bug reported on the IntelliJ plugin to the pest repository as for me it looks like a pest issue.

If this is in fact something extra I need to do in the plugin, we can move it back 👍

[2022-04-14 13:08] dingo-d opened #513 "Pest.php file is called before bootstrap file from phpunit.xml?"
I'm not sure if this is the intended behavior, but it is a bit odd (at least it is to me 😂).

I'm trying to set up WordPress integration tests using Pest. For that to work, I'd have to change the underlying test case from the `PHPUnit\Framework\TestCase` to WordPresses' `WP_UnitTestCase` ([link to class](https://github.com/WordPress/wordpress-develop/blob/trunk/tests/phpunit/includes/testcase.php)

[2022-04-16 19:52] SamuelMwangiW opened #514 "Tag pestphp/pest-plugin-parallel"
Hi PestPHP team,

Thanks a lot for the amazing work you do 👏🏽.

Am facing an issue while running Pest in parallel with coverage that was fixed in pestphp/pest-plugin-parallel#12.

I notice that the [latest release](https://github.com/pestphp/pest-plugin-parallel/tags) `1.0.0` does not contain the fix and using `dev-master` instead works.

Thanks once again

[2022-04-25 22:13] abernh opened #516 "`./lib/vendor/bin/pest --init` fails if vendor dir is not in project root"
## The bug
If the vendor directory is not placed on the root level, but e.g. in a sub directory like `./lib`, then running `./lib/vendor/bin/pest --init` is failing with
[code]

## Expected
Pest should properly run independent of the directory structure.

## Setup
 - PHP: 7.4.9
 - Pest 1.21

## Steps
 - add special sub directory in `composer.json`: `"config": {"vendor-dir": "lib/vendor"}`
 - requi

[2022-05-02 08:33] grEvenX commented on #437
This exception no longer occurs, but I was getting this message instead which could be related to the original error:

The solution, in this case, was to add the `coverage` section to the `phpunit.xml` file as described in the documentation: https://pestphp.com/docs/coverage#filters
After adding that, coverage works as expected.

[2022-05-02 08:33] #437 closed

[2022-05-02 13:05] rinodrummer commented on #516
Another possible message is this:

[code]

[2022-05-05 10:57] bradsi commented on #451
@ChristianPavilonis I have this error as well. Did you manage to make any progress on it?

[2022-05-05 11:28] bradsi commented on #451
I was running into the same error and for me the issue was due to having `processUncoveredFiles="true"` in my `phpunit.xml` file. I've removed this and all seems to be fine now.

Not sure exactly what's going wrong here, but I can now run code coverage with Pest and Pcov so I'm happy!

[2022-05-05 16:48] ChristianPavilonis commented on #451
@bradsi, That did it. Thanks!
Any idea as to why that breaks it?

[2022-05-05 18:13] ZiperRom1 opened #518 "$this context in beforeAll and afterAll"
Hello,

Is this possible to access `$this` context in `beforeAll` and `afterAll` Setup and Teardown methods ?

Got a `Using $this when not in object context` when I attempt to and this is frustrating because I need to setup one object in `beforeAll` closure that would be accessible in all testCases.

[2022-05-05 18:30] owenvoke commented on #518
It's not possible (in the same way it's not in PHPUnit). 👍🏻 You should use `beforeEach()` and `afterEach()` instead, which are the equivalent of `setUp()` and `tearDown()` in PHPUnit. 🙂

[2022-05-06 00:41] #518 closed

[2022-05-06 00:41] nunomaduro commented on #514
cc @lukeraymonddowning Can you take a look at this?

[2022-05-06 04:55] bradsi commented on #451
@ChristianPavilonis Awesome, glad I could help!
Looks like it's something to do with the routes files being loaded. There's a further discussion on this [here](https://github.com/laravel/laravel/pull/3725)

[2022-05-06 13:28] lukeraymonddowning commented on #513
Could you try updating your `composer.json` to load in that file? The composer autoloader is booted prior to Pest.php, but if that TestCase isn't registered with PSR-4, it won't be auto-detected.

[2022-05-06 13:35] lukeraymonddowning commented on #511
Don't know what @nunomaduro thinks but I say go for it! Just be sure to target the master branch as we're limiting v1 changes to bugfixes in light of 2.x being on the horizon.

[2022-05-06 13:36] lukeraymonddowning commented on #509
@msvujnovic-becklyn would you be open to submitting a PR to fix this?

[2022-05-06 14:31] dingo-d commented on #513
I managed to solve this issue, so it shouldn't be a problem anymore, it's just that I kinda thought that Pest.php would be run after the bootstrap file (referenced in phpunit.xml), but I think from the PHPUnit documentation it's actually the correct behavior (bootstrap being run before test cases).

[2022-05-06 14:31] #513 closed

[2022-05-06 14:51] nunomaduro commented on #509
This issue needs to be fixed on Pest v1, and Pest v2.

[2022-05-07 11:07] naikshy opened #519 "Laravel Autoload require_once Console.php error"
PHP 8.0.14
Laravel Framework 8.80.0

### How it started
After ran
`composer require pestphp/pest-plugin-laravel --dev`

got error
[code]
### Why
`pest-plugin-laravel/src/Autoload.php` trying to load  `console.php` in the laravel root directory, instead of `/vendor/pestphp/pest-plugin-laravel/src/Console.php`
[code]
### How to fix
Use more specific file path
[code]
instead of
[code]

[2022-05-07 11:28] owenvoke commented on #519
Interesting, sounds like a good idea. Do you want to open a PR? 👍🏻

---

On another note, you can do:
[code]
The `/` directory separator works on all OSs, and is converted to backslash on Windows. And `__DIR__` is the equivalent of `dirname(__FILE__)` 👍🏻

[2022-05-07 20:26] naikshy commented on #519
Thanks for the note)
yeah, I'll create the PR

[2022-05-07 20:26] #519 closed

[2022-05-09 15:54] ZiperRom1 opened #521 "[feature] Public access method to Dataset"
Hello,

In some tests I needed to access a `dataset` into a `test` for some processing before testing.

I used

[code]

With success but with IDE warning about accessing internal function : `Class Datasets is marked as @internal`.

It could be good to allow users to access `dataset` "legally" with a function.

[2022-05-14 01:19] Parables commented on #1
Works when I use a trait
 throws this error when it is a class: `Test case X can not be used. The folder `ExampleTest.php` already uses the test case `TestCase`

[2022-05-18 17:34] pildit commented on #512
I think it's about the naming.

Can  you try to use :

`->depends('test foo') `

It worked for me when i used it like

`->depends('it foo') `

[2022-05-19 09:59] pildit opened #523 "Can not run phpunit after installing pest"
After installing pest, i try to run some tests with phpunit, but i get this error :

[code]

Is this  normal ? I expect to be able to run phpUnit even if i installed pest.

[2022-05-19 13:46] #523 closed

[2022-05-19 16:01] ZiperRom1 opened #525 "[BUG] The "--coverage" option does not exist."
Hi,

### Docker env

**PHP** 8.1.6
**Pest** 1.21.2
**PHPUnit** 9.5.20
**xdebug** 3.1.4

`xdebug.mode=develop,debug,coverage`

### Bug

When I run `./vendor/bin/pest --coverage` all the tests are being run but at the end I have `The "--coverage" option does not exist.` output.

**Sample output**

[code]

[2022-05-20 12:28] nunomaduro commented on #525
What happens if you run pest outside the docker env?

[2022-05-20 14:19] ZiperRom1 commented on #525
@nunomaduro Seems like the `--coverage` option is not even parsed.

The tests runs (with some failures because I didn't install all the services in my local env only PHP8-1 with composer and xdebug) and then nohing.

`./vendor/bin/pest --coverage`

**output**

[code]

[2022-05-20 16:48] fabio-ivona commented on #525
How are you triggering the command inside your docker container?

[2022-05-25 13:11] IAmRGroot opened #527 "Allow lazy datasets to have a custom description"
I'm using pest with Laravel and I would like to have a description to the following lazy dataset, but I can't seem to do that.

[code]

Right now this dataset resolves to `(Closure Object (...))` in the output, but I would like to customize that. It would be ideal if this would work:

[code]

The following works, but is not lazy:
[code]

[2022-05-27 09:00] olivernybroe commented on #527
@dr41d45 Could you please confirm that you copy/pasted the right output?

Looking at your result, it says `test for all`, however your test name is `it has emails`.

[2022-05-27 09:00] fabio-ivona commented on #527
@dr41d45  could you check the code you pasted? the result's text doesn't match your test description

if I run your code here's what gets printed:

![image](https://user-images.githubusercontent.com/8792274/170667564-a4f3ab0d-c599-42e9-83af-0c066d4b0cc4.png)

[2022-05-27 13:46] amrmsccs opened #528 "Weird Behavior When using Laravel Factory Within Datasets?"
I have tried using `UserFactory::class` within a Dataset i.e my Dataset name is
According to this suggestion I tried but didn't succeed as well [https://laracasts.com/discuss/channels/laravel/factory-cant-be-seen-in-unit-test?page=1&replyId=563688](url)

  `<?php

      use App\Models\User;
      use Illuminate\Foundation\Testing\RefreshDatabase;
      /**
       * According to different Suggestio

[2022-05-28 17:47] #527 closed

[2022-05-30 07:50] IAmRGroot commented on #527
Why is this closed? My issue was specific for lazy datasets and the following doesn't work:

[code]
Gives
![image](https://user-images.githubusercontent.com/8398505/170943694-35b139a8-985b-4ac3-9433-3fdeddf7e51e.png)

[code]
Gives
![image](https://user-images.githubusercontent.com/8398505/170943773-ec5330df-d0cc-4056-a0b5-9611783f813f.png)

[2022-05-30 19:00] wvandeweyer commented on #528
Did you install the pest faker plugin?
https://pestphp.com/docs/plugins/faker

[2022-05-31 08:37] fabio-ivona commented on #528
@amrmsccs  when your dataset tries to make a user from factory, the Application is not yet loaded. In order to achieve this you should wrap the factory call in a closure and return the dataset as a generator (using `yield`):

[code]

![image](https://user-images.githubusercontent.com/8792274/171130535-86ef370c-06ff-4b6c-a312-5bc280d97633.png)

[2022-05-31 08:37] #528 closed

[2022-06-05 07:49] IAmRGroot commented on #527
@fabio-ivona see above comment

[2022-06-05 17:54] fabio-ivona commented on #527
@IAmRGroot v1 is on feature freeze, so it is not a planned feature. We are evaluating internally if it's worth to include it in v2

[2022-06-07 13:02] sinnbeck commented on #525
I run it using docker (lando), and have no such issue. Works both from CLI and from phpstorm. Can you explain step by step, how you are running the command? Is it run through `docker run` or similar?

[2022-06-07 23:26] ZiperRom1 commented on #525
I have a `docker-compose.yaml` file with couple of services like ElasticSearch / Kibana and a php 8 alpine env with the following

**Dockerfile**

[code]

Then I start the services in background with `docker-compose up -d`.

Finally I login into the php container with `docker exec -it -e SHELL=bash php-container-cli bash` in a terminal and I can run my commands in the Symfony php console app.

Oh

[2022-06-09 13:06] ZiperRom1 commented on #525
@sinnbeck

Just meaning after login to the php container in a console I call `./app my-command` to use the php Symfony application.
The **app** file is a php file starting with a shebang `#!/usr/bin/env php` and containing app launcher logic.

But I don't call the app before launching the tests, I run `./vendor/bin/pest` right after entering the php container.

Strange thing is that all tests are

[2022-06-09 16:16] sinnbeck commented on #525
@ZiperRom1 That is indeed strange! I can recreate it with your docker image and I even tested it with lando. In all of my own apps (running laravel instead of symfony) it works.. I will try and get it working but I am quite unsure what the problem is. Perhaps someone can test it outside of docker?

[2022-06-10 05:39] sinnbeck commented on #525
Ok I found the error. @nunomaduro This might be a problem with pest due to a wrong error message or similar?

@ZiperRom1 Open phpunit.xml and remove
[code]
from `<coverage>` and it starts working

[2022-06-10 08:07] ZiperRom1 commented on #525
You rock! Thank you, I was banging my head to find out what config settings I was missing...

Indeed a tiny sand dust in a config file resulting in a strange behaviour.

[2022-06-10 08:07] #525 closed

[2022-06-12 13:58] #451 closed

[2022-06-15 21:02] ipontt opened #532 "Test code stops executing after throwing an Exception"
I have a method:
[code]
I want to test two things:

1. This method throws an exception if a condition is met
2. No database changes are done

However, if I use `throws()`, I can not make any further expectations.

[code]

A more simple example is:
[code]
The only way I've found to do what I want is using a try-catch block inside the test.

[code]
I was wondering if there was another way.

[2022-06-15 21:37] fabio-ivona commented on #532
You can use

[code]

[2022-06-15 21:47] ipontt commented on #532
That works, thanks fabio.

[2022-06-15 21:47] #532 closed

[2022-06-22 21:20] ilyavaiser commented on #237
Why is it closed? It is currently impossible to do setup tests in Laravel with Pest.  And this is a huge problem. I can't run common code for all tests in the context of a laravel application.

[2022-06-23 12:18] kristoffermodified opened #533 "Database Transactions causing locks"
When using the laravel trait `DatabaseTransactions` it causes issues in combination with Mockery when running multiple tests at once.
It seems to be caused by locks on the database, and them not being reset with the `DatabaseTransactions` trait.
![image](https://user-images.githubusercontent.com/50329393/175296158-3d13d1d6-8f3c-428d-983a-d3cdf3438c3b.png)

I think the process goes something like t

[2022-06-30 10:01] mitulgolakiya commented on #415
For me, error fixed by specify `->in` parameter after `uses(Tests\TestCase::class)->in(__DIR__);` in `Pest.php`.

Previously it was just `uses(Tests\TestCase::class)`;

[2022-07-04 23:21] ceilidhboy opened #535 "Calling test() with no parameters gives a "This should not happen..." error message"
The following test file is all you need to create the issue

[code]
Running this test gives the following error message:

[code]

Cute :)

Seems pretty obvious what the problem is but it shouldn't generate a "This should not happen..." message and request a bug report :)

[2022-07-05 10:34] nunomaduro commented on #535
Can you make a pull request that addresses this issue please?

[2022-07-08 16:56] boobooking opened #539 "RefreshDatabase recreates database on every test"
If I understand correctly how **RefreshDatabase** should work - it should keep database up to date with migrations, and run all tests in database transactions.

What I see now is that RefreshDatabase recreates database with every test - it works the same as **DatabaseMigrations** does.

What am I missing or cooking wrong?

[2022-07-09 05:53] fabio-ivona commented on #539
Is your database "in-memory"? Laravel migrates in memory databases before each tests

Source code for reference https://github.com/guiwoda/laravel-framework/blob/master/src/Illuminate/Foundation/Testing/RefreshDatabase.php

[2022-07-09 18:45] boobooking commented on #539
No, not in-memory database in my case. I run tests using MySQL database.

And here is the configuration of traits I use:
uses(TestCase::class, CreatesApplication::class, RefreshDatabase::class)
    ->in('Feature', 'Unit');

[2022-07-10 00:14] PH7-Jack opened #541 "Target class [request] does not exist."
### Description
When I'm testing a blade component that has many usages of the request class, the test fails. If I run the same code in the PHPUnit test it works.
PS: if the test is moved to the feature namespace the request class can be used

### Versions
[code]

### test
/tests/Unit/ExampleTest.php
[code]

### Error
![image](https://user-images.githubusercontent.com/38913462/178126508-9bff56fd-a

[2022-07-11 07:07] owenvoke commented on #541
The request class is pulled from the container, and therefore requires using a TestCase with app access. You'll probably need to do this as a feature test, or add a `uses()` call with your TestCase class.

[2022-07-19 18:03] philsturgeon commented on #15
I'd love for Pest to use describe-it syntax, which includes describe and context. Right now we just have it syntax, and I'm overloading a lot of context into test names. Its also making it hard to share setups.

[code]

If this was using other describe-it tools in other languages I'd be doing this:

[code]

This is a load more lines but the output and debugging improvements that come with it are w

[2022-07-20 07:32] alexkuc opened #542 "Phpdoc for $this inside tests enabled auto-completion"
It's more of a suggestion for documentation than anything else really. When creating a test, `$this` is offers no auto-completion suggestions. But with a simple Phpdoc, this problem can be resolved:

![Screenshot 2022-07-20 at 10 31 21](https://user-images.githubusercontent.com/3331946/179923506-5c7aa984-9d43-4982-8835-9b7f4897260c.png)

![Screenshot 2022-07-20 at 10 31 31](https://user-images.git

[2022-07-20 11:15] lnfel opened #543 "Bug when using uses() on non-laravel project"
Hi I'm developing a php package and was really excited using Pest for testing. Installed it and successfully got past the `Unknown option --init` https://github.com/pestphp/pest/issues/516#issuecomment-1189934508 issue.

Now I am facing another one regarding `uses()` and in the [documentation](https://pestphp.com/docs/underlying-test-case#testspestphp) it recommends using it inside `Pest.php` file

[2022-07-22 05:19] trip-somers opened #544 "Laravel Livewire Plugin: date cast with format causes test failures"
1. Eloquent model contains: a `'dateAttribute' => 'date:Y-m-d'` cast.
2. All tests of this component fail during Livewire's hydration cascade (see below), but it continues to display properly via browser.
3. When changing the cast from `date:Y-m-d` to `date`, all tests pass, but `<input type="date" wire:model="dateAttribute" ... >` fails to bind the existing value.
4. [ADDED] Potentially complicat

[2022-07-22 05:24] trip-somers commented on #544
I was able to recreate this with the following setup:

Model:
[code]

Component:
[code]

Template:
[code]

Test:
[code]

[2022-07-22 05:32] trip-somers commented on #544
I have narrowed this further to an interaction with the PHP Faker library. Somehow dates faked with `dateTimeBetween()` cause this problem.

[2022-07-22 07:59] owenvoke commented on #544
Hi, please could you provide a small reproducible repository that we can use to test this? 🙂

Regarding the reason it shows `$subject` is the issue, it's because that's the 2nd parameter to the `preg_match()` function signature. 👍🏻

[2022-07-22 14:10] trip-somers commented on #544
Maybe if I get to the end of a sprint with a whole bunch of spare time, sure.

[2022-07-22 14:34] owenvoke commented on #544
Just copied your code examples verbatim into a clean Laravel app, and was unable to reproduce.

![Screenshot 2022-07-22 at 15 21 21](https://user-images.githubusercontent.com/1899334/180459366-de8b1e0e-a904-46a4-8e2f-d7573f2e901f.png)

https://github.com/owenvoke/pest-544-repro

---

No rush about the repro, I'll try and have a look into it if I get time. 👍🏻

[2022-07-22 14:43] trip-somers commented on #544
I will admit to trying my base case on an existing app instead of a fresh one, but the only other thing I can think of would be that the database is MongoDB and the models use the `jenssegers/laravel-mongodb` repo. I will mess around with it some more when I can.

For now, my work-around was to change the factory to use a string.

[2022-07-22 17:05] rshaw5 opened #545 "Failed finding any tests to rerun in Pest v1.21.3"
## Setup
- Laravel Framework 9.9.0
- docker image: sail-8.1/app
- Docker Compose version v2.6.1
- PHP 8.1.8 (cli) (built: Jul 11 2022 08:30:39) (NTS)
  - Zend Engine v4.1.8, Copyright (c) Zend Technologies
    - with Zend OPcache v8.1.8, Copyright (c), by Zend Technologies
    - with Xdebug v3.1.4, Copyright (c) 2002-2022, by Derick Rethans
- Pest 1.21.3
- PHPUnit 9.5.20
- PhpStorm 2022.1.3
- PhpS

[2022-07-22 17:22] rshaw5 commented on #545
Probably the wrong repo. I think this is an error with the PhpStorm plugin and not Pest itself.

[2022-07-22 17:22] #545 closed

[2022-07-22 21:19] trip-somers commented on #544
Quick note to say that I have updated previous comments with MongoDB context.

[2022-07-23 06:47] owenvoke commented on #544
Thanks, I'll try and take a look soon using MongoDB. 👍🏻

[2022-07-23 19:23] wilpat opened #547 "./vendor/bin/pest throws error"
I just installed the version 1.21 of pestphp/pest for a small php library.

Installations works until I try running `./vendor/bin/pest`

I keep getting this error: `Exclusive locks are not supported for this stream`

Research on this error has proven unsuccessful as I could not find a similar case.

Please let me know if you've experienced this before and how you fixed it.

Thanks!

[2022-07-24 06:33] fabio-ivona commented on #547
Hi, could you past here the full console output?

[2022-07-24 09:52] wilpat commented on #547
Hi @fabio-ivona the full error was `file_put_contents(): Exclusive locks are not supported for this stream`

I have figured out the issue.
I was running this from the htdocs of the vm version of xampp running on my laptop.

Taking the project out of here solved this issue.

Thanks!

[2022-07-24 09:52] #547 closed

[2022-07-25 12:54] juanpferreira opened #548 "Calling `toMatchArray()` with an empty array performs no assertions."
Basically
[code]
results in a risked test because it performs no assertions. I know that `toBeEmpty()` exists, but when receiving the expected result from a dataset, it would be simpler to just pass the expected array and have it succeed if both are empty. I suppose that simply comparing the length inside `toMatchArray()` (additionally to the current assertions) would be enough to prevent this.

[2022-07-25 13:23] fabio-ivona commented on #548
toMatchArray check against a subset, iterating its elements

You should use `expect([])->toBe([])`

[2022-07-25 13:23] #548 closed

[2022-07-26 16:18] raveren commented on #15
This would be the selling feature for me to ditch phpUnit for.

In fact I was under the impression Pest already has the elegant RSpec context syntax. Why do people switch then??

[2022-07-31 16:00] lasseeee opened #549 "PHP Storm Pest plugin readme update"
The path in the PHP Storm Pest plugin readme reads

it should be updated to

[2022-08-02 02:15] llagerlof opened #550 "libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)"
Using Bash on Fedora 36, PHP 8.1.8, logged as a common user.

The error happens when answering "yes" to star the repository.

I ran the steps 1 and 3 of https://pestphp.com/docs/installation

In step 3:
[code]

[2022-08-02 06:25] olivernybroe commented on #549
@lasseeee thanks. Yes PHP Storm made this change in the last year, however the old path is still valid when using IntelliJ Idea.

I think the best solution here would be to just have both paths in the readme and state that one of them is for PhpStorm and the other is for other IDE's.

Feel free to submit a PR 👍

[2022-08-02 09:02] ariaieboy opened #552 "phpstorm not detecting tests in parallel run"
when i run the tests using `-p` option, the phpstorm not detecting the tests and return "Tests passed: 0" after running tests in parallel mode. while i have 160 passed test in RUN log and if i remove the -p option it will detect the tests currectly.

[2022-08-05 06:16] ElRochito opened #553 "Question : Orchestra annotation"
Hi,

How we can use `@environment-setup` annotation from `orchestral/testbench` on a Pest test ?

Thanks

[2022-08-08 19:53] nunomaduro commented on #553
No.

[2022-08-08 19:53] #553 closed

[2022-08-08 19:54] nunomaduro commented on #553
In fact, you can. Create a regular class, that extends the base test case from `testbench`, and add that annotation. After, use the `uses` in your own test case.

[2022-08-08 22:48] SimonMacIntyre commented on #237
This is a major bummer, it seems like a fair ask and standard test flow to want to seed something before all tests, once, in this manner.

[2022-08-09 08:38] #541 closed

[2022-08-09 08:39] nunomaduro commented on #550
Sorry, we don't know what this error is.

[2022-08-09 08:39] #550 closed

[2022-08-11 15:45] dingo-d opened #555 "[PHP 8.2] Handling dynamic properties?"
I'm wondering what is the correct way of handling dynamic properties defined in the `beforeEach` method?

In the documentation there is the following example:

[code]

But in PHP 8.2, dynamic properties are deprecated, and this will throw a notice that will fail the tests:

[2022-08-11 16:22] nunomaduro commented on #555
@fabio-ivona Can you take this one? We need to fix this on Pest v1.x, and Pest v2.x.

[2022-08-11 16:39] fabio-ivona commented on #555
Sure, but I'm out on vacation, will be back on 22nd of August

If it is not too late, I'll handle it

[2022-08-11 17:23] ariaieboy commented on #552
@olivernybroe sorry for the late response I didn't get a notification about your reply.

![image](https://user-images.githubusercontent.com/15873972/184194840-d44387ba-45e6-472d-8542-f985fabffc3c.png)

[code]

[2022-08-11 17:29] ariaieboy commented on #552
this the command that phpstorm runs
`php /var/www/html/vendor/pestphp/pest/bin/pest --teamcity -p --configuration /var/www/html/phpunit.xml`

it shows tests styled :
![image](https://user-images.githubusercontent.com/15873972/184195870-37e237e4-b9b7-4b11-a642-e1932902d6fd.png)

in this picture it's obvious that more than 200 tests has been passed but phpstorm didnt detect any of it:
![image](https

[2022-08-12 06:28] olivernybroe commented on #552
Huh, weird that it is able to run for you at all with those arguments, but yeah the issue is that the `teamcity` printer is not taken affect when having parallel flag on and without that output format, I cannot detect it in phpstorm.

Therefore the solution here is that pest needs to support teamcity printer in parallel also 👍

[2022-08-12 21:23] ariaieboy commented on #552
in this line [PestRunnerWorker.php#L84](https://github.com/pestphp/pest-plugin-parallel/blob/264f8086f2d0b4a7e657cf5ca48de6ed5587332a/src/Paratest/PestRunnerWorker.php#L84) parallel plugin will force the default printer.

I changed this line with this code :
[code]
and I managed to get TeamCity output from the parallel plugin.
but it has 2 problems:
first, it prints a lot of spam messages like thi

[2022-08-15 13:28] olivernybroe commented on #552
@ariaieboy I think unfortunately more work on the TeamCity driver would be needed as it is currently very basic.

Might be solvable by using flowids? 🤔
https://www.jetbrains.com/help/teamcity/service-messages.html#Message+FlowId

[2022-08-22 15:33] neoighodaro opened #556 "Skip tests based on dataset"
Currently there's no (obvious) way to skip tests based on datasets. For example I have some repeating tests that have to be checked for several routes, I use a dataset to feed the route since the logic to check is the same. However, in some routes, this test does not make sense so I want to skip these routes.

Currently returning early ignores these tests which is the behaviour I want but I also n

[2022-08-23 09:35] dansysanalyst commented on #556
Hi @neoighodaro,

Could you perhaps mark the test as skipped?

[code]

[2022-08-24 11:29] diegonella opened #558 "PHP Fatal error: Uncaught ReflectionException: Class cache.store does not exist"
I have installed pest with laravel plugin, after installing it in my project with the following commands

[code]

But when I run
php artisan route:list or php artisan tinker

It just doesn't do anything.

In php-pfm.log
[code]

I'm using
PHP 7.4.29
Laravel 8.83.13

Any idea where the problem could come from?

[2022-08-24 13:57] neoighodaro commented on #556
Thanks! I totally missed that :/

[2022-08-24 13:57] #556 closed

[2022-08-24 14:14] fabio-ivona commented on #558
Hi @diegonella could you share a simple repository with a reproduction of this issue?

I can't see any reference to Pest in your stacktrace

[2022-08-29 13:45] diegonella commented on #558
Hello, sorry for the delay, I was with c0v1d, luckily I'm better now.
I am going to prepare a repository and I am going to share it with you, since it is a private repository.
I will be sending you the invitation during the day.

[2022-08-31 10:19] HugoHeneault opened #567 "Files from folder `app` not covered"
Hi hi! 👋

Here's my `phpunit.xml` file:

[code]

And here are the coverage results:

[code]

I can't figure out why files from `app` folder are not shown here.

Thanks for your help (and Pest!)

[2022-08-31 13:03] frankroc2022 commented on #512
Not working for me.

[2022-09-07 04:40] luilliarcec opened #571 "PHP Fatal error returns when trying to run tests in parallel"
The error occurs, only when running the tests in parallel.

[code]

[2022-09-09 08:40] salvationarinze commented on #552
Beautiful work, team. Really hoping for this to be fixed 🤞

[2022-09-10 23:34] jefhar opened #573 "throws() needs to check the thrown exception"
As a part-time practitioner of TDD, I write a test expecting a new exception, then write the code to throw the new exception, and at some point I expect my test suite to say that the new exception does not exist. Pest does not report that the exception does not exist.

Minimal example:
[code]

This incorrectly passes.

I believe the `throws()` checks that if the class does not exist, it expects to

[2022-09-11 19:49] luilliarcec commented on #571
See #501

[2022-09-11 19:49] #571 closed

[2022-09-11 21:59] fabio-ivona commented on #573
Hi @jefhar! Thanks for pointing this out. We'll have a look at it soon

[2022-09-12 01:22] thetestcoder opened #574 "Child Test Unable to find parent test when using depends"
Im new with PEST. I facing a issue that is not documented well. Can you please Help me.

![image](https://user-images.githubusercontent.com/67789776/189558590-960bba0d-882c-4c68-a87b-18a80b77dd1c.png)

[code]

Thanks in advance

[2022-09-12 05:17] binaryfire commented on #194
Hi. I’m also using laravel-modules (which has a separate tests folder in each module).

So just to clarify- there’s no way of using Pest in this scenario?

[2022-09-12 06:56] owenvoke commented on #574
I think this might be because `it()` adds `it` to the start of the test name. Try using `test()` for these as then the name will read correctly.

It looks like from your output that the test name doesn't match the depended-on test name.

[2022-09-14 14:50] lcdss commented on #194
@binaryfire Unfortunately no. I switched projects and haven't worked with Pest/PHP anymore.

[2022-09-15 23:05] #432 closed

[2022-09-19 09:11] nunomaduro commented on #501
Please re-open this issue, and the pull request, once the parallel testing plugin is ready for Pest v2.x.

[2022-09-19 09:11] #501 closed

[2022-09-21 07:08] sambenne commented on #539
I have tested this on MySQL using the latest version and can not replicate your issue.

[2022-09-22 02:38] scriptmint opened #585 "Higher order expectation throws error with API response"
Hi,

I am exploring pestphp documentation for higher-order expectations.

[code]

which can also be written as

[code]

Following this example, I write

[code]

to

[code]

It doesn't work and throws an error.

The following code works fine and tests are passed.
[code]

But when used with json('errors') method, it doesn't work and throws an error.

[code]

Is there any limitation in using with API

[2022-09-22 23:01] dansysanalyst commented on #585
Hi @scriptmint,

I believe it is conflicting with the [json()](https://pestphp.com/docs/expectations#expect-json) modifier.

According to the doc:

[code]

You can perform checks on the `status()` or any other method and then apply the `json()` method directly on the `$response` with the help of the [and()](https://pestphp.com/docs/expectations#expect-and) modifier:

[code]

The same logic would a

[2022-09-23 02:57] scriptmint commented on #585
I missed that part in the documentation. Thanks for answering.

[2022-09-23 02:57] #585 closed, assigned to nobody

[2022-09-23 16:43] paulshryock commented on #15
@nunomaduro, what would it take to get this on the roadmap?

[2022-09-25 10:07] neoighodaro opened #589 "Unexpected and downright weird "Route not found" error"
Hey,

Not sure what I could be doing wrong but I have a route that accepts a post request:

It should fail with user is not logged in (i use Jetstream)... When I run the test once it passes, but running the same exact test again in the same file returns a "Route 'login' not found". Any one have any idea why this could be? It only happens when theres some sort of redirect on the previous tests rout

[2022-09-25 10:42] #589 closed, assigned to nobody

[2022-09-25 10:42] neoighodaro commented on #589
Figured out why

[2022-09-26 11:40] dingo-d opened #590 "Dataset type not correctly passed to the original function?"
I'm not 100% sure what is happening here but it's super puzzling to me.

This is my MVP function inside `test.php` file.

[code]

I include it in the `Pest.php` file,

[code]

and inside the example test I have:

[code]

When I run this I get errors

For integer, float and boolean data. I've added

[code]

Inside my test and my function, and inside the test the arguments have correct types (`array

[2022-09-26 12:10] dingo-d commented on #590
Ok, so this is getting more bizarre as I keep digging into it.

When I remove the type hint from the function's argument, I get the correct results from the test (which means I get return type errors as a non-string is returned from the function).

[2022-09-26 12:15] dingo-d commented on #590
Ok, found out why this is happening:

https://www.php.net/manual/en/language.types.declarations.php

🤦🏼‍♂️

[2022-09-26 12:15] #590 closed, assigned to nobody

[2022-09-27 16:37] OliverGrimsley opened #591 "Parallel test hangs no error no output"
Environment - Laravel 9.32.0, PHP 8.1.10, composer 2.4.2 (Mac M1)  Issue replicated on 2 mac minis with identical environments.

Tests run fine in regular mode.

Run either `./vendor/bin/pest -p` or `php artisan test -p` and nothing happens - nothing in error log, no output, nothing.  I just see:
![image](https://user-images.githubusercontent.com/12251451/192582893-dc858eb2-4c4a-45fe-9dab-b3284175

[2022-09-28 12:40] OliverGrimsley commented on #591
Ok, so checking the [Laravel documentation](https://laravel.com/docs/9.x/testing#running-tests-in-parallel) (which I should have fully read), each parallel test creates a new temporary database ("_Laravel automatically handles creating and migrating a test database for each parallel process that is running your tests. The test databases will be suffixed with a process token which is unique per pro

[2022-09-28 12:40] #591 closed, assigned to nobody

[2022-09-28 22:45] zenlex opened #593 "RefreshDatabase unstable in mixed PHPUnit / Pest setup"
On two separate projects I've run into this issue recently. The Laravel projects in question have mixed test suites with some PHPUnit and some PEST tests, all being run together via `artisan test`. The PHPUnit tests contain the `use RefreshDatabase` trait. The Pest tests all have `uses(RefreshDatabase::class)` bound globally in the Pest.php file.

When running the full feature test suite, sometime

[2022-09-30 10:28] ntnp opened #594 "Property access via dot notation"
Currently, when working with int-keyed arrays, `HigherOrderExpectation` allows this syntax:

[code]

Personally, using `->books->{0}` looks a bit hacky. As a workaround we could easily allow the following syntax, which would still be backwards compatible with the one above:

[code]

Is there a reason this would be bad looking?

[2022-10-01 17:52] abr4xas commented on #500
@emaia thanks for your comment!!

[2022-10-29 12:36] Bilge opened #601 "Test file not found"
Using the Pest 1.8.3 plugin in PhpStorm, and a configuration that used to work, now suddenly it does not.

[code]

[2022-11-02 14:04] SanderCokart opened #604 "Feature Request: External Dataset Type/Key Hinting for nested and non-nested datasets."
# example test:
[code]

# example dataset:
[code]

# feature request
So either through a plugin for PHPStorm or as a feature for the testing framework it would be nice to know what keys are available in each dataset, as a workaround I am using @ param and @ type but it only works a single object down so in this example submittedData[x] is unknown for autocompletion. I also wish we could just get r

[2022-11-03 16:36] Sairahcaz opened #605 "[PHP 7.3] Error in symfony/console/Output/ConsoleOutput.php on line 33"
Hi,

on the installation page [here](https://pestphp.com/docs/installation) it says PHP 7.3 is supported.
I have php7.3 but when running pest, I get this error:

[code]

[2022-11-03 22:28] dewelooper opened #606 "Cannot access to config('...') or env('...') from test function"
Hello,
Im pretty new in Pest (and PHP UNIT also).

Im facing with strange situation.

I have two PHP projects on my laptop handled by the same enviroment (no docker containers) where I want to start dealing with Pest.

One project is running on laravel 8 and second on laravel 9. Im using PHP 8.1 and newest phpunit (9.5.25).

I installed PEST by default from official site without any problems.

Fin

[2022-11-04 00:00] owenvoke commented on #605
From the output you've provided, it looks like that's an issue with Symfony Console using a syntax that isn't supported (rather than an issue with Pest). Could you post your version of Pest and Symfony Console?

And could you also confirm you aren't ignoring platform requirements with `--ignore-platform-reqs`? 🙂 The syntax change which is being shown (at least without any further details) looks li

[2022-11-04 07:16] Sairahcaz commented on #605
@owenvoke thanks!  `platform-check` was set to `false` on this project. I missed that. Now it's working!

[2022-11-04 07:16] Sairahcaz commented on #605
@owenvoke thanks!  `platform-check` was set to `false` on this project. I missed that. Now it's working!

[2022-11-04 07:16] #605 closed, assigned to nobody

[2022-11-04 19:23] alexmanase commented on #606
Hi there! Can you check if the test case is included in your test files, in `Pest.php`?

[2022-11-07 07:42] fabio-ivona commented on #604
Hi, why not use PhpStorm's array syntax?

![image](https://user-images.githubusercontent.com/8792274/200253202-2579bb6a-d7fe-413f-9680-fd04caeb7678.png)

[2022-11-07 07:42] #604 closed, assigned to nobody

[2022-11-07 08:43] dewelooper commented on #606
Hello,
yes, this was the reason.

I dont know what on old project Pest installed file with commented this one line and on new one without.

Anyway thank you for your help!

[2022-11-07 11:20] #606 closed, assigned to nobody

[2022-11-09 09:33] ElRochito commented on #553
Ok thanks, but I don't see where to add the annotation :(

[2022-11-09 12:33] dingo-d opened #607 "Running tests with coverage mode on PHP8.1 returns error"
I'm using Laravel Valet with PHP 8.1:

[code]

The version of pest and plugin is

[code]

When I set the xdebug mode to be `coverage`, and run my tests using `vendor/bin/pest --coverage` I get

as error.

I tried debugging what could be wrong, and managed to go to `vendor/phpunit/phpunit/src/TextUI/TestRunner.php` on line 666 (😈 )

[code]

After this line the thing dies with the above error.

I'll

[2022-11-09 20:06] nunomaduro commented on #509
Cosing due of lack of activity.

[2022-11-09 20:06] #509 closed

[2022-11-09 20:06] nunomaduro commented on #512
Cosing due of lack of activity.

[2022-11-09 20:06] #512 closed

[2022-11-09 20:06] nunomaduro commented on #516
Closing due of lack of activity.

[2022-11-09 20:06] #516 closed

[2022-11-09 20:07] nunomaduro commented on #521
Closing due of lack of activity.

[2022-11-09 20:07] #521 closed

[2022-11-09 20:07] nunomaduro commented on #533
This is not a Pest issue.

[2022-11-09 20:07] #533 closed

[2022-11-09 20:34] nunomaduro commented on #535
Fixed in `2.x`.

[2022-11-09 20:34] #535 closed

[2022-11-09 20:34] nunomaduro commented on #539
This is not a Pest issue.

[2022-11-09 20:34] #539 closed

[2022-11-09 20:35] nunomaduro commented on #542
You should install the Pest's PHPStorm plugin to fix that.

[2022-11-09 20:35] nunomaduro commented on #544
This is not a Pest issue.

[2022-11-09 20:35] #544 closed

[2022-11-09 20:36] #549 closed

[2022-11-09 20:36] #552 closed

[2022-11-09 20:36] #555 closed

[2022-11-09 20:36] #558 closed

[2022-11-09 20:37] nunomaduro commented on #567
Not sure - please refer the PHPUnit's documentation about the coverage configuration file.

[2022-11-09 20:40] nunomaduro commented on #573
It does not look like a bug to me.

[2022-11-09 20:40] #573 closed

[2022-11-09 20:42] #574 closed

[2022-11-09 20:43] nunomaduro commented on #593
Can you create a project on GitHub where we can reproduce the issue, and re-open an issue here?

[2022-11-09 20:43] #593 closed, assigned to nobody

[2022-11-09 20:44] nunomaduro commented on #594
Can you create a pull request for this for the `2.x` branch?

[2022-11-09 20:44] #594 closed, assigned to nobody

[2022-11-09 20:45] nunomaduro commented on #601
You need to elaborate and find away for us to reproduce the issue.

[2022-11-09 20:45] #601 closed, assigned to olivernybroe

[2022-11-09 20:49] nunomaduro commented on #607
I am unable to reproduce this issue. Sorry!

[2022-11-09 20:49] #607 closed, assigned to nobody

[2022-11-09 20:49] dingo-d commented on #607
Also, this happens when I set the `xdebug.mode=coverage` in the `xdebug.ini` settings, but when I have it set to `debug,develop` and try to trigger the coverage using `XDEBUG_MODE=coverage vendor/bin/pest --coverage` I get a notification

I'll try to create a minimum reproducible example.

[2022-11-09 21:01] AyoobMH commented on #553
@ElRochito , there is a workaround but it isn't the best.
1. Define a trait that you want to include your environment setup in
[code]

2. Use the trait in your test file using `uses`
[code]

3. In your TestCase.php, check if the the disableConfig exists during environment setup
[code]

[2022-11-09 21:29] dingo-d commented on #607
Indeed I cannot reproduce with an MRE, but with it, I get the above error about Xdebug coverage (which is odd, as it should work fine).

I did manage to get the stack trace and from the looks of it, it seems that parsing the code coverage fails in the Lexer.php from the PhpParser.

On further inspection, the 'lowest' dependency which is loaded when I run `composer update --prefer-lowest --prefer-s

[2022-11-10 06:29] alexkuc commented on #542
@nunomaduro It's VSCode, not PHPStorm.

[2022-11-11 15:40] ragulka opened #608 "Lazy datasets ignore description keys"
Given the following test:

[code]

I would expect the test description to be `it has emails with data set "james"`.

Instead, the test description is `it has emails with (james@laravel.com)`

Would it be possible to support description keys for lazy datasets?

[2022-11-11 22:03] nunomaduro commented on #608
Can you check if this PR caused a regression there? https://github.com/pestphp/pest/pull/603.

[2022-11-13 21:55] iamkhusainov7 commented on #246
@ilyavaiser I agree with you, as I am having the same issue. I need to test a table sorting, and for each test case, I need to seed my DB again and again with the same data, which influences the performance of the test. In fact, it should be done only once.

[2022-11-14 09:23] ragulka commented on #608
@nunomaduro I'm not able to verify if it's that exact PR, but the issue does indeed _not_ occur in v `1.22.1`. I also looked at the PR and it does sound like it may be the cause.

[2022-11-14 10:56] joskfg commented on #15
I think this is a main feature for a framework like Pest. Is there any plan for this @nunomaduro?

[2022-11-14 14:51] olivernybroe commented on #15
Just a note to people here. You could create a plugin for doing this instead of `describe` being part of the core of pest, it could be a plugin for people to install if they want it.

[2022-11-16 13:23] marcLeeroy opened #611 "Code coverage not working php 8.1.8 & xdebug 3"
First off, great tool!

My issue is this:

Using php 8.1.8 with xdebug loaded and in coverage mode. running Pest 1.21.3

i get

![image](https://user-images.githubusercontent.com/59919105/202191695-6559e168-4721-48da-947b-af49cab5b90a.png)

![image](https://user-images.githubusercontent.com/59919105/202191558-24dbabd2-875e-43e9-a4f2-7e65ba186e91.png)

is there something i'm missing here?

thanks

[2022-11-16 20:04] zenlex commented on #593
I'll try when I get a minute to see if I can repro on a project I can share.

[2022-11-17 11:21] alexmanase commented on #608
@nunomaduro I will try to create a PR with the fix.

[2022-11-24 10:52] Gerben-T opened #614 "`--process-isolation` not working with v1.22.2"
When running PHP Pest with the option `--process-isolation` it crashes with the following error

[code]

I debugged the code and found that in PHP Unit's source code
https://github.com/sebastianbergmann/phpunit/blob/586c71b0b4e5e574fb4a5e71f5231b09097737ce/src/Framework/TestCase.php#L871
returns the following:
[code]
i think PHP Unit is trying to validate the filename `/home/dev/vendor/pestphp/pes

[2022-11-24 10:53] Gerben-T commented on #614
I see you have moved away from `eval()` in the `v2.x` branch; https://github.com/pestphp/pest/blob/2.x/src/Factories/TestCaseFactory.php#L196-L210

But there is no release yet for this version.

[2022-11-24 16:01] Rikj000 opened #615 "📝 Docs - POST `application/x-www-form-urlencoded`"
How can one correctly pass parameters as `application/x-www-form-urlencoded` data to POST endpoints?

I've been struggling to get this working as following:
[code]

The API I'm working within my example,
expects request data as `application/x-www-form-urlencoded` and responds with `application/json`.

[2022-11-26 11:11] nunomaduro commented on #615
Please only use this issue tracker for reporting bugs with the library itself.

[2022-11-26 11:11] #615 closed, assigned to nobody

[2022-11-26 11:27] nunomaduro commented on #614
Pest never supported `--process-isolation`.

[2022-11-26 11:27] #614 closed, assigned to nobody

[2022-11-26 11:57] nunomaduro opened #616 "Pest's new arch plugin"

[2022-11-26 11:57] #616 closed, assigned to nobody

[2022-11-28 07:54] Rikj000 commented on #615
Excuses,
moved to discussions #617 as it seems a more appropriate place + my issue is not resolved yet.